---
layout: bootcamp_archived
venue: American University of Beirut
country: Lebanon
humandate: March 20-21, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-03-20
enddate: 2013-03-21
latlng: 33.900058,35.482727
instructor: ["Aron Ahmadia"]
registration: open
---
<p>This boot camp is full and registration is now closed.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
<p>
<strong>Requirements:</strong> The course will be delivered in an AUB computer
laboratory using the Linux operating system.  Students are welcome to bring in
their own laptops or connect to remote workstations during the boot camp.
</p>
<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
  <li>using the shell to do more in less time</li>
  <li>using version control to manage and share information</li>
  <li>basic Python programming</li>
  <li>how (and how much) to test programs</li>
  <li>reproducible documents and workflows with make and the IPython notebook
  </li>
  <li>using Python in high performance computing</li>
</ul>
<p>
  <strong>Contact:</strong> Please email
  <a href="mailto:{{site.contact}}">{{site.contact}}</a> for general information about Software Carpentry bootcamps,
  local organizer <a href="mailto:gt02@aub.edu.lb">Prof. George Turkiyyah</a>,
  or instructor <a href="mailto:aron.ahmadia@gmail.com">Dr. Aron Ahmadia</a>.
</p>
