---
layout: bootcamp_archived
venue: University of Oklahoma
country: United-States
address: The Core, Stephenson Research and Technology Center, University of Oklahoma
humandate: July 1-2, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-07-01
enddate: 2013-07-02
latlng: 35.20859,-97.44566
registration: restricted
instructor: ["Paul Ivanov", "Aleksandra Pawlik"]
---
<p><em>This boot camp is restricted to students, faculty, staff and professionals at non-commercial institutions and organizations in Oklahoma.</em></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
