---
layout: bootcamp_archived
venue: University of Wisconsin - Madison
address: Wisconsin Institutes for Discovery, 3rd Floor Teaching Lab
country: United-States
humandate: Aug 28-29, 2013
humantime: 8:30 a.m. - 4:30 p.m.
startdate: 2013-08-28
enddate: 2013-08-29
latlng: 43.07718,-89.40399
registration: restricted
eventbrite: 7317971249
instructor: ["Matt Gidden", "Jens von der Linden", "Lauren Michael", "Paul Wilson", "Anthony Scopatz"]
---
{% include bootcamps/instructors.html %}
<p><strong>What:</strong> Our goal is to help UW-Madison researchers using computing in their
 research to become
 more productive by teaching basic computing skills like program design, version control,
 testing, and task automation. In this two-day boot camp, short tutorials will alternate with
 hands-on practical exercises. Participants will be encouraged both to help one another, and to
 apply what they have learned to their own research problems during and between sessions. There
 will be online follow-up sessions for 6 to 8 weeks extending the material from the boot camp.</p>
<p><strong>Who:</strong> The course is aimed at UW-Madison graduate students, post-docs, staff, and faculty
 who have basic familiarity with programming concepts (like loops, conditionals, arrays, and
 functions), but need help translating this knowledge into practical tools to help them work
 more productively.</p>
<p><strong>Content:</strong> The syllabus for this boot camp will include:</p>
<ul>
<li>using the shell to do more in less time</li>
<li>using version control to manage and share information</li>
<li>workflow automation and scripting (with Python as example)</li>
<li>how (and how much) to test programs</li>
<li>documentation and debugging</li>
</ul>
<p><strong>Requirements:</strong> Participants must bring a laptop with a few specific software 
packages installed. For full curriculum and setup instructions, please see our 
<a href="http://uw-madison-aci.github.io/boot-camps/2013-08-28-uwmadison/index.html">UW-Madison Boot Camp webpage.</a> <br />
Note: we'll be relying on the wireless network in the Wisconsin Instititues for Discovery.
 wireless network.<br />
<b>Please use the elevator behind Aldo's coffee shop to get to the 3rd Floor Teaching Lab.</b></p>
{% include bootcamps/contact.html %}
