---
layout: bootcamp_archived
venue: MIT
country: United-States
address: Room 32-141, CSAIL, MIT, 32 Vassar Street, Cambridge, MA
humandate: July 9-10, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-07-09
enddate: 2012-07-10
latlng: 42.3591326,-71.093201
registration: open
instructor: ["Jessica McKellar", "Greg Wilson"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
