---
layout: bootcamp_archived
venue: Indiana University
country: United-States
humandate: July 11-12, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-07-11
enddate: 2013-07-12
latlng: 39.1663815,-86.526621
eventbrite: 6106951055
instructor: ["Michael Hansen", "Jeff Shelton"]
registration: open
---
<p><em>Registration for this boot camp has not yet opened.</em></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
{% include bootcamps/eventbrite.html %}
