---
layout: bootcamp_archived
venue: "Australian Bioinformatics Network: Adelaide"
address: Ingkarni Wardli, Room 218
country: Australia
humandate: Sep 24-26, 2013
humantime: 9:00 - 17:00
startdate: 2013-09-24
enddate: 2013-09-26
latlng: -34.919159,138.60414
registration: restricted
instructor: ["Ben Morris"]
---
<p><strong>Where:</strong> University of Adelaide, Ingkarni Wardli</p>
<p><strong>When:</strong> September 24-26. We will start at 9:00 and end at 5:00 each day.</p>
<p>Please see the <a href="http://australianbioinformatics.net/swc-bootcamp">posting on the Australian Bioinformatics Network</a> website for information about registering.</p>
<p><em>Registration for this boot camp will be restricted to bioinformaticians.
  We may accept applicants from outside this target audience if space
  permits.</em></p>
{% include bootcamps/instructors.html %}
<p>
<strong>What:</strong> The bootcamp will run over three full days and consist
of a series of short informal "lectures" and longer hands-on sessions with
opportunities for building networks and collaborations. The bootcamp will cover
topics around the theme of <strong>good programming practices</strong>. Many of
the concepts
covered are exemplified using Python. As such, the first part of day one
teaches/orientates the trainees in Python programming concepts. The second day
teaches concepts of writing tests to demonstrate the behaviour of the code is
as designed/expected as well as the use of version control. The final day is
about putting your newfound skills into practice!
</p>
<p>
<strong>Who:</strong> This boot camp is aimed at bioinformaticians and
computational biologists. As such, attendees will be expected to have working
knowledge of a UNIX/Linux operating system and be competent in at least one
programming/scripting language.
<p>
<strong>Requirements:</strong> No need to bring a laptop; we'll provide
computers and a Virtual Machine (VM) on which you will be working. Lunch and
morning and afternoon tea/coffee/food will also be provided.
</p>
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
