---
layout: bootcamp_archived
venue: University of British Columbia
country: Canada
address: MSL 101
humandate: January 21-22, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-01-21
enddate: 2013-01-22
latlng: 49.2617149,-123.2534305
registration: open
instructor: ["Jennifer Bryan", "Davor Cubranic", "Ted Hart", "Bernhard Konrad", "Rick White"]
---
<p><strong>Topics:</strong></p>
<ol>
  <li>Graphics with ggplot2</li>
  <li>Regular expressions, grep and gsub</li>
  <li>Writing functions in R</li>
  <li>S3 objects in R, methods and classes</li>
  <li>File handing from within R (interacting with the shell)</li>
  <li>Reproducible research within R</li>
  <li>Version Control within R</li>
  <li>Basics of creating an R package</li>
</ol>
<p>
  <strong>Who:</strong>
  The course is aimed at postgraduate students and other scientists
  who are already using R.
</p>
{% include bootcamps/requirements.html %}
{% include bootcamps/contact.html %}
<p>Participation in this boot camp is by invitation.</p>
