---
layout: bootcamp_archived
venue: University of North Carolina
country: United-States
humandate: November 28-29, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-11-28
enddate: 2012-11-29
latlng: 34.2274248,-77.8791793
eventbrite: 4224585850
registration: open
instructor: ["Ethan White", "Greg Wilson"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
{% include bootcamps/eventbrite.html %}
