---
layout: bootcamp_archived
venue: GEOMAR (Kiel)
country: Germany
address: Christian-Albrechts-Universit&auml;t zu Kiel, Christian-Albrechts-Platz 4, 24118 Kiel, Germany
humandate: May 6-7, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-06
enddate: 2013-05-07
latlng: 54.32707,10.18265
registration: restricted
instructor: ["Stefano Cozzini", "Justin Ely"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p><strong>Content:</strong> On the first day of the bootcamp we will cover:</p>
<ul>
  <li>Unix shell
    <ul>
      <li>Finding help</li>
      <li>Basic commands for manipulating files and directories</li>
      <li>Piping and redirecting output</li>
      <li>Using 'history' and shell scripts to repeat and automate work</li>
      <li>Downloading data from a public server using curl</li>
    </ul>
  </li>
  <li>Regular expressions
    <ul>
      <li>Finding help</li>
      <li>General introduction</li>
      <li>Re-organizing data</li>
      <li>Using regular expressions with the shell</li>
    </ul>
  </li>
  <li>R
    <ul>
      <li>Finding help</li>
      <li>Loading data</li>
      <li>Vectors, Matrices</li>
      <li>Applying inbuilt functions</li>
      <li>Creating figures</li>
    </ul>
  </li>
</ul>
<p>At the end of day one you will be able to download data from the web using the shell, re-organize it with regular expressions, load it into R, perform some calculations and produce a figure with R.</p>
<p>On the second day we will cover:</p>
<ul>
  <li>Python
    <ul>
      <li>Finding help</li>
      <li>Starting a script</li>
      <li>Basic mechanics: assignment, lists, loops, conditionals, file I/O</li>
      <li>Libraries and dictionaries</li>
      <li>How/when/why to create functions</li>
      <li>Using Pandas (an R-like package) to manipulate and analyze data</li>
      <li>Using Matplotlib to generate a figure</li>
    </ul>
  </li>
</ul>
<p>At the end of day two you will be able to write a Python script that conducts all of the tasks of day one in one go.</p>
<p><strong>Laptops:</strong> Participants are required to bring their own laptop, as the boot camp involves a mixture of lectures and hands on exercises. The lecture theatre has desk facilities where you can plug in and charge. If you don't have a laptop, don't stress, we'll pair you up with someone who does.</p>
{% include bootcamps/contact.html %}
