---
layout: bootcamp_archived
venue: Macquarie University
country: Australia
address: Room E8A 341, Macquarie University, Sydney
humandate: February 7-8, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-02-07
enddate: 2013-02-08
latlng: -33.773636,151.112005
eventbrite: 4114901782
registration: open
instructor: ["Eli Bressert", "Greg Wilson"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
