---
root: .
nocomments: 
---
<!DOCTYPE html>
<html>
  <head>
    {% include generic-header.html %}
    <title>Software Carpentry{% if page.title %}: {{page.title}}{% endif %}</title>
  </head>
  <body>

<header class="header home">
  {% include navbar.html %}
  <div align="center">
    <h2><font color="white">Teaching Lab Skills for Scientific Computing Since 1998</font></h2>
  </div>
</header>

<section id="home-options" class="content">
    <div class="container">

        <div class="row-fluid pagination-centered">
            <div class="span4">
              <h4><a href="{{page.root}}/team">About</a></h4>
              <p>
                Software Carpentry is a volunteer organization
                whose members teach basic software skills
                to researchers in science, engineering, and medicine.
                Founded in 1998,
                we are now part of the
                <a href="https://wiki.mozilla.org/ScienceLab">Mozilla Science Lab</a>.
              </p>
            </div>
            <div class="span4">
              <h4><a href="{{page.root}}/bootcamps/index.html">Learn</a></h4>
              <p>
                We run bootcamps all over the world,
                and provide open access material for self-paced instruction.
                To learn more,
                please <a href="mailto:{{site.contact}}">email us</a>,
                check out <a href="{{page.root}}/blog/index.html">our blog</a>,
                or <a href="{{site.twitter_url}}">follow us on Twitter</a>.
              </p>
            </div>

            <div class="span4">
              <h4><a href="{{page.root}}/contrib/training.html">Teach</a></h4>
              <p>
                We run bootcamps all over the world,
                and provide open access material for self-paced instruction.
                To learn more,
                please <a href="mailto:{{site.contact}}">email us</a>,
                check out <a href="{{page.root}}/blog/index.html">our blog</a>,
                or <a href="{{site.twitter_url}}">follow us on Twitter</a>.
              </p>
            </div>


        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="row-fluid ">
            <div class="span8">

              {% for post in site.blog_recent %}
                  <h4><a href="{{post.root}}/{{post.path}}">{{post.title}}</a></h4>
                  <small>By {{post.author}} / <a href="{{post.root}}/{{post.path}}">{{post.date | date: "%-d %b %Y"}}</a> </small>
                  <p>{{post.excerpt}} <a class="pull-right" href="{{post.root}}/{{post.path}}">...read more</a></p>
                  <br /><br />
              {% endfor %}

            </div>
            <div class="span4">
              <h4>Upcoming Bootcamps</h4>
              <table class="table table-hover">
                {% for bootcamp in site.bootcamps_upcoming %}
                <tr>
                  <td>
                    <img src="{{page.root}}/assets/flags/{{site.flag_size}}/{{bootcamp.country}}.png" alt="{{bootcamp.country}}" />
                  <a href="{% if bootcamp.url %}{{bootcamp.url}}{% else %}{{page.root}}/{{bootcamp.path}}{% endif %}">{{bootcamp.venue}}</a>
                  <br />
                {{bootcamp.humandate|replace: ' ', '&nbsp;'}}
              </td>

                </tr>
                {% endfor %}
                <tr>
                  <td><a class="pull-right" href="bootcamps/index.html#future">...see all</a></td>
                </tr>
              </table>

                <a class="twitter-timeline" href="https://twitter.com/swcarpentry" data-widget-id="410241789077909504">Tweets by @swcarpentry</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>
        </div>

    </div>
</section>

  {% include footer.html %}
  {% include generic-javascript.html %}
  <script src="{{page.root}}/js/jquery.typer.js"></script>
  <script>
    $('[data-typer-targets]').typer();
  </script>
  </body>
</html>
