---
layout: base
root: .
nocomments: true
---
<div align="center">
  <img src="img/software-carpentry-banner.png" alt="Software Carpentry banner" />
  <h4><em>Making scientists more productive by teaching them basic computing skills.</em></h4>
</div>

<div class="row-fluid">

  <div class="span6">
    <h4>Who We Are</h4>
    <p>
      Software Carpentry is a volunteer organization
      whose members teach basic software skills
      to researchers in science, engineering, and medicine.
      Founded in 1998,
      we are part of the
      <a href="https://wiki.mozilla.org/ScienceLab">Mozilla Science Lab</a>.
    </p>
    <ul>
      <li>
        <a href="{{page.root}}/sponsors.html">Meet our sponsors</a>
      </li>
      <li>
        <a href="{{page.root}}/team.html">Meet our team</a>
      </li>
      <li>
        <a href="{{page.root}}/testimonials.html">How we help</a>
      </li>
      <li>
        <a href="{{page.root}}/faq.html">FAQ</a>
      </li>
    </ul>
  </div>

  <div class="span6">
    <h4>What We Do</h4>
    <p>
      We run short, intensive boot camps all over the world,
      and provide open access material for self-paced instruction.
      To learn more,
      please email <a href="mailto:{{site.contact}}">{{site.contact}}</a>,
      check out our <a href="{{page.root}}/blog/index.html">blog</a>,,
      or follow us on Twitter as <a href="{{site.twitter_url}}">{{site.twitter_name}}</a>.
    </p>
    <ul>
      <li>
        <a href="{{page.root}}/bootcamps/index.html#future">Find a boot camp near you</a>
      </li>
      <li>
        <a href="{{page.root}}/contrib/training.html">Host or teach</a> a boot camp
      </li>
      <li>
        <a href="{{page.root}}/contrib/discuss.html">Join the discussion</a>
	or
        <a href="{{page.root}}/contrib/create.html">help us make things</a>
      </li>
    </ul>
  </div>

</div>

<div class="row-fluid">
  <div class="span6">
    <h4>Recent Blog Posts</h4>
    <table class="table table-striped">
      {% for post in site.blog_recent %}
      <tr>
        <td>{{post.date}}:</td>
        <td><a href="{{page.root}}/{{post.path}}">{{post.title}}</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td><a href="{{page.root}}/blog/index.html">...more</a></td>
      </tr>
    </table>
  </div>
  <div class="span6">
    <h4>Upcoming Boot Camps</h4>
    <table class="table table-striped">
      {% for bootcamp in site.bootcamps_upcoming %}
      <tr>
        <td><img src="{{page.root}}/assets/flags/{{site.flag_size}}/{{bootcamp.country}}.png" alt="{{bootcamp.country}}" /></td>
        <td>{{bootcamp.humandate|replace: ' ', '&nbsp;'}}:</td>
        <td><a href="{{page.root}}/{{bootcamp.path}}">{{bootcamp.venue}}</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td><a href="bootcamps/index.html#future">...more</a></td>
      </tr>
    </table>
  </div>
</div>
