<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/missing.png" alt="ActivePapers" />
  <div id="active-papers" class="media-body">
    <a href="http://www.activepapers.org/" class="project">ActivePapers</a>
    aims to make computational science more open and more reliable by
    making computations reproducible and publishable. It is a file
    format for storing computations, consisting of both code and data,
    and it is also a software infrastructure for working with this
    file format.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#hinsen.k">Konrad Hinsen</a>
  </div>
</div>
