<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/archer.png" alt="ARCHER" />
  <div id="archer" class="media-body">
    <a href="http://www.archer.ac.uk" class="project">ARCHER</a>
    is the UK National Supercomputing Service, providing a world-class
    supercomputer and invaluable computational resources, consultancy
    and training for researchers who study problems with a global
    impact.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#jackson.m">Mike Jackson</a>
  </div>
</div>
