<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/biostars.png" alt="Biostars" />
  <div id="biostars" class="media-body">
    <a href="https://www.biostars.org/" class="project">Biostars</a>
    is a bioinformatics, computational genomics and biological data 
    analysis question and answer forum.  It is most used by biological
    computational scientists and it addresses all levels of questions
    regarding biological and computational data analysis.  Biostars was
    started by Istvan Albert in 2010 and has since grown to more than 
    16,000 contributors with more than 120,000 posts on bioinformatics
    and genomics. 
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#herr.j">Josh Herr</a>
  </div>
</div>
