<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/cyclus.png" alt="Cyclus" />
  <div id="cyclus" class="media-body">
    <a href="http://fuelcycle.org/" class="project">Cyclus</a>,
    the Next Generation Nuclear Fuel Cycle Simulator, is the
    next-generation agent-based nuclear fuel cycle simulator,
    providing flexibility to users and developers through a dynamic
    resource exchange solver and plug-in, user-developed agent
    framework. The goal of Cyclus is to enable a broad spectrum of
    fuel cycle simulation while providing a low barrier to entry for
    new users and agent developers.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#huff.k">Katy Huff</a>
  </div>
</div>
