<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/ecodata-retriever.png" alt="EcoDataRetriever" />
  <div id="ecodata-retriever" class="media-body">
    The <a href="http://ecodataretriever.org/" class="project">EcoData Retriever</a>
    automates finding, downloading and cleaning up ecological datasets.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#white.e">Ethan White</a>,
    <a href="{{page.root}}/pages/team.html#morris.b">Ben Morris</a>
  </div>
</div>
