<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/eff-phys.png" alt="Effective Computing in Physics" />
  <div id="eff-phys" class="media-body">
    <a href="http://physics.codes" class="project">Effective Computing in
     Physics</a> is a manual of programming and software skills aimed at
     researchers in the physical sciences and engineering. This field guide to
     scientific computing in Python covers main topics necessary
     for effective research computing: programing in Python, using
     important Python libraries such as NumPy and Pandas, interaction with the
     command line, software testing, and version control. It even demonstrates
     how to automate software documentation, how to write quality
     publications using LaTeX, how to manage collaborative software development
     with GitHub, and how to license your software.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#scopatz.a">Anthony Scopatz</a>
    <a href="{{page.root}}/pages/team.html#huff.k">Katy Huff</a>
  </div>
</div>
