<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/eff-phys.png" alt="Effective Computation in Physics" />
  <div id="eff-phys" class="media-body">
    <a href="http://physics.codes" class="project">Effective Computation in
     Physics</a> is a manual of programming and software skills aimed at
     researchers in the physical sciences and engineering. This field guide to
     effective scientific computing in Python covers: programming in Python,
     important Python packages such as NumPy and Pandas, interaction with the
     command line, software testing, version control, build systems,
     documentation, publishing using LaTeX, how to manage collaborative
     software development with GitHub, and even how to license your software.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#huff.k">Katy Huff</a>, <a href="{{page.root}}/pages/team.html#scopatz.a">Anthony Scopatz</a>
  </div>
</div>
