<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/gap.png" alt="GAP" />
  <div id="gap" class="media-body">
    <a href="http://www.gap-system.org/">GAP</a> is a free, open and
    extensible system for discrete computational algebra, with
    particular emphasis on Computational Group Theory. GAP provides a
    programming language, a library of thousands of functions
    implementing algebraic algorithms written in the GAP language as
    well as large data libraries of algebraic objects.
    <br/>
    Contact:
    <a href="http://blogs.cs.st-andrews.ac.uk/alexk/">Alexander Konovalov</a>
  </div>
</div>
