<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/genomics-virtual-lab.jpg" alt="Genomics Virtual Lab" />
  <div id="macroeco" class="media-body">
    The <a href="https://genome.edu.au/" class="project">Genomics Virtual Lab</a>
    provides analysis tutorials and protocols, and scalable research
    platforms on the cloud with easy access to reference data and
    tools on demand. Tools include Galaxy, IPython Notebook, RStudio,
    and environment modules for command-line users.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#sloggett.clare">Clare Sloggett</a>
  </div>
</div>
