<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/ipfs.png" alt="IPFS" />
  <div id="ipfs" class="media-body">
    <a href="http://ipfs.io/" class="project">IPFS</a>
    is a system for managing generic content-addressable data in
    a <a href="https://en.wikipedia.org/wiki/Merkle_tree">generalized
    Markle graph</a> and mutable references to that data over a
    distributed, peer-to-peer network.  For example, you could use the
    same system to manage both your source code and your huge binary
    datasets, transferring changes efficiently between any set of
    nodes, and archiving past versions for as long as you like.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#king.wt">W. Trevor King</a>
  </div>
</div>
