<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/iplant.jpg" alt="iPlant Collaborative" />
  <div id="macroeco" class="media-body">
    The <a href="http://www.iplantcollaborative.org" class="project">iPlant Collaborative</a>
    is cyberinfrastructure for scientists, educators, and students
    working in all domains of life sciences. iPlant resources allow
    users to analyze, manage, and store data and experiments, access
    high-performance computing, and share results with colleagues.
    iPlant is open source and funded by the National Science
    Foundation.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#williams.jason">Jason Williams</a>
  </div>
</div>
