<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/jors.png" alt="Journal of Open Research Software" />
  <div id="jors" class="media-body">
    The <a href="http://openresearchsoftware.metajnl.com"
    class="project">Journal of Open Research Software</a> is an Open
    Access journal featuring peer reviewed software metapapers
    describing research software with high reuse potential and
    full-length papers that cover different aspects of
    creating, maintaining and evaluating open source research
    software.  <br/> Contact:
    <a href="{{page.root}}/pages/team.html#chuehong.n">Neil Chue Hong</a>
  </div>
</div>
