<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/missing.jpg" alt="khmer project" />
  <div id="tec" class="media-body">
    The <a href="http://khmer.readthedocs.org/en/latest/">khmer
    project</a> provides scripts and a library for analyzing,
    filtering, and correcting DNA sequencing data.  The project
    implements efficient probabilistic data structures and lossy
    compression algorithms for working with very large DNA sequencing
    data sets.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#brown.ct">Titus Brown</a>
  </div>
</div>
