<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/macroeco.png" alt="Macroeco" />
  <div id="macroeco" class="media-body">
    <a href="http://macroeco.org" class="project">Macroeco</a>
    provides a comprehensive set of functions for analyzing empirical
    patterns in ecological data, predicting patterns using theory and
    models, and comparing empirical patterns to theory. Many major
    macroecological patterns can be analyzed using this package,
    including the species abundance distribution, the species and
    endemics area relationships, several measures of beta diversity,
    and many others.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#wilber.mark">Mark Wilber</a>,
    <a href="{{page.root}}/pages/team.html#kitzes.j">Justin Kitzes</a>
  </div>
</div>
