<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/missing.jpg" alt="Math Education Resources" />
  <div id="math-education-resources" class="media-body">
    The <a href="http://wiki.ubc.ca/Science:Math_Education_Resources" class="project">Math Education Resources</a>
    is a volunteer-run project that provides substantial learning
    resources to undergraduate students taking math courses at UBC or
    elsewhere. Our wiki provides free hints and peer-reviewed
    solutions to previous final exam questions from UBC's math
    courses. Students can search questions by topic, watch mini video
    lectures for each topic, or use the difficulty ratings from their
    peers to guide their studies.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#konrad.b">Bernhard Konrad</a>
  </div>
</div>
