<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/mozilla-science-lab.png" width=30% alt="Mozilla Science Lab" />
  <div id="msl" class="media-body">

    The <a href="http://mozillascience.org/" class="project">Mozilla Science Lab</a>
    is helping a global network of researchers, tool developers, librarians and publishers collaborate to further science on the web.
    They do this through projects like
    <a href="http://collaborate.mozillascience.org/">Collaborate</a> which brings developers and researchers together around selected projects,
    prototype efforts such as
    <a href="http://mozillascience.org/code-as-as-research-object-new-phase/">Code as a Research Object</a>,
    and develop curriculum with the community on topics like
    <a href="https://github.com/mozillascience/codeReview">Code Review</a> and
    <a href="https://github.com/mozillascience/lessons">stand-alone lessons</a> on topics like user testing in the sciences.
    They run a
    <a href='https://wiki.mozilla.org/ScienceLab/Calls'>monthly open science call</a>
    that’s open to the public, and you can follow them on Twitter at
    <a href='https://twitter.com/mozillascience'>@MozillaScience</a>.

    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#cabunoc.abigail">Abby Cabunoc</a>,
    <a href="{{page.root}}/pages/team.html#collins.arliss">Arliss Collins</a>,
    <a href="{{page.root}}/pages/team.html#mills.b">Bill Mills</a>
  </div>
</div>
