<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/mozilla-science-lab.png" width=30% alt="Mozilla Science Lab" />
  <div id="msl" class="media-body">
    The <a href="http://mozillascience.org/" class="project">Mozilla
    Science Lab</a> is helping a global network of researchers, tool
    developers, librarians and publishers collaborate to further
    science on the web, via collaboration, prototyping and educational
    projects.  Check
    out <a href="https://github.com/mozillascience">projects they're
    working on</a> with the open science community, and join the
    dicsussion on their
    <a href="http://forum.mozillascience.org/">forum</a> or their
    <a href="https://wiki.mozilla.org/ScienceLab/Calls">community calls</a>.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#cabunoc.abigail">Abby Cabunoc</a>,
    <a href="{{page.root}}/pages/team.html#collins.arliss">Arliss Collins</a>,
    <a href="{{page.root}}/pages/team.html#mills.b">Bill Mills</a>
  </div>
</div>
