<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/nipy.png" alt="NIPY" />
  <div id="nipy" class="media-body">
    <a href="http://nipy.org/" class="project">NIPY</a> (Neuroimaging in
  Python) is making it easier to do better brain imaging research, by designing
  and implementing free and open-source algorithms and pipelines for the
  analysis of data from neuroimaging experiments, and teaching neuroscientists
  how to use them. 
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#rokem.a">Ariel Rokem</a>
  </div>
</div>
