<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/nipy.png" alt="NIPY" />
  <div id="nipy" class="media-body">
    <a href="http://nipy.org/" class="project">NIPY</a>
    is making it easier to do better brain imaging research. We
    believe that neuroscience ideas and analysis ideas develop
    together. Good ideas come from understanding; understanding comes
    from clarity, and clarity must come from well-designed teaching
    materials and well-designed software.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#rokem.a">Ariel Rokem</a>
  </div>
</div>
