<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/open-tree-of-life.jpg" alt="Open Tree of Life" />
  <div id="open-tree-of-life" class="media-body">
    <a href="http://opentreeoflife.org/" class="project">The Open Tree of Life</a>
    is building a comprehensive tree of all life. By enabling
    community contribution of phylogenies (estimates of species or
    other group relationships), and combining these phylogenies into a
    single tree-of-life we capturing the depth of knowledge about
    biodiversity on Earth, encouraging community comment and
    refinement and preserving phylogenetic data in a readily reusable
    way.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#mctavish.ej">Emily Jane McTavish</a>,
    <a href="{{page.root}}/pages/team.html#cranston.k">Karen Cranston</a>
  </div>
</div>
