<div class="media">
  <img class="media-object pull-left" style="width: 120px;" src="{{page.root}}/img/projects/pecan.jpg" alt="PEcAn Project" />
  <div id="macroeco" class="media-body">
    The <a href="http://http://pecanproject.github.io/" class="project">Predictive Ecosystem Analyzer (PEcAn)</a> 
    is an integrated ecological bioinformatics toolbox that provides tools to synthesize 
    plant and ecosystem data with mechanistic understanding encoded in ecosystem models. 
    PEcAn is not a model itself, but a platform for model parameterization and calibration 
    that wraps simulation models within a Bayesian framework. The PEcAn Project is an open
    community of scientists, programmers, and educators and we welcome new contributions 
    and applications.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#lebauer.david">David LeBauer</a>
  </div>
</div>
