<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/practical-computing-for-biologists.png" alt="Practical Computing for Biologists" />
  <div id="practical-computing-for-biologists" class="media-body">
    <a href="http://practicalcomputing.org/" class="project">Practical Computing for Biologists</a>
    aims to teach scientists of all types essential computational
    skills for data analysis. It assumes no pre-requisites other than
    motivation, features the most useful tools that can benefit
    researchers almost immediately, and explains how to use these
    tools together. With a background level of comfort, researchers
    can then go on to reap even more benefit from Software Carpentry
    and other educational sites and courses.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#haddock.s">Steve Haddock</a>
  </div>
</div>
