<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/pyne.png" alt="PyNE project" />
  <div id="pyne" class="media-body">
    <a href="http://pyne.io" class="project">PyNE</a>,
    the Nuclear Engineering Toolkit, is a suite of tools to aid in
    computational nuclear science and engineering. PyNE seeks to provide
    native implementations of common nuclear algorithms, as well as
    Python bindings and I/O support for other industry standard
    nuclear codes.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#huff.k">Katy Huff</a>,
    <a href="{{page.root}}/pages/team.html#slaybaugh.rachel">Rachel Slaybaugh</a>
  </div>
</div>
