<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/pyrdm.png" alt="PyRDM" />
  <div id="pyne" class="media-body">
    <a href="http://pyrdm.readthedocs.org" class="project">PyRDM</a>
    is a Python-based library for research data management (RDM). 
    It facilitates the automated management and publication of software
    source code and data via online, citable repositories hosted by
    Figshare, Zenodo, or a DSpace-based service. The library can be
    readily incorporated into scientific workflows to allow research
    outputs to be curated and shared in a straight-forward manner.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#jacobs.christian">Christian Jacobs</a>
  </div>
</div>
