<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/ropensci.png" alt="rOpenSci project" />
  <div id="pyne" class="media-body">
    <a href="http://ropensci.org" class="project">rOpenSci</a>
    is a software collective that provides R based tools to enable
    access to scientific data repositories, full-text of articles, and
    science metrics and also facilitate a culture shift in the
    scientific community towards reproducible research practices.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#ram.k">Karthik Ram</a>
  </div>
</div>
