<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/scikit-image.png" alt="scikit-image" />
  <div id="archer" class="media-body">
    <a href="http://scikit-image.org" class="project">scikit-image</a>
    is a collection of algorithms for image processing. It is available free of
    charge and free of restriction. We pride ourselves on high-quality,
    peer-reviewed code, written by an active community of volunteers.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#nunez-iglesias.juan">Juan
    Nunez-Iglesias</a>
  </div>
</div>
