<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/scikit-bio.png" alt="scikit-bio" />
  <div id="archer" class="media-body">
    <a href="http://www.scikit-bio.org" class="project">scikit-bio</a>
    is a Python bioinformatics library based on the standard Python
    scientific computing stack that implements core bioinformatics
    data structures, algorithms, parsers, and formatters. scikit-bio
    is the first bioinformatics-centric scikit, and arises from over
    ten years of development efforts on PyCogent and QIIME, It is
    intended to be useful both for students, who can use it in
    conjunction with the accompanying interactive
    textbook, <a href="http://www.applied-bioinformatics.org">An
    Introduction to Applied Bioinformatics</a>, and for real-world
    bioinformatics developers.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#caporaso.greg">Greg Caporaso</a>
  </div>
</div>
