<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/sharelatex.png" alt="ARCHER" />
  <div id="archer" class="media-body">
    <a href="https://www.sharelatex.com/" class="project">ShareLaTeX</a>
    is an online collaborative LaTeX editor designed to make LaTeX
    more accessible to newcomers, and to make collaboration easier
    between co-authors. Everyone can access the latest version, see a
    full change history, and work with the same compatible LaTeX
    environment. ShareLaTeX is available
    <a href="https://www.sharelatex.com">hosted</a>,
    and is <a href="https://github.com/sharelatex/sharelatex">open source</a>.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#allen.james">James Allen</a>
  </div>
</div>
