<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/stat-545.jpg" alt="STAT 545 project" />
  <div id="stat-545" class="media-body">
    <a href="http://stat545-ubc.github.io" class="project">STAT 545</a>
    at the University of British Columbia teaches students how to
    explore, groom, visualize, and analyze data, and how to make all
    of that reproducible, reusable, and shareable using R.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#bryan.j">Jenny Bryan</a>
  </div>
</div>
