<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/projects/missing.png" alt="tec project" />
  <div id="tec" class="media-body">
    <a href="http://jrsmith3.github.io/tec/" class="project">tec</a>
    provides utilities for a uniform and extensible API for easily
    simulating vacuum thermionic energy conversion (TEC) devices. A
    few models are supplied with the tec package, but others can be
    easily added.
    <br/>
    Contact:
    <a href="{{page.root}}/pages/team.html#smith.j">Joshua Ryan Smith</a>
  </div>
</div>
