---
layout: bootcamp_archived
contact: michaelj@epcc.ed.ac.uk
venue: EGI Forum, Manchester
country: United-Kingdom
humandate: April 11, 2013
humantime: 10:00 - 17:30
startdate: 2013-04-11
latlng: 53.467102,-2.233958
registration: open
instructor: ["Mike Jackson"]
---
{% include bootcamps/instructors.html %}
<p>
  <strong>What:</strong>
  Our goal is to help scientists and engineers become more productive
  by teaching them basic computing skills. At the EGI Forum we will be
  hosting a day of boot camp "highlights". This consists of 3 standalone
  sessions which provide a short introduction to 3 valuable computing
  skills and that will also give attendees a flavour of what a full 
  boot camp is like.
</p>
{% include bootcamps/who.html %}
<p>
  <strong>Registration</strong>:
  The boot camp highlights sessions are open to anyone attending the <a href="http://cf2013.egi.eu/">EGI Forum</a>.
</p>
<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
  <li>
    Using version control to record provenance and collaborate more easily
  </li>
  <li>
    Using testing to help ensure your software, and results, are correct
  </li>
  <li>
    Data management using a NoSQL database to manage your data more easily
  </li>
</ul>
<p>
  <strong>More information:</strong>
  For more information on the sessions, materials and what you'll 
  need to bring on the day, please visit our
  <a href="https://github.com/swcarpentry/boot-camps/tree/2013-04-egi-forum/README.md">GitHub page</a>.
</p>
{% include bootcamps/contact.html %}
