---
layout: bootcamp_archived
venue: University of Virginia
country: United-States
humandate: March 7-8, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-03-07
enddate: 2013-03-08
registration: restricted
latlng: 38.031441,-78.499356
instructor: ["Carlos Anderson", "Stephen Crouch", "Ben Morris"]
---
<p><strong>Note:</strong> Registration is being handled by the University of Virginia.</p>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
