---
layout: bootcamp_archived
venue: Duke University
country: United-States
humandate: May 20-21, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-20
enddate: 2013-05-21
latlng: 36.00283,-78.93827
instructor: ["Jennifer Bryan", "Ben Morris"]
registration: restricted
---
<p>Note there is another camp at <a href="{{page.root}}/bootcamps/2013-05-16-nescent/index.html">NESCent</a> (in Durham) on May 16-17.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/r.html %}
{% include bootcamps/contact.html %}
