---
layout: bootcamp_archived
venue: University of British Columbia
country: Canada
address: MSL 101
humandate: January 11 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-01-11
latlng: 49.2617149,-123.2534305
registration: open
instructor: ["Jennifer Bryan", "Davor Cubranic", "Ted Hart", "Bernhard Konrad", "Rick White"]
---
<p><strong>Topics:</strong></p>
<ol>
  <li>R Basics, workspace, working directory, projects in RStudio</li>
  <li>Importing, exporting and cleaning data.</li>
  <li>Data manipulation, aggregation and indexing.</li>
  <li>Working with a statistical model object.</li>
</ol>
<p>
  <strong>Who:</strong>
  The course is aimed at postgraduate students and other scientists
  who are new to R.
</p>
{% include bootcamps/requirements.html %}
{% include bootcamps/contact.html %}
<p>Participation in this boot camp is by invitation.</p>
