---
layout: bootcamp_archived
venue: University of Massachusetts Amherst
country: United-States
address: Skinner 112, UMass Amherst
humandate: May 23-24, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-23
enddate: 2013-05-24
latlng: 42.388889,-72.527778
instructor: ["Tracy Teal", "Erik Bray"]
registration: restricted
---
<p><strong>Registration:</strong> To apply for a space at this camp, please
    fill in <a
    href="http://tinyurl.com/cecxpxg">this preregistration form</a> before
    April 26. We will allocate spaces to individuals and groups we believe will
    most benefit. Priority will be given to applicants from the five colleges
    (UMass, Amherst College, Mt Holyoke, Smith, Hampshire).</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
