---
layout: bootcamp_archived
venue: Caltech
country: United-States
humandate: Sept 9-10, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-09-09
enddate: 2013-09-10
latlng: 34.141411,-118.1249
instructor: ["Azalee Bostroem", "Justin Ely"]
registration: restricted
---
<p><em>Registration for this boot camp has not yet opened. Registration will be restricted to personnel associated with Caltech.</em></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
