---
layout: bootcamp_archived
contact: host-manchester@software-carpentry.org
venue: University of Manchester
country: United-Kingdom
humandate: April 18-19, 2013
startdate: 2013-04-18
enddate: 2013-04-19
latlng: 53.4783491,-2.2416052
registration: open
eventbrite: 5397207192
instructor: ["Mike Jackson", "David Jones", "Aleksandra Pawlik"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/python.html %}
<p>
  <strong>More information:</strong>
  For more information, including the timetable, and what software you 
  need to install before you arrive, please visit our
  <a href="https://github.com/swcarpentry/boot-camps/blob/2013-04-manchester/README.md">GitHub page</a>.
</p>
{% include bootcamps/contact.html %}
