---
layout: bootcamp_archived
venue: University of Kansas
country: United-States
address: The Commons, University of Kansas
humandate: Aug 22-23, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-08-22
enddate: 2013-08-23
latlng: 38.9584551,-95.2432842
registration: restricted
instructor: ["Emily Jane McTavish", "Karen Cranston"]
---
<p><strong>Note:</strong> This boot camp is restricted to students, postdocs, faculty and other people affiilated with University of Kansas and Kansas State University.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
