---
layout: bootcamp_archived
venue: eResearch New Zealand
address: Undercroft Room, University of Canterbury, Christchurch
country: New-Zealand
humandate: July 1-4, 2013
humantime: 1:00 pm - 5:00 pm
startdate: 2013-07-01
enddate: 2013-07-04
registration: closed
latlng: -43.523333,172.581944
instructor: ["Shreyas Cholia", "Ariel Rokem", "Tim McNamara", "Nick Jones"]
---
<p>More information about this boot camp is available on the 
<a href="http://www.eresearch.org.nz/event/eresearch-nz-2013/software-carpentry-bootcamp">eResearch New Zealand</a> posting.
</p>
{% include bootcamps/instructors.html %}
<p>
<strong>What:</strong> This event is an excellent opportunity for researchers who are interested in learning about how to integrate technology into their research practice. Arranged as a set of tutorials and hands-on sessions, Software Carpentry Boot Camps provide proven tools to assist researchers in their day-to-day work.
</p>
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
