---
layout: bootcamp_archived
venue: Utah State University
country: United-States
address: Room 314, Biology and Natural Resources Building, Utah State University, 5305 Old Main Hill, Logan, UT
humandate: March 23-24, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-03-23
enddate: 2013-03-24
latlng: 41.7449488,-111.8042944
registration: open
eventbrite: 5398228246
instructor: ["Dan McGlinn", "Ethan White"]
---
{% include bootcamps/instructors.html %}
<p><strong>Information:</strong> Since 1998, Software Carpentry has taught scientists and engineers the skills and tools they need to use computing more productively. Thanks to a grant from the Sloan Foundation, we are running a two-day boot camp at Utah State University, followed by an optional 4-8 weeks of self-paced online learning. The boot camp covers the core skills a researcher needs to know in order to be productive in a small team:</p>
<ul>
<li>Using the shell to do more in less time</li>
<li>Using version control to manage and share information</li>
<li>Basic Python programming</li>
<li>How (and how much) to test programs</li>
<li>Working with relational databases</li>
</ul>
<p>The online follow-up goes into these topics in more detail, and also touch on program design and construction, matrix programming, using spreadsheets in a disciplined way, data management, and software development lifecycles.</p>
<p>In collaboration with <a href="http://whitelab.weecology.org/">Ethan White's lab</a> in the <a href="http://www.biology.usu.edu/">Department of Biology</a> we will be offering the boot camp at Utah State on the weekend of March 23rd and 24th. The boot camp is free, you just need to bring a laptop and commit to spending 2 days learning about how to be a better scientific programmer. Space is limited and signups are on a first come first serve basis.</p>
<p>For more information, please see <a href="http://software-carpentry.org">http://software-carpentry.org</a>, or contact us by email at {{site.contact}}. You can also feel free to email Ethan (ethan.white@usu.edu) or Dan McGlinn (daniel.mcglinn@usu.edu) with any questions.</p>
{% include bootcamps/eventbrite.html %}
