---
layout: bootcamp_archived
venue: Wuhan Institute of Virology, Wuhan, China
address: Wuhan Institute of Virology
country: China
humandate: July 8-9, 2013
humantime: 9:00 am - 5:00 pm
startdate: 2013-07-08
enddate: 2013-07-09
registration: closed
latlng: 30.538977502418366,114.32192802429199
instructor: ["Karen Cranston", "Qingpeng Zhang"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
