---
layout: bootcamp_archived
venue: National Socio-Environmental Synthesis Center (SESYNC)
address: SESYNC, Annapolis, MD
country: United-States
humandate: Dec 3-6, 2013
humantime: 9:00 - 16:30
startdate: 2013-12-03
enddate: 2013-12-06
latlng: 38.976359,-76.485786
registration: restricted
instructor: ["Will Trimble", "Amanda Whitlock", "Bernhard Konrad", "R. David Murray"]
---
<p><strong>Where:</strong> SESYNC, Annapolis, MD</p>
<p><strong>When:</strong> December 3-6. We will start at 9:00 and end at 4:30 each day.</p>
<p><em>Registration for this boot camp will be restricted to personnel from SESYNC and from the University of Maryland and USM. </em></p>
{% include bootcamps/instructors.html %}
<p>
<strong>What:</strong> The SESYNC bootcamp will spend two days covering basic scientific computing
topics including using command line/shell for automating tasks and redirecting
output; versioning for tracking provenance and collaborating with others on
code development; automated testing to ensure that code is functioning as
expected; basics of python programming which can accelerate tasks in many
software packages (e.g., ArcGIS, SQL, R); and potentially one or two other
topics TBD.  Potential additional topics include best practices in spreadsheet
management, transitioning spreadsheets to Excel, SQL databases, and regular
expressions for searching and cleaning data. The third and
fourth days will be an open consultancy where participants would bring
their projects, apply their new skills, and get on-the-spot help as needed.
</p>
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
