---
layout: bootcamp_archived
venue: "Australian Bioinformatics Network: Melbourne"
address: Building 60, Monash University Clayton campus
country: Australia
humandate: Oct 1-3, 2013
humantime: 9:00 - 17:00
startdate: 2013-10-01
enddate: 2013-10-03
latlng: -37.9083,145.138
registration: restricted
instructor: ["Ben Morris", "Philipp Bayer"]
---
<p><strong>Where:</strong> Monash University Clayton campus, Building 60</p>
<p><strong>When:</strong> October 1-3. We will start at 9:00 and end at 5:00 each day.</p>
<p>Please see the <a href="http://australianbioinformatics.net/swc-bootcamp">posting on the Australian Bioinformatics Network</a> website for information about registering.</p>
<p><em>Registration for this boot camp will be restricted to bioinformaticians.
  We may accept applicants from outside this target audience if space
  permits.</em></p>
{% include bootcamps/instructors.html %}
<p>
<strong>What:</strong> The bootcamp will run over three full days and consist
of a series of short informal "lectures" and longer hands-on sessions with
opportunities for building networks and collaborations. The bootcamp will cover
topics around the theme of <strong>good programming practices</strong>. Many of
the concepts
covered are exemplified using Python. As such, the first part of day one
teaches/orientates the trainees in Python programming concepts. The second day
teaches concepts of writing tests to demonstrate the behaviour of the code is
as designed/expected as well as the use of version control. The final day is
about putting your newfound skills into practice!
</p>
<p>
<strong>Who:</strong> This boot camp is aimed at bioinformaticians and
computational biologists. As such, attendees will be expected to have working
knowledge of a UNIX/Linux operating system and be competent in at least one
programming/scripting language.
</p>
<p>
<strong>Requirements:</strong> No need to bring a laptop; we'll provide
computers and a Virtual Machine (VM) on which you will be working. Lunch and
morning and afternoon tea/coffee/food will also be provided.
</p>
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
