---
layout: bootcamp_archived
venue: University of Washington
country: United-States
humandate: February 25-26, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-02-25
enddate: 2013-02-26
latlng: 47.655965,-122.309377
eventbrite: 4309568034
registration: open
instructor: ["C. Titus Brown", "Matt Davis", "Julia Gustavsen", "Bernhard Konrad", "Doug Latornell", "Greg Wilson"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
{% include bootcamps/eventbrite.html %}
