---
layout: bootcamp_archived
venue: University of California Davis
country: United-States
address: King Lounge (Room 245), Memorial Union
humandate: May 13-14, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-13
enddate: 2013-05-14
latlng: 38.54926,-121.76709
eventbrite: 5553687228
registration: full
instructor: ["Azalee Bostroem", "Matt Davis", "Chloe Lewis", "Tracy Teal"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
