---
layout: bootcamp_archived
venue: Vrije Universiteit, Amsterdam
country: Netherlands
address: Faculty of Sciences, Vrije Universiteit, De Boelelaan 1081, 1081 HV Amsterdam
humandate: May 2-3, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-02
enddate: 2013-05-03
registration: open
latlng: 52.33399,4.86305
instructor: ["Stefano Cozzini", "Justin Ely"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
<a href="http://www.data2semantics.org/bootcamp/" class="btn btn-info">Visit Bootcamp Website &raquo;</a>
<p class="muted">Visit this link to register for the bootcamp and find out
additional bootcamp details.</p>
