---
layout: bootcamp_archived
venue: Columbia University
country: United-States
humandate: Jan 30 - Feb 2, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-01-30
enddate: 2013-02-02
latlng: 40.8080777,-73.9635678
registration: restricted
instructor: ["Adina Chuang Howe", "Justin Ely", "Daniel Krasner", "Jared Lander", "Ian Langmore", "Chang She", "Alex Viana", "David Warde-Farley"]
---
{% include bootcamps/what.html %}
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software
  packages installed.  For details, please see the
  <a href="http://columbia-applied-data-science.github.com/swcsetup.html">setup instructions</a>,
  and if you have any difficulties, please
  <a href="mailto:{{site.contact}}">mail us for help</a>.
</p>
<p>
  <strong>Content:</strong> We are running one boot camp Jan 30-31, and another covering the same material Feb 1-2.
  On the first day of each (Jan 30 and Feb 1), we will cover:
</p>
<ul>
  <li>Unix shell
    <ul>
      <li>basic commands for manipulating files and directories</li>
      <li>the pipe-and-filter model</li>
      <li>using 'history' and shell scripts to repeat and automate work</li>
    </ul>
  </li>
  <li>Version control
    <ul>
      <li>version control</li>
      <li>the update/edit/commit cycle</li>
      <li>managing conflicts</li>
      <li>when/where/how to set up a repository</li>
    </ul>
  </li>
  <li>SQL
    <ul>
      <li>the relational data model</li>
      <li>selecting and filtering data</li>
      <li>aggregating information</li>
      <li>handling missing data</li>
      <li>combining information from multiple sources</li>
    </ul>
  </li>
</ul>
<p>On the second day of each (Jan 31 and Feb 2), we will cover:</p>
<ul>
  <li>Python
    <ul>
      <li>basic mechanics: assignment, lists, loops, conditionals, file I/O</li>
      <li>how and why to use libraries</li>
      <li>how/when/why to create functions</li>
      <li>debugging</li>
    </ul>
  </li>
  <li>Data analysis
    <ul>
      <li>using Pandas to manipulate and analyze data</li>
      <li>vectorizing computations</li>
    </ul>
  </li>
  <li>Testing
    <ul>
      <li>how to create unit tests</li>
      <li>test-driven development</li>
      <li>techniques for testing numerical software</li>
    </ul>
  </li>
</ul>
{% include bootcamps/contact.html %}
<p>Participation in this boot camp is restricted to students at Columbia University.  To register, please follow the instructions on <a href="https://docs.google.com/spreadsheet/ccc?key=0Ah-Zcg2-sH_kdFJKOGthcG9KVEFyOXpoTjBJMk11UlE">this Google Docs spreadsheet</a>.  (You will need to put your name down twice, once for the first day's material (in green) and one for the second day's (in blue).)</p>
