---
layout: bootcamp_archived
venue: Simon Fraser University
country: Canada
address: Blusson Hall Room 10011, Simon Fraser University, Burnaby BC.
humandate: June 6-7, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-06-06
enddate: 2013-06-07
latlng: 49.276765,-122.917957
registration: open
eventbrite: 6744439801
instructor: ["Lynne Williams", "Ted Hart", "Bernhard Konrad", "Julia Gustavsen"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
{% include bootcamps/eventbrite.html %}
