---
layout: bootcamp_archived
venue: INRIA Paris
country: France
address: Place d'Italie
humandate: June 28-29, 2012
startdate: 2012-06-28
enddate: 2012-06-29
latlng: 48.831673,2.355623
registration: open
instructor: ["Feth Arezki", "Christophe Combelles", "Alexandre Gramfort", "Konrad Hinsen", "Nelle Varoquaux"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p><strong>Sponsors:</strong></p>
<p><a href="http://www.logilab.fr/"><img title="Logilab - Paris-Bootcamp sponsors" src="http://www.logilab.fr/data/671fd84fb971933c98810e37637b7e0b/logo.png" /></a> <a href="http://www.majerti.fr"><img title="Majerti" src="http://www.majerti.fr/media/cms_page_media/2/logo_10.png" /></a></p>
<p><strong>Speakers:</strong></p>
<ul>
<li>Alexandre Gramfort <em>(INRIA &mdash; Neurospin)</em></li>
<li>Christophe Combelles <em>(Anybox)</em></li>
<li>Konrad Hinsen <em>(Centre de Biophysique Mol&eacute;culaire, Orl&eacute;ans)</em></li>
<li>Nelle Varoquaux <em>(Mines de Paris)</em></li>
</ul>
<p><strong>Contact:</strong> Nelle Varoquaux: nelle dot varoquaux at gmail dot com</p>
