
<div class="container">
  <div class="row">
     <div class="col-xs-2">
        <img class="media-object pull-left"
	 src="{{page.root}}/img/badges/{{badge_slug}}.png"
	 alt="Software Carpentry '{{badge_name}}' Badge" />
     </div>
     <div class="clearfix visible-xs-block"></div>
     <div class="col-xs-10">
        <h2 id="{{badge_slug}}" class="badge-title">{{badge_reason}}</h2>
     </div>
  </div>
</div>

<div style="clear:both; bottom-margin:30px;">
  <ul>
  {% for badge in site.badges %}
    {% if badge.name == badge_slug %}
      {% for person in badge.persons %}
    <div class="pull-left" style="width:200px;">
      <li>
        <a badge-kind="{{badge_slug}}" badge-user="{{person.user}}" href="{{page.root}}/pages/team.html#{{person.user}}">{{person.name}}</a>
      </li>
    </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  </ul>
</div>
<div style="clear:both;"></div>
