<!-- FIXME: need to vertically center or bottom-align the logo and text -->
<footer class="content">
  <div class="container">
    <ul>
      <img src="{{page.root}}/img/software-carpentry-banner-white.png" width="200px" />
    </ul>
    <a class="label swc-blue-bg" href="{{site.twitter_url}}">Twitter</a>
    <a class="label swc-blue-bg" href="{{site.rss_url}}">RSS</a>
    <a class="label swc-blue-bg" href="{{site.github_url}}">GitHub</a>
    <a class="label swc-blue-bg" href="{{site.irc_url}}">IRC</a>
    <a class="label swc-blue-bg" href="{{site.facebook_url}}">Facebook</a>
    <a class="label swc-blue-bg" href="{{site.google_plus_url}}">Google+</a>
    <a class="label swc-blue-bg" href="{{page.root}}/license.html">License</a>
    <a class="bugreport label swc-blue-bg" href="mailto:{{site.contact}}?subject=bug%20in%20{{page.path}}">Bug Report</a>
  </div>
</footer>
