<footer class="content">
  <div class="container">
      <ul>
        <img src="/img/software-carpentry-banner-white.png" width="200px" />
      </ul>

      <ul>
        <li><a href="{{site.twitter_url}}">Twitter</a></li>
        <li><a href="{{site.irc_url}}">IRC</a></li>
        <li><a href="{{site.facebook_url}}">Facebook</a></li>
        <li><a href="{{site.google_plus_url}}">Google+</a></li>
        <li><a href="{{site.rss_url}}">RSS</a></li>
      </ul>
      <ul>
        <li><a href="{{site.github_url}}">GitHub</a></li>
        <li><a href="{{page.root}}/license.html">License</a></li>
        <li><a class="bugreport" href="mailto:{{site.contact}}?subject=bug%20in%20{{page.path}}">Bug Report</a></li>
      </ul>
  </div>
</footer>
