<div class="navbar transparent navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href='/' id="nav-logo" class="pull-left"></a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">

          <li id="nav-bootcamps">
            <a href="/bootcamps/index.html">Bootcamps</a>
          </li>
          <li id="nav-volunteer">
            <a href="/contrib/training.html">Volunteer</a>
          </li>
          <li id="nav-about">
            <a href="/team.html">About</a>
          </li>
          <li id="nav-blog">
            <a href="/blog/index.html">Blog</a>
          </li>
          <li id="nav-faq">
            <a href="/faq.html">FAQ</a>
          </li>
        </ul>
        <form class="navbar-search pull-right" method="get" action="http://www.google.com/search">
          <input type="hidden" name="sitesearch" value="{{site.site}}" />
          <input name="q" type="text" class="search-query" placeholder="Search" />
        </form>
      </div>
    </div>
  </div>
</div>
