<a id="github-ribbon" href="https://github.com/swcarpentry/bc"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<div class="navbar transparent navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="{{page.root}}/index.html" id="nav-logo" class="pull-left"></a>
      <div class="nav-collapse collapse pull-right span12">
        <ul class="nav pull-right">
          <li id="nav-bootcamps">
            <a href="{{page.root}}/bootcamps/index.html">Bootcamps</a>
          </li>
          <li id="nav-lessons">
            <a href="{{page.root}}/lessons.html">Lessons</a>
          </li>
          <li id="nav-blog">
            <a href="{{page.root}}/blog/index.html">Blog</a>
          </li>
          <li id="nav-faq">
            <a href="{{page.root}}/faq.html">FAQ</a>
          </li>
          <li id="nav-about">
            <a href="{{page.root}}/pages/index.html">More...</a>
          </li>
          <li id="nav-join">
            <a href="{{page.root}}/pages/discuss.html">Join Us</a>
          </li>
          <form class="navbar-search" method="get" action="http://www.google.com/search">
            <input type="hidden" name="sitesearch" value="{{site.site}}" />
            <input style="width:150px;" name="q" type="text" class="search-query" placeholder="Search" />
          </form>
        </ul>
      </div>
    </div>
  </div>
</div>
