---
layout: bootcamp_archived
venue: Virginia Tech
country: United-States
humandate: January 31 - February 1, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-01-31
enddate: 2013-02-01
latlng: 37.2283843,-80.4234167
registration: open
instructor: ["Tommy Guy", "Chris Lasher"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
<p>
  <strong>To Register</strong>:
  Please use Virginia Tech's <a href="https://app.fdi.vt.edu/public/modules/selfenroll/_viewevent.php?eventPk1=19618">Faculty Development Institute registration system</a> to register.  This requires you to have a valid VT email address.
</p>
