---
layout: bootcamp_archived
venue: University of Waterloo
country: Canada
humandate: Sept 21-22, 2013
startdate: 2013-09-21
enddate: 2013-09-22
registration: open
latlng: 43.468889,-80.54
---
{% include bootcamps/instructors.html %}
<p>
  <strong>Registration:</strong> Registration is <a
    href="https://conferences.adt.its.uwo.ca/Default.aspx?conferenceID=106">now
    open</a>.
</p>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
  <li>using the shell to do more in less time</li>
  <li>using version control to manage and share information</li>
  <li>basic Python programming</li>
  <li>how (and how much) to test programs</li>
  <li>Scientific Python, manipulation of arrays, matrices, and plotting data</li>
</ul>
{% include bootcamps/contact.html %}
