---
layout: bootcamp_archived
venue: Halifax
country: Canada
address: Rm 255, Sobey Building, Saint Mary's University, Halifax, Nova Scotia
humandate: July 16-17, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-07-16
enddate: 2012-07-17
latlng: 44.6322608,-63.5802627
registration: open
instructor: ["Justin Ely", "Greg Wilson"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
