---
layout: bootcamp_archived
venue: University of Bristol
country: United-Kingdom
humandate: Sept 12-13, 2013
humantime: 9:00 a.m. - 5:00 p.m.
startdate: 2013-09-12
enddate: 2013-09-13
latlng: 51.457971,-2.601474
registration: restricted
contact: host-bristol@software-carpentry.org
instructor: ["Karthik Ram", "Christopher Woods"]
---
<p><strong>Note: This boot camp is by invite only. Requests for places will not be considered until we know whether spaces will be available, at which point a registration link will be added to this page.</strong></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
