---
layout: workshop_previous
root: ..
title: Previous Workshops
nocomments: 1
---
<div id="map_canvas" style="width: 98%; height: 500px; margin-left:auto; margin-right: auto; margin-bottom: 15px"></div>

<div style="text-align: center; margin-bottom: 15px">
  {% for flag in site.flags.workshops %}
    <img src="{{page.root}}/img/flags/32/{{flag}}.png" title="{{flag | replace: '-',' '}}" alt="{{flag | replace: '-',' '}}" />
  {% endfor %}
</div>

<table class="table table-striped workshops">
  {% for workshop in site.workshops reversed %}
    {% if workshop.startdate < site.today %}
      <tr>
        <td><img src="{{page.root}}/img/flags/{{site.flag_size}}/{{workshop.country}}.png" title="{{workshop.country | replace: '-', ' '}}" alt="{{workshop.country | replace: '-', ' '}}" /></td>
        <td class="link"><a href="{{workshop.url}}">{{workshop.venue}}</a></td>
        <td class="date">{{workshop.humandate}}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
