<p id="adelman.joshua" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/adelman.joshua.jpg' alt='Joshua Adelman' />">
    <span class="person">Joshua Adelman</span>
    is a computational biophysicist who uses modeling and simulation
    to understand how proteins move small molecules across the cell
    membrane. He is one of the core developers of the open source,
    Weighted Ensemble Simulation Toolkit (WESTPA) and spends most of
    his days building computational tools and crunching data for the
    good of science using python. He received his Ph.D. in Biophysics
    at the University of California, Berkeley and is currently a
    Research Assistant Professor in the Department of Biological
    Sciences at the University of Pittsburgh.
</p>
