<p id="aiello-lammens.matthew" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/aiello-lammens.matthew.jpg' alt='Matthew Aiello-Lammens' />">
    <a href="https://sites.google.com/site/mattlammens/" class="person">Matthew Aiello-Lammens</a>
    is an ecologists currently working as a postdoc at the University
    of Connecticut. His research interests include conservation
    biology, invasion biology, community ecology, and quantitative
    ecology. When not doing research, he spends time with his wife and
    daughter, preferably out in the woods.
</p>
