<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/alexander.harriet.jpg" alt="Harriet Alexander" />
  <div id="alexander.harriet" class="media-body">
    <span class="person">Harriet Alexander</span>
    is a PhD student in the MIT/Woods Hole Oceanographic Institution
    Joint Program in Biological Oceanography. Her work focuses on
    using high-throughput sequence data to better understanding the
    nutritional physiology and biogeochemical role of marine
    phytoplankton.
  </div>
</div>
