<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/alleen-willems.russell.jpg" alt="Russell Alleen-Willems" />
  <div id="alleen-willems.russell" class="media-body">
    <a href="http://www.diachronicdesign.com" class="person">Russell
    Alleen-Willems</a> holds an MA in applied archaeology and
    specializes in archiving and disseminating digital archaeological
    data and information. He is interested in helping people learn
    about archaeology, as well as how to use software, including
    databases, analytical programs, and games, to better analyze,
    present, share, and interpret archaeology in academia, cultural
    resource management, and public education.
  </div>
</div>
