<p id="allen.james" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/allen.james.jpg' alt='James Allen' />">
    <a href="http://jpallen.net" class="person">James Allen</a>
    holds a PhD in theoretical physics from Durham University where he
    modelled the dynamics of solitons on 4 dimension membranes in
    string theory. He is currently working as the co-founder of
    ShareLaTeX, which is an online collaborative LaTeX editor for
    scientists. He is interested in how technology can make scientists
    more efficient, and more productive.
</p>
