<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/alonzi.pete.jpg" alt="Pete Alonzi" />
  <div id="alonzi.pete" class="media-body">
    <a href="http://pen.phys.virginia.edu/lpa2a-docs/index.html"><span class="person">Pete
    Alonzi</span></a> is a native of Chicago, but now resident in
    Virginia. He was always interested in science so he wound up
    becoming a full time researcher in particle physics, and has
    recently transitioned to the field of data science.
  </div>
</div>
