<p id="alsheikh-hussain.areej" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/alsheikh-hussain.areej.jpg' alt='Areej Alsheikh-Hussain' />">
    <span class="person">Areej Alsheikh-Hussain</span>
    is a PhD student at the University of Queensland working on
    vaccine target identification from the genomes of Streptococcal
    fish pathogens. Coming from two backgrounds, computer science and
    marine biology, she's interested in helping biologists utilize
    computing power to facilitate their research.
</p>
