<p id="anderson.c" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/anderson.c.jpg' alt='Carlos Anderson' />">
    <a href="http://www.msu.edu/~carlosja" class="person">Carlos Anderson</a>
    is a software developer at the University of Michigan Health
    System, where he collaborates with researchers in radiation
    therapy in order to improve cancer treatments. He obtained a
    Ph.D. in Evolutionary Biology (Michigan State University), an
    M.S. in Biology, and a B.S. in Computer Science (University of
    Central Florida).
</p>
