<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/avestruz.camille.jpg" alt="Camille Avestruz" />
  <div id="avestruz.camille" class="media-body">
    <a href="http://pantheon.yale.edu/~ca347/" class="person">Camille Avestruz</a>
    is a PhD candidate and NSF Graduate Research Fellow in the Physics
    Department at Yale University.  She uses numerical simulations to
    study clusters of galaxies.  In particular, she is interested in
    using simulations to interpret observations and to model
    astrophysical processes.  Camille is also active in a number of
    outreach activities and is committed to promoting diversity in
    STEM fields.  She's been an instructor with Software Carpentry
    since 2013, and is excited to share programming skills with an
    increasingly wider audience.
    <br/>
    <strong>Liaison: Diversity Initiatives</strong>
  </div> 
</div>
