<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/avestruz.camille.jpg" alt="Camille Avestruz" />
  <div id="avestruz.camille" class="media-body">
    <a href="http://pantheon.yale.edu/~ca347/"><span class="person">Camille Avestruz</span></a>
    is a PhD candidate and National Science Graduate Research Fellow in the Physics Department at Yale University.
    She uses numerical simulations to study clusters of galaxies;
    in particular, she is interested in how active black holes affect galaxy cluster evolution.
    Camille is also active in a number of outreach activities and is committed to promoting diversity in STEM fields.
  </div>
</div>
