<p id="bae.sung" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/bae.sung.jpg' alt='Sung Bae' />">
    <span class="person">Sung Eun Bae</span>
    works at New Zealand eScience Infrastructure (NeSI) as a
    supercomputing consultant, supporting NZ researchers to utilize
    HPC resources to challenge bigger science. He also serves as
    NeSI's education and training coordinator organizing/delivering
    scientific programming workshops across NZ. He received his Ph.D
    in algorithm and data structure at the University of
    Canterbury. He is a real "carpenter" busy with his woodwork
    projects during the weekends.
</p>
