<p id="bahlai.christie" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/bahlai.christie.jpg' alt='Christie Bahlai' />">
    <a href="http://practicaldatamanagement.wordpress.com/" class="person">Christie
    Bahlai</a> is a Research Associate in the Department of
    Entomology at Michigan State University in East Lansing, Michigan,
    where she studies long term and broad scale population and
    community ecology of insects. She's interested in collaboratively
    generated data and reproducible research and maintains a blog
    called <a href="http://practicaldatamanagement.wordpress.com/">Practical
    Data Management for Bug Counters</a>. She obtained her PhD in
    Environmental Biology from the University of Guelph.
</p>
