<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/banaszkiewicz.piotr.jpg" alt="Piotr Banaszkiewicz" />
  <div id="banaszkiewicz.piotr" class="media-body">
    <span class="person">Piotr Banaszkiewicz</span>
    studies automatics control and robotics
    at <a href="http://www.agh.edu.pl/en">AGH-UST</a> in
    Krak&oacute;w, Poland. Student by day, programmer by night, he
    loves Python.  Even though half of his curriculum is Matlab-based.
  </div>
</div>
