<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/barmby.pauline.jpg" alt="Pauline Barmby" />
  <div id="barmby.pauline" class="media-body">
    <span class="person">Pauline Barmby</span>
    is an associate professor in the Department of Physics &amp;
    Astronomy at Western University in London, Canada.  She studies
    star formation and star clusters in nearby galaxies with as many
    telescopes as she can get her hands on, and teaches introductory
    electromagnetism, data analysis, and even astrophysics.
  </div>
</div>
