<p id="barr.ewan" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/barr.ewan.jpg' alt='Ewan Barr' />">
    <span class="person">Ewan Barr</span>
    is a postdoctoral researcher at Swinburne University of Technology
    in Melbourne. His research revolve around radio astronomy, pulsar
    science, and high-performance supercomputing, with a focus on
    adapting complex radio astronomy algorithms to run on graphics
    processors. This has led him to become heavily involved in the
    design and development of the next-generation Square Kilometre
    Array (SKA) radio telescope.
</p>
