<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/barr.ewan.jpg" alt="Ewan Barr" />
  <div id="barr.ewan" class="media-body">
    <span class="person">Ewan Barr</span>
    is a postdoctoral researcher at Swinburne University of Technology
    in Melbourne. His research revolve around radio astronomy, pulsar
    science, and high-performance supercomputing, with a focus on
    adapting complex radio astronomy algorithms to run on graphics
    processors. This has led him to become heavily involved in the
    design and development of the next-generation Square Kilometre
    Array (SKA) radio telescope.
  </div>
</div>
