<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/bast.radovan.jpg" alt="Radovan Bast" />
  <div id="bast.radovan" class="media-body">
    <a href="http://bast.fr/" class="person">Radovan Bast</a>
    is a researcher in computational chemistry at the KTH Royal Institute of
    Technology and application expert at the PDC Center for High
    Performance Computing (both Stockholm). His work evolves around developing and
    supporting quantum chemistry software. He is interested in using, sharing, and
    teaching modern collaborative development tools and work-flows.
  </div>
</div>
