<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/bauer.dana.jpg" alt="Dana Bauer" />
  <div id="bauer.dana" class="media-body">
    <span class="person">Dana Bauer</span> is a developer and open
    source community advocate at Rackspace. Her team sponsors OSS
    projects and open communities, teaches workshops and gives talks
    to a wide range of technical audiences, and builds tools to help
    developers use the open cloud. Dana is also an organizer with the
    Philadelphia Python User Group, an instructor with Girl Develop
    It, and a passionate supporter of diverse technical
    communities. She has a background in geography, science (chemistry
    and math), and science writing.
  </div>
</div>
