<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/bayer.p.png" alt="Philipp Bayer" />
  <div id="bayer.p" class="media-body">
    <span class="person">Philipp Bayer</span>
    is a PhD student at the School of Agriculture and Food Sciences,
    University of Queensland. He's working on the improvement of plant
    genomes and is interested in open code and open science. He is one
    of the co-founders of <a href="http://openSNP.org">openSNP.org</a>.
  </div>
</div>
