<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/beagrie.r.jpeg" alt="Rob Beagrie" />
  <div id="beagrie.r" class="media-body">
    <span class="person"><a href="http://rob.beagrie.com">Rob Beagrie</a></span>
    is a PhD student at Imperial College in London. He works on regulatory DNA (e.g.
    enhancers) in mammalian genomes, and is particularly interested in how the
    physical contacts they make with distant genomic regions may regulate the
    expression of genes. 
  </div>
</div>
