<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/bekolay.trevor.jpg" alt="Trevor Bekolay" />
  <div id="bekolay.trevor" class="media-body">
    <span class="person"><a href="http://bekolay.org/">Trevor Bekolay</a></span>
    is a PhD student at the University of Waterloo, where he uses computers to build models of the brain.
    He is interested in how the type of learning that happens at Software Carpentry workshops
    translates to the changes that happen in the brain.
  </div>
</div>
