<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/belcaid.mahdi.jpg" alt="Mahdi Belcaid" />
  <div id="belcaid.mahdi" class="media-body">
    <span class="person">Mahdi Belcaid</span>
    obtained his undergraduate degree from the University of Quebec at
    Montreal and his Ph.D in Computer Science from the University of
    Hawaii At Manoa. He currently works as a Bioinformatics Core
    leader and an assistant research professor at the Hawaii Institute
    of Marine Biology. He teaches computational skills and
    bioinformatics to graduate students and his research focuses on
    algorithms for analyzing high-throughput biological data in
    various subfields of biology.
  </div>
</div>
