<p id="belikov.evgenij" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/belikov.evgenij.jpg' alt='Evgenij Belikov' />">
    <a href="http://www.macs.hw.ac.uk/~eb96/" class="person">Evgenij
    Belikov</a> is a PhD student in Computing Science at Heriot-Watt
    University in Edinburgh, working in the area of Parallel
    Functional Programming. In particular, he investigates the
    effectiveness and scalability of adaptive run-time system policies
    such as load balancing, scheduling and granularity control to
    achieve performance portability across diverse parallel
    architectures.
</p>
