<p id="bennett.n" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/bennett.n.jpg' alt='Nichole Bennett' />">
    <span class="person">Nichole Bennett</span>
    is a Ph.D. candidate in Ecology, Evolution, and Behavior at The University of Texas at Austin,
    where she is studying climate change impacts by investigating local adaptation and thermal biology
    in a butterfly-plant system.
    During fall semesters, she organizes a weekly informal
    <a href="https://wikis.utexas.edu/display/CCBB/Introduction+to+Biological+Statistics+Course">Introduction to Biological Statistics Course</a>.
    She also hosts a weekly science radio show
    <a href="http://www.podbean.com/podcast-detail?pid=165175">They Blinded Me With Science</a>
    on 91.7FM KVRX Austin and coordinates
    <a href="http://scienceunderthestars.org/">Science Under the Stars</a>,
    a free, outdoor lecture series that helps graduate students communicate their research to the public.
</p>
