<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/berry.michelle.jpg" alt="Michelle Berry" />
  <div id="berry.michelle" class="media-body">
    <span class="person">Michelle Berry</span> is a researcher at
     University of Michigan utilizing genomics data to study the
     microbial ecology of harmful algal blooms on Lake Erie. She loves
     using R to tackle microbiome datasets and is passionate about
     sharing her code and creating reproducible research. She has a
     B.A. in Human Biology and an M.S. in Earth Systems from Stanford
     University.
  </div>
</div>
