<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/biswas.bonny.jpg" alt="Bonny Biswas" />
  <div id="biswas.bonny" class="media-body">
    <span class="person">Bonny Biswas</span>
    is a software developer at
    <a href="http://sunnybrook.ca/research/">Sunnybrook Research Institute</a>.
    She works on MR imaging and 3D visualization software for
    image-guided therapy and cardiovascular diagnostics. She enjoys
    git, Linux, Python, and working with open-source frameworks.
  </div>
</div>
