<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/blakk.lukas.jpg" alt="Lukas Blakk" />
  <div id="blakk.lukas" class="media-body">
    <a href="http://ascendproject.org/" class="person">Lukas Blakk</a>
    is a tech generalist with a degree in Software Development from
    Seneca College in Toronto.  She's the founder of the Ascend
    Project which aims to help marginalized adults gain access to tech
    skills through a barrier-removing accelerator program in open
    source contribution.  Lukas has big plans for creating software
    companies that are worker cooperatives and designed from the start
    with diversity and inclusiveness in their DNA.
  </div>
</div>
