<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/boettiger.carl.jpg" alt="Carl Boettiger" />
  <div id="boettiger.carl" class="media-body">
    <a href="http://carlboettiger.info" class="person">Carl Boettiger</a>
    is an NSF post-doctoral researcher at UC Santa Cruz, working on
    prediction and management of ecological regime shifts. He is a
    founding member of <a href="http://ropensci.org/">rOpenSci</a>
    and keeps an <a href="http://www.carlboettiger.info/lab-notebook.html">open lab notebook</a>.
  </div>
</div>
