<p id="boissonneault.maxime" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/boissonneault.maxime.jpg' alt='Maxime Boissonneault' />">
    <span class="person">Maxime Boissonneault</span> earned his
    Ph. D. in Quantum Physics at Université of Sherbrooke and has been
    working as a high performance computing specialist for Calcul
    Québec at Université Laval since 2013. While he has no academic
    background in computing, he has learned numerous programming
    languages ever since he was 12, going from Java to C++ through
    Python and C#. When he is not talking science, computers or social
    issues, he enjoys playing World of Warcraft and going on cruises
    around the world.
</p>
