<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/bonnie.jessica.jpg" alt="Jessica Bonnie" />
  <div id="bonnie.jessica" class="media-body">
    <a href="http://www.realviacauchy.wordpress.com/" class="person">Jessica Bonnie</a>
    is a Data Specialist at the University of Virginia Center for
    Public Health Genomics where she works with large-scale genomic
    data primarily focused in autoimmune disease research. She is
    fascinated by automation and enjoys finding ways to make things
    work.
  </div>
</div>
