<p id="boocock.james" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/boocock.james.jpg' alt='James Boocock' />">
    <span class="person">James Boocock</span>
    is a Masters candidate in Genetics at the University of Otago. He
    investigates genetic variation, in particular deletions and
    insertions, focusing on questions of relevance to the medical and
    agricultural sectors. Having begun his studies with BSc in
    computer science, most of his research involves programming. He
    hopes Software Carpentry will enable him to share his passion and
    programming skills with a wide audience.
</p>
