<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/boughton.andrew.jpg" alt="Andrew Boughton" />
  <div id="boughton.andrew" class="media-body">
    <span class="person">Andrew Boughton</span>
    earned his Ph.D. in Chemistry from the University of Michigan in
    2011. From running simulations and writing software to automate
    data collection and analysis, he has since contributed to a range
    of projects in image processing, machine learning, and the DARPA
    AVM program. He is passionate about open science, open data, and
    reproducible research, as well as good software design and
    teaching.
  </div>
</div>
