<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/boyle.amy.png" alt="Amy Boyle" />
  <div id="boyle.amy" class="media-body">
    <a class="person" href="http://www.amyboyle.ninja">Amy Boyle</a>
    is a software developer at Washington State University Vancouver,
    where she writes code for auditory neuroscience research. She
    designs and implements programs for data acquisition, analysis and
    visualization. She is also an organizer for the Portland Pyladies
    chapter.
  </div>
</div>
