<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/broman.karl.jpg" alt="Karl Broman" />
  <div id="broman.karl" class="media-body">
    <span class="person">Karl Broman</span>
    is Professor in the Department of Biostatistics and Medical
    Informatics at the University of Wisconsin-Madison. An applied
    statistician focusing on problems in genetics and genomics, he
    enjoys programmming in R, Ruby, C/C++, and CoffeeScript, and is an
    enthusiastic advocate for open and reproducible science as well as
    GNU Make.
  </div>
</div>
