<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/brown.ct.jpg" alt="C. Titus Brown" />
  <div id="brown.ct" class="media-body">
    <a href="http://ivory.idyll.org/blog/" class="person">C. Titus Brown</a>
    <a href='http://twitter.com/ctitusbrown'>@ctitusbrown</a> is an
    Associate Professor in the School of Veterinary Medicine at University of California, Davis, where he works
    on <a href="http://ged.msu.edu/">data-intensive biology</a>. He <a href='http://ivory.idyll.org/blog/'>blogs regularly</a> 
    about open science, software development, and his other interests.
    <br/>
    <strong>Advisory Council</strong>
  </div>
</div>
