<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/brown.kyler.jpg" alt="Kyler Brown" />
  <div id="brown.kyler" class="media-body">
    <span class="person">Kyler Brown</span> is a PhD student at the
    University of Chicago. He studies how the brains of songbirds
    control vocal muscles and how vocal muscles produce song. Kyler
    was a student in a Software Carpentry Workshop in 2012, and now
    uses Python, Git and the Unix shell to run experiments and analyze
    data.
  </div>
</div>
