<p id="bryan.j" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/bryan.j.jpg' alt='Jennifer Bryan' />">
    <span class="person">Jennifer Bryan</span> is an Associate
    Professor in the Statistics Department and the Michael Smith
    Laboratories at the University of British Columbia in
    Vancouver. She's a biostatistician specialized in genomics and
    takes a special interest and delight in data analysis and
    statistical computing.  Jenny is a former member of the Software
    Carpentry Foundation's Steering Committee.
</p>
