<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/cabunoc.abigail.jpg" alt="Abigail Cabunoc" />
  <div id="cabunoc.abigail" class="media-body">
    <span class="person">Abigail Cabunoc</span> is a software
    developer at the Ontario Institute for Cancer Research. She is
    currently the technical lead on the WormBase website where she
    uses the web to help the scientific research community. She
    believes in open source and open science.
    <br/>
    <strong>Maintainer: SQL</strong>
  </div>
</div>
