<p id="cabunoc.abigail" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/cabunoc.abigail.jpg' alt='Abigail Cabunoc' />">
    <span class="person">Abigail Cabunoc Mayes</span> is the lead developer
    for the <a href="http://mozillascience.org/">Mozilla Science
    Lab</a>, an open science initiative of the Mozilla Foundation and
    Software Carpentry Foundation partner. Prior to joining Mozilla,
    Abby worked as a software developer at the Ontario Institute for
    Cancer Research where she was the technical lead on the WormBase
    website.
    <br/>
    <strong>Maintainer: <a href="https://github.com/swcarpentry/sql-novice-survey">Using Databases and SQL</a></strong>
</p>
