<p id="calhoun.patrick" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/calhoun.patrick.png alt='Patrick Calhoun' />">
  <span class="person">Patrick Calhoun</span> is a System Developer and
  Administrator for the OU Supercomputing Center for Education and
  Research. He received his Bachelor of Science degree in Computer
  Engineering from the University of Oklahoma in 2006. Patrick's
  interests include automating system administration tasks, developing
  open-source software, and gardening.
</p>
