<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/camins-esakov.jared.jpg" alt="Jared Camins-Esakov" />
  <div id="camins-esakov.jared" class="media-body">
    <a href="http://jaredcamins.com" class="person">Jared Camins-Esakov</a>
    balances on the line between librarian and programmer, coding
    catalogues and—on occasion—cataloguing source code. He spends his
    programming time on user experience design for both library and
    non-library software, and his non-programming time handling rare
    books, baking, dancing, and reading.
  </div>
</div>
