<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/camins-esakov.jared.jpg" alt="Jared Camins-Esakov" />
  <div id="camins-esakov.jared" class="media-body">
    <a href="http://jaredcamins.com" class="person">Jared Camins-Esakov</a>
    is a programmer and bibliographer, coding catalogues and occasionally
    cataloguing source code. He currently works as a front-end developer in
    the healthcare sector; when not programming, he spends his time baking
    and ballroom dancing.
  </div>
</div>
