<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/campbell.jennifer.jpg" alt="Jennifer Campbell" />
  <div id="campbell.jennifer" class="media-body">
    <a href="http://www.cs.utoronto.ca/~campbell/"><span class="person">Jennifer Campbell</span></a>
    is a Senior Lecturer in Computer Science at the University of
    Toronto.  She developed two "Learn to Program" MOOCs, engages in
    CS education research, and co-authored an introductory textbook on
    Python programming.
  </div>
</div>
