<p id="canino-koning.r" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/canino-koning.r.jpg' alt='Rosangela Canino-Koning' />">
    After 13 years of slogging in the software industry
    trenches, <a href="http://www.voidptr.net/" class="person">Rosangela
    Canino-Koning</a> returned to university to pursue a PhD in
    Computer Science and Evolutionary Biology at Michigan State
    University. In her copious spare time, she reads, hikes, travels,
    and hacks on open source software.
</p>
