<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/caporaso.greg.jpg" alt="Greg Caporaso" />
  <div id="caporaso.greg" class="media-body">
    <span class="person">Greg Caporaso</span> is an assistant professor of
    Biologial Sciences at Northern Arizona University, and an open source
    bioinformatics software developer. Greg leads development of the
    <a href="http://scikit-bio.org">scikit-bio</a> and
    <a href="http://www.qiime.org">QIIME</a> bioinformatics software packages,
    and is the primary author of <a href="http://applied-bioinformatics.org">An
    Introduction to Applied Bioinformatics</a>, an open source, interactive
    bioinformatics text. For more details, see the
    <a href="http://caporasolab.us">Caporaso Lab</a> website.
  </div>
</div>
