<p id="cerino.t" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/cerino.t.jpg' alt='Tim Cerino' />">
    <span class="person">Tim Cerino</span> is the founder of Avery
    Analytics, a consulting firm focused on data science applications
    and education for economics, financial institutions, and
    enterprise risk management. He has worked in the capital markets
    industry and as an economic researcher. He has an MBA in Finance
    and an MA in Statistics and Data Science from Columbia University.
</p>
