<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/chamberlain.s.jpg" alt="Scott Chamberlain" />
  <div id="chamberlain.s" class="media-body">
    <a href="http://scottchamberlain.info/"><span class="person">Scott
    Chamberlain</a></a> is an ecologist at Simon Fraser University,
    and co-founder of <a href="http://ropensci.org/">rOpenSci</a>, a
    project which aims to foster reproducible research and data reuse
    through open source software tools.
  </div>
</div>
