<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/chan.cliburn.jpg" alt="Cliburn Chan" />
  <div id="chan.cliburn" class="media-body">
    <span class="person">Cliburn Chan</span>
    is a computational immunologist at Duke University whose research
    interests center around statistical analysis of immunological data
    and building dynamical systems models of the immune response.
    Originally trained as a medical doctor, he caught the math bug and
    eventually completed a PhD in nonlinear dynamics at University
    College London. He teaches how to integrate biomedical knowledge
    with the statistical perspective in the Masters program in
    Biostatistics and is currently developing a new graduate course in
    computational statistics that will be introduced in Spring 2015.
  </div>
</div>
