<p id="charbonneau.amanda" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/charbonneau.amanda.png' alt='Amanda Charbonneau' />">
    <span class="person">Amanda Charbonneau</span>
    is a Genetics grad student at Michigan State University. Her PhD
    project uses genomics to look for genetic differences between
    weedy plants and their presumed ancestors, to see what genes are
    important in becoming invasive. When she isn't working, you can
    find her teaching high school students science or wrangling birds
    of prey, generally not at the same time.
</p>
