<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/chase.john.jpg" alt="John Chase" />
  <div id="chase.john" class="media-body">
    <span class="person">John Chase</span> is a research software
    engineer at Northern Arizona University. John's research is
    focused on microbial ecology and the human microbiome. He is also
    a contributor to <a href="http://scikit-bio.org/">scikit-bio</a>,
    an open source bioinformatics software package, and
    to <a href="http://readiab.org/">An Introduction to
    Bioinformatics</a>, an open source bioinformatics textbook.
  </div>
</div>
