<p id="chen.daniel" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/chen.daniel.jpg' alt='Daniel Chen' />">
    <a class="person" href="http://chendaniely.github.io">Daniel Chen</a> <a href="http://twitter.com/chendaniely">(@chendaniely)</a>
    is a doctoral student in <a href="http://gbcb.vbi.vt.edu">Genetics, Bioinformatics, and Computational Biology</a>
    and works in the
    <a href="http://vbi.vt.edu/sdal">Social and Decision Analytics Laboratory</a>
    under the <a href="http://bi.vt.edu/about">Biocomplexity Institute of Virginia Tech</a>.
    He received his MPH at the
    <a href="http://www.mailman.columbia.edu">Mailman School of Public Health</a> in Epidemiology and
    is interested in integrating hospital data in order to perform predictive health analytics
    and build clinical support tools for clinicians.
</p>
