<p id="chisholm.chelsea" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/chisholm.chelsea.jpg' alt='Chelsea Chisholm' />">
    <a href="http://chelseachisholm.com" class="person">Chelsea
    Chisholm</a> is a Ph.D. student with the Center for
    Macroecology, Evolution and Climate in Copenhagen, Denmark. Her
    research focuses on understanding the assembly of ecological
    communities, mainly forests, from local to macro scales. On top of
    teaching introductory R workshops and statistics for biologists,
    she is an active supporter of open science and diversity in STEM.
</p>
