<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/cholia.s.jpg" alt="Shreyas Cholia" />
  <div id="cholia.s" class="media-body">
    <a href="https://www.nersc.gov/about/nersc-staff/data-analytics-services/shreyas-cholia/"
    class="person">Shreyas Cholia</a> is the deputy group leader of the Data and Analytics Services Group at the 
    NERSC facility of Lawrence Berkeley National Laboratory. 
    He leads the science gateway, web and workflow related efforts at NERSC,
    and is particularly interested in how web APIs and tools can facilitate data-centric computing. 
    He studied Computer Science and Cognitive Sciences at Rice University.
    <br/>
    <strong>Advisory Council</strong>
  </div>
</div>

