<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/chuang-howe.a.jpg" alt="Adina Chuang Howe" />
  <div id="chuang-howe.a" class="media-body">
    <span class="person">Adina Chuang Howe</span>
    is an assistant professor in the Department of Agricultural and
    Biosystems Engineering at Iowa State University, where she uses
    skills learned from Software Carpentry to train students and study
    microbial communities in the environment.
    <br/>
    <strong>Steering Committee</strong>
  </div>
</div>
