<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/chung.kathy.jpg" alt="Kathy Chung" />
  <div id="chung.kathy" class="media-body">
    <span class="person">Kathy Chung</span> is a generalist with a
    background in civil engineering, English, and drama. She received
    her PhD on the drama of Canadian playwright Sharon Pollock from
    the University of Toronto. She has worked as a water resource
    engineer (briefly, long ago), learning skills counsellor, writing
    instructor, and stage manager. She is interested in bringing
    useful computing tools to more people in the social sciences and
    humanities.
  </div>
</div>
