<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/clayton.Sophie.jpg" alt="Sophie Clayton" />
  <div id="clayton.sophie" class="media-body">
    <span class="person">Sophie Clayton</span>
    is an oceanographer at the University of Washington who explores
    the ways in which ocean physics shape plankton communities. She
    received her PhD in Oceanography from the MIT/WHOI Joint Program,
    and wishes that she had taken a software carpentry bootcamp before
    accumulating endless folders of creatively-titled MATLAB scripts.
  </div>
</div>
