<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/code.w.jpg" alt="Warren Code" />
  <div id="code.w" class="media-body">
    <a href="http://sclt.science.ubc.ca/warcode" class="person">Warren Code</a>
    is Associate Director of the Science Centre for Learning and
    Teaching in the Faculty of Science at the University of British
    Columbia, with a key responsibility being coordination and
    leadership of the <a href="http://cwsei.ubc.ca/">Carl Wieman
    Science Education Initiative</a>, whose mission is to improve
    science education at UBC and disseminating results for others.  He
    has built on his PhD in Mathematics and the teaching from that
    time to pursue undergraduate math and science education research
    and its implications for teaching and learning.
  </div>
</div>
