<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/coelho.luis.jpg" alt="Luis Pedro Coelho" />
  <div id="coelho.luis" class="media-body">
    <a href="http://luispedro.org/" class="person">Luis Pedro Coelho</a>
    is a computational biologist working on metagenomics and bioimage
    analysis. Currently, he is postdoc at the European Molecular
    Biology Laboratory (EMBL). He has long been interested in teaching
    computing to others and during his PhD at Carnegie Mellon
    University, he developed a course called "Programming for
    Scientists".
  </div>
</div>
