<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/coelho.luis.jpg" alt="Luis Pedro Coelho" />
  <div id="coelho.luis" class="media-body">
    <a href="http://luispedro.org/" class="person">Luis Pedro Coelho</a>
    is a postdoc in computational biology at the European Molecular Biology
    Laboratory (EMBL). He is working on understanding microbial communities
    using metagenomics and bioimage analysis. Luis divides his time between
    Heidelberg and Luxembourg.
  </div>
</div>
