<p id="collins.matthew" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/collins.matthew.jpg' alt='Matthew Collins' />">
    <a class="person" href="https://www.acis.ufl.edu/people/mjcollin">Matthew
    J. Collins</a> is a senior systems programmer with
    the <a href="https://www.acis.ufl.edu/">Advanced Computing and
    Information Systems</a> lab at the University of Florida. His main
    project is managing the hardware infrastructure and developer
    outreach for <a href="https://www.idigbio.org/">iDigBio</a>, a
    national effort to digitize natural history collections in the
    US. In his spare time he advises
    the <a href="http://www.dsiufl.org/">Data Science and
    Informatics</a> student organization.
</p>
