<p id="collins.arliss" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/collins.arliss.jpg' alt='Arliss Collins' />">
    <span class="person">Arliss Collins</span> is the training
    coordinator for the
    <a href="http://mozillascience.org/">Mozilla Science Lab</a>,
    an open science initiative of the Mozilla Foundation and Software
    Carpentry Foundation partner. She was educated as a geophysical
    engineer, re-trained as a business/systems analyst, and now works
    on educational activities and trainings for Mozilla, including
    Software Carpentry workshops globally.  She is a Canadian mother
    of two with a long-standing passion for curling.
</p>
