<p id="coudrat.thomas" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/coudrat.thomas.jpg' alt='Thomas Coudrat' />">
    <a href="http://thomas-coudrat.github.io/" class="person">Thomas Coudrat</a>
    is a PhD candidate at the Monash Institute of Pharmaceutical
    Sciences in Melbourne, Australia. He is involved in drug discovery
    programs where he applies molecular modeling simulations to
    predict protein structure, dynamics and interaction with potential
    drugs. His time is split between method development, method
    application and research community engagement.
</p>
