<p id="cozzini.s" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/cozzini.s.png' alt='Stefano Cozzini' />">
    <a href="http://www.democritos.it/~cozzini" class="person">Stefano
    Cozzini</a>, based in Trieste, is a development scientist who
    coordinates HPC/Cloud activities of the
    <a href="http://http://www.democritos.iom.cnr.it">CNR/IOM
    Democritos research Center</a>.  He is now also coordinator of
    the <a href="http://www.mhpc.it">Master's in High Performance
    Computing</a>, and is working hard on his small
    <a href="http://www.exact-lab.it">start-up company</a>,
    where he tries to promote HPC to an industrial audience.  He enjoy
    teaching IT and HPC topics all around the world.
</p>
