<p id="croucher.mike" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/croucher.mike.jpg' alt='Mike Croucher' />">
    <span class="person">Mike Croucher</span>
    is a Research Software Engineer at The University of
    Sheffield. Along with Prof. Neil Lawrence, he runs
    the <a href="http://opendsi.cc/">Sheffield Open Data Science
    Initiative</a>.
    He <a href="http://www.walkingrandomly.com">blogs</a> on topics
    such as mathematics and Research Software Engineering.
</p>
