<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/crouch.nicholas.jpg" alt="Nicholas Crouch" />
  <div id="crouch.nicholas" class="media-body">
    <span class="person">Nic Crouch</span>
    is a consultant with Deloitte Enterprise Information Management in
    Melbourne. He works on business intelligence and big data analysis
    for his clients. In his spare time and at work, he is a Python
    programmer and he's previously presented about graph databases at
    PyCon Australia.
  </div>
</div>
