<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/crusoe.michael.jpg" alt="Michael R. Crusoe" />
  <div id="crusoe.michael" class="media-body">
    <a href="impactstory.org/MichaelRCrusoe" class="person">Michael R. Crusoe</a>
    is a staff software engineer in the department of Microbiology and Molecular genetics at Michigan State
    University where he is the lead on <a href="#brown.ct">C. Titus Brown</a>'s
    <a href="http://khmer.readthedocs.org/">khmer project</a>. He is a passionate advocate for the open science
    workstyle and the removal of <a href="https://adainitiative.org/">barriers to participation and access to the
    scientific process and community</a>.
  </div>
</div>
