<p id="daigle.remi" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/daigle.remi.jpg' alt='Remi Daigle' />">
    <span class="person">Remi Daigle</span>
    is a marine ecologist interested in larval ecology, ocean health,
    and the design of marine protected areas. He is currently a
    postdoc at the University of Toronto and McGill focusing on the
    optimization of networks of marine protected areas for sea
    cucumbers on Canada's west coast using biophysical larval
    dispersal modelling and MARXAN. He is also involved in developing
    the Ocean Health Index in Canada.
</p>
