<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/dale.ryan.jpg" alt="Ryan Dale" />
  <div id="dale.ryan" class="media-body">
    <span class="person">Ryan Dale</span>
    was trained as a marine benthic ecologist (MS and PhD), but is now
    a bioinformatician
    at <a href="http://www.niddk.nih.gov/">NIH</a>. He writes code and
    develops tools to study how cells turn genes on and off by
    manipulating the three-dimensional structure of DNA and chromatin.
  </div>
</div>
