<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/dashnow.harriet.jpg" alt="Harriet Dashnow" />
  <div id="dashnow.harriet" class="media-body">
    <span class="person">Harriet Dashnow</span>
    is a bioinformatician and PhD candidate at the University of
    Melbourne and the Murdoch Children’s Research Institute. Harriet
    has a BA (Psychology), a BSc (Genetics and Biochemistry) and an
    MSc (Bioinformatics) from the University of Melbourne. Harriet is
    committed to serving the bioinformatics community through
    organisations such as COMBINE. She has substantial experience in
    teaching both the undergraduate and graduate level with a
    particular focus on skills workshops in such areas as genomics,
    Python, R, Unix and Git version control.
  </div>
</div>
