<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/davenport.e.jpg" alt="Emily Davenport" />
  <div id="davenport.e" class="media-body">
    <span class="person">Emily Davenport</span>
    is a postdoc in the department of Molecular Biology and Genetics
    at Cornell University.  Her research interests took her from a
    purely wet-lab biology background to dry-lab, computational
    territory while studying the human microbiome and genomics.
  </div>
</div>
