<p id="davey.rob" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/davey.rob.jpg' alt='Rob Davey' />">
    <span class="person">Rob Davey</span>
    is a group leader at the Genome Analysis Centre
    (<a href="http://www.tgac.ac.uk/">TGAC</a>) in Norwich, UK. He has
    a BSc in Microbiology and a PhD in Bioinformatics, and enjoys the
    challenges of solving problems through programming and
    algorithms. He is a firm open source, open data and open science
    advocate, with a deep desire to help train researchers in best
    practice for bioinformatics and software development.
</p>
