<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/davis.m.jpg" alt="Matt Davis" />
  <div id="davis.m" class="media-body">
    <span class="person"><a href="http://penandpants.com/">Matt
    Davis</a></span> is a scientific software engineer at
    <a href="http://synthicity.com/">Synthicity</a>. His interests include scientific Python,
    web applications, computing education, diversity in tech,
    and exploring beautiful California.
    <br/>
    <span class="maintainer">Matt is a topic maintainer for Git.</span>
  </div>
</div>
