<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/davis.m.jpg" alt="Matt Davis" />
  <div id="davis.m" class="media-body">
    <span class="person"><a href="http://penandpants.com/">Matt
    Davis</a></span> is a software engineer at
    <a href="http://datapad.io">DataPad</a> where he works on all levels
    of the application stack. In his previous jobs he worked at the
    Space Telescope Science Institute and NASA Goddard. Matt likes to write
    open source Python and help bring programming to everyone who needs it.
  </div>
</div>
