<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/davis.neal.png" alt="Neal Davis" />
  <div id="davis.neal" class="media-body">
    <span class="person">Neal Davis</span>
    is the Training Coordinator for Computational Science and Engineering
    at the University of Illinois at Urbana–Champaign,
    where he conducts training across a range of traditional engineering software programs and packages.
    His professional interests include engineering pedagogy,
    the foundations of computing,
    and the history of science.
  </div>
</div>
