<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/davis.m.jpg" alt="Matt Davis" />
  <div id="davis.m" class="media-body">
    <a href="http://penandpants.com/" class="person">Matt Davis</a>
    is a scientific software engineer at
    <a href="http://www.autodesk.com/">Autodesk</a>.
    His interests include scientific Python,
    web applications, computing education, diversity in tech,
    and exploring beautiful California.
    <br/>
    <strong>Steering Committee Vice-Chair</strong>
    <strong>Maintainer: Git</strong>
  </div>
</div>
