<p id="demichelis.raffaella" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/demichelis.raffaella.jpg' alt='Raffaella Demichelis' />">
    <span class="person">Raffaella Demichelis</span>
    is a chemist working in computational materials science and
    geochemistry. Her research is focused on developing models able to
    describe and predict the atomic structure, the physical
    properties, and the surface chemistry of minerals, biominerals,
    and other materials.  She joined the Software Carpentry team to
    help people acquire basic computing skills that will make their
    work easier, more accessible, less lonely, and, why not, that will
    eventually make them having more fun in doing it.
</p>
