<p id="desjardins.james" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/desjardins.james.png' alt='James Desjardins' />">
    <span class="person">James Desjardins</span>
    is a high performance computing analyst for SHARCNet (of Compute
    Ontario &amp; Compute Canada). With an MA in Behavioral
    Neuroscience he worked for over a decade as the
    electophysiolography technologist at the Brock University Lifespan
    Development Research Centre. Although most of his early career was
    spent developing neuroscience analyses in Matlab/Octave, his
    academic trajectory began as a painter with a BA in Visual Arts.
</p>
