<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/devenyi.gabriel.jpg" alt="Gabriel Devenyi" />
  <div id="devenyi.gabriel" class="media-body">
    <a href="http://staticwave.ca/" class="person">Gabriel Devenyi</a>
    is a Research Computing Engineer at McGill University in
    the <a href="http://cobralab.ca">Computational BRain Anatomy
    Laboratory</a>. He develops software for analyzing MRI data and
    teaches open science to researchers and graduate students.
    <br/>
    <span class="maintainer">Gabriel is a topic maintainer for the Unix shell.</span>
  </div>
</div>
