<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/devenyi.gabriel.jpg" alt="Gabriel Devenyi" />
  <div id="devenyi.gabriel" class="media-body">
    <a href="http://staticwave.ca/"><span class="person">Gabriel
    Devenyi</span></a> is an Instructor, Programmer and Analyst
    at McMaster University. He holds a Ph.D. in Engineering Physics
    from McMaster where he studied the role of interfaces
    in epitaxial crystal growth. He now helps researchers to get the
    most out of their computing resources through both analysis and
    automation of experiments.
    <br/>
    <span class="maintainer">Gabriel is a topic maintainer for the Unix shell.</span>
  </div>
</div>
