<p id="devenyi.gabriel" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/devenyi.gabriel.jpg' alt='Gabriel Devenyi' />">
    <a href="http://staticwave.ca/" class="person">Gabriel Devenyi</a>
    is a Research Computing Engineer at McGill University in
    the <a href="http://cobralab.ca">Computational BRain Anatomy
    Laboratory</a>. He develops software for analyzing MRI data and
    teaches open science to researchers and graduate students.
    <br/>
    <strong>Maintainer: <a href="https://github.com/swcarpentry/shell-novice">The Unix Shell</a></strong>
</p>
