<p id="devlin.catherine" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/devlin.catherine.jpg' alt='Catherine Devlin' />">
    <span class="person">Catherine Devlin</span>
    After a misspent youth studying chemical engineering, Catherine
    accidentally became a database administrator in 1999 and a Python
    programmer in 2004.  She is the founding chair of PyOhio and
    president of Dayton's Dyanamic Languages group.  She enjoys human
    languages, history, horses, working at 18F, and amateur forestry.
</p>
