<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/dickenson.matt.jpg" alt="Matt Dickenson" />
  <div id="dickenson.matt" class="media-body">
    <span class="person">Matt Dickenson</span> is interested in
    bringing contemporary best practices and tools from software
    engineering to researchers in a variety of fields. He has taught
    programming courses at his alma mater, Duke University, as well as
    the University of Houston and Washington University. His work
    focuses on machine learning and computer vision.
  </div>
</div>
