<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/dolson.emily.jpg" alt="Emily Dolson" />
  <div id="dolson.emily" class="media-body">
    <a href="http://www.emilyldolson.com/" class="person">Emily
    Dolson</a> is a PhD student at Michigan State University, where
    she studies a combination of computer science, evolutionary
    biology, and ecology. Having been lured over to computer science
    from pure biology, she feels strongly about the importance of
    making training in computational skills more accessible to
    scientists.
  </div>
</div>
