<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/dotson.david.jpg" alt="David Dotson" />
  <div id="dotson.david" class="media-body">
    <a href="http://smallerthings.org/" class="person">David Dotson</a>
    specializes in molecular dynamics simulation of biomolecules,
    which allow us to probe the mechanisms of protein function in
    atomic detail. He is a Python enthusiast, Linux nerd, and an
    advocate for the use of open source software in science. He is
    currently a Ph.D. student in the Center for Biological Physics at
    Arizona State University.
  </div>
</div>
