<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/doyle.kimberly.jpg" alt="Kimberly Doyle" />
  <div id="doyle.kimberly" class="media-body">
    <span class="person">Kim Doyle</span>
    is an early career research at the University of Melbourne in
    Media and Communication where she is completing her PhD on Data
    Journalism. Her interests include data mining and social
    media. She participated in THATcamp2014 and was a helper for the
    nltk steam at the first Research Bazar conference in 2015. She is
    also the graduate student representative for the Digital
    Humanities Incubator at Melbourne University.
  </div>
</div>
