<p id="duchesne.laurent" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/duchesne.laurent.jpg' alt='Laurent Duchesne' />">
    <span class="person">Laurent Duchesne</span> is a software
    developer at Calcul Qu&eacute;bec, Universit&eacute; Laval. He
    earned a B.Sc. in Computer Science in 2004 and has worked for a
    variety of software-related companies using Java, C, C++ and
    Python. He has been in high performance computing since 2010,
    training researchers and helping them write and maintain optimal
    code. This involves reviewing and implementing algorithms for
    parallelization in a wide-range of domains such as biology and
    geographic information science (GIS).
</p>
