<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/duckles.jonah.jpg" alt="Jonah Duckles" />
  <div id="duckles.jonah" class="media-body">
    <span class="person">Jonah Duckles</span> is Director of
    Informatics and Innovation in a joint appointment with The
    University of Oklahoma's Libraries and Information Technology
    organizations.  In this role he partners with researchers to
    improve their comptuational workflows while developing maker
    spaces. He holds a BS in Physics and an MS in Forestry and Natural
    Resources, both from Purdue.
  </div>
</div>
