<p id="duckles.jonah" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/duckles.jonah.jpg' alt='Jonah Duckles' />">
    <span class="person"><a href="http://jduck.net/">Jonah Duckles</a></span> 
    is the Executive Director of the Software Carpentry Foundation. He has
    had various career trajectories including, long-term strategic planning,
    landscape ecology research, monitoring of global agricultural production and 
    collaborating on the computational workflows of scientists. He holds a BS in Physics 
    and an MS in Forestry and Natural Resources, both from Purdue.
    <br>
    <strong>Executive Director</strong>
</p>
