<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/duffy.meghan.jpg" alt="Meghan Duffy" />
  <div id="duffy.meghan" class="media-body">
    <span class="person">Meghan Duffy</span> is an ecologist at the
    University of Michigan, where she is an Associate Professor in the
    Department of Ecology and Evolutionary Biology. Her research
    focuses on disease ecology and aquatic ecology. She also writes
    for the <a href="https://dynamicecology.wordpress.com/">Dynamic
    Ecology</a> blog.
  </div>
</div>
