<p id="duncan.susan" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/duncan.susan.jpg' alt='Susan Duncan' />">
    <span class="person">Susan Duncan</span> is a PhD student in
    Cognitive Neuroscience at UC Irvine and an NYC expat. Her research
    interests include figuring out how the brain does language and
    recovers from stroke. She wishes she had found Software Carpentry
    earlier in her research career and is glad to have the opportunity
    to ease the way for others.
</p>
