<p id="eddelbuettel.dirk" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/eddelbuettel.dirk.jpg' alt='Dirk Eddelbuettel' />">
    <a href="http://dirk.eddelbuettel.com" class="person">Dirk Eddelbuettel</a>
    has been contributing to <a href="http://www.debian.org">Debian</a> as a
    developer / maintainer since 1995. Most of his open source focus centers around
    <a href="http://www.r-project.org">R</a> to which he has been
    contributing since the late 1990s. He works in Chicago as a
    senior quantitative analyst, and holds a PhD in Mathematical Economics
    from <a href="http://www.ehess.fr/en/ehess">EHESS</a>.
</p>

