<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ely.j.jpg" alt="Justin Ely" />
  <div id="ely.j" class="media-body">
    <a href="https://justincely.github.io" class="person">Justin Ely</a>
    is a Senior Research and Instrument Analyst at the Space Telescope Science Institute.  
    His main activity there is to support the science operations of the Hubble Space Telescope by leading the calibration pipeline
    efforts for the Cosmic Origins Spectrograph and the Space Telescope Imaging Spectrograph.  Day-to-day you'll
    find him coding Python, C++, and SQL to improve the performance of HST instruments or to study Active Galactic Nuclei 
    and time-varability in UV spectra.
  </div>
</div>
