<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/emonet.remi.jpg" alt="Remi Emonet" />
  <div id="emonet.remi" class="media-body">
    <a href="http://home.heeere.com"><span class="person">R&eacute;mi Emonet</span></a>
    is an associate professor at Saint &Eacute;tienne University
    (France), working in the Machine Learning group of laboratoire
    Hubert Curien.  His research currently focuses on probabilistic
    modeling and machine learning, but he has interests in various
    other fields including computer vision, software architecture,
    neuro-sciences, epidemiology and artificial intelligence.  After
    spending some time individually promoting best practices and Git,
    mainly to his colleagues, he finally decided to join the Software
    Carpentry effort.
    <br/>
    <span class="maintainer">Raniere is a maintainer for our website tools.</span>
  </div>
</div>
