<p id="erlich.aaron" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/erlich.aaron.jpg' alt='Aaron Erlich' />">
    <a href="http://www.aaronerlich.com" class="person">Aaron
    Erlich</a> is a Ph.D. candidate in Political Science at the
    University of Washington. He studies how individuals in developing
    countries understand political uncertainty. Not coming from a
    programing background, he works to understand the challenges those
    in the (social) sciences have in learning to program. He has
    taught courses in both R and Python.
</p>
