<p id="evans.andy" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/evans.andy.jpg' alt='Andy Evans' />">
    <span class="person">Andy Evans</span> is a lecturer at the
    University of Leeds, UK. He works in a variety of fields from
    Folklore to Glaciology, but most of his programming is in agent
    based modelling of socio-economics, along with Geographical
    Information Systems. He started coding back when programs came on
    paper tape and games were played a printout at a time.
</p>
