!<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/farsarakis.emmanouil.jpg" alt="Emmanouil Farsarakis" />
  <div id="farsarakis.emmanouil" class="media-body">
    <span class="person">Emmanouil Farsarakis</span>
    is head of all Software Carpentry training provided by ARCHER, the
    UK National Supercomputing Service. He is an Applications
    Developer at EPCC and the University of Edinburgh, where his work
    focuses mostly on the optimisation and parallelisation of
    scientific codes. He also has many years' experience in education
    of multiple disciplines.
  </div>
</div>
