<p id="fei.xu" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/fei.xu.jpg' alt='Xu Fei' />">
    <span class="person">Xu Fei</span>
    took a detour to work for the UN in New York after completing his
    MS in neuroscience at McGill University in Canada. There he became fascinated by how adults learn new skills. He finally went for the SWC instructor training in 2014 and immediately regretted not doing it sooner. Currently he is running a startup to test the hypothesis that good data skills would make nonprofit organizations more efficient.   
</p>
