<p id="figueira.l" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/figueira.l.jpg' alt='Luis Figueira' />">
    <span class="person">Luis Figueira</span> is a software developer
    with significant experience working in research environments. He
    graduated as an electrotechnical engineer, specialising in speech
    processing. For the past 3 years he's been working in the
    <a href="http://soundsoftware.ac.uk/">SoundSoftware</a> project,
    based in the <a href="http://c4dm.eecs.qmul.ac.uk/">Centre for Digital Music</a>,
    Queen Mary University of London, helping researchers from the
    audio and music fields to build more robust and reusable research
    software.
</p>
