<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/fitzjohn.rich.jpg" alt="Rich FitzJohn" />
  <div id="fitzjohn.rich" class="media-body">
    <span class="person"><a href="http://www.zoology.ubc.ca/~fitzjohn">Rich FitzJohn</a></span> is a postdoc at Macquarie University (Sydney, Australia).
    His research focusses on species traits and diversity, understanding how diversity in both species and their traits is generated.  As a theoretical biologist, he uses a number of computational and statistical approaches, especially in R.
  </div>
</div>
