<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/fonnesbeck.chris.jpg" alt="Chris Fonnesbeck" />
  <div id="fonnesbeck.chris" class="media-body">
    <span class="person">Chris Fonnesbeck</span> is an Assistant
    Professor in the Department of Biostatistics at the Vanderbilt
    University School of Medicine in Nashville. He specializes in
    computational statistics, Bayesian methods, meta-analysis,
    epidemiology, and applied decision analysis. He hails from
    Vancouver, B.C. and received his Ph.D. from the University of
    Georgia.
  </div>
</div>
