<p id="fonnesbeck.chris" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/fonnesbeck.chris.jpg' alt='Chris Fonnesbeck' />">
    <a class="person" href="http://stronginference.com">Chris
    Fonnesbeck</a> is an Assistant Professor in the Department of
    Biostatistics at the Vanderbilt University School of Medicine in
    Nashville. He specializes in computational statistics, Bayesian
    methods, meta-analysis, epidemiology, and applied decision
    analysis. He hails from Vancouver, B.C. and received his
    Ph.D. from the University of Georgia.
</p>
