<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/fontenelle.hugues.jpg" alt="Hugues Fontenelle" />
  <div id="fontenelle.hugues" class="media-body">
    <span class="person">Hugues Fontenelle</span> is a biomedical
    engineer turned bioinformatician. He's working with Clinical
    Diagnostics at the Oslo University Hospital in Norway. Thanks to
    High Throughput Sequencing, he's turning patient's DNA into bits
    and bytes, which helps finding the cause of their genetic and rare
    disease.
  </div>
</div>
