<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/forstner.konrad.jpg" alt="Konrad Förstner" />
  <div id="forstner.konrad" class="media-body">
    <a href="http://konrad.foerstner.org" class="person">Konrad Förstner</a>
    holds a PhD in bioinformatics and is working at
    the <a href="http://sysmed.uni-wuerzburg.de/">Core Unit Systems
    Medicine</a> of the University of Würzburg, Germany where he is
    mainly dealing with high-throughput sequencing data. Besides his
    research activities he tries to make the world a better place by
    spreading the idea of openness in science.
  </div>
</div>
