<p id="fournier.auriel" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/fournier.auriel.jpg' alt='Auriel Fournier' />">
    <a href="https://aurielfournier.github.io/" class="person">Auriel Fournier</a>
    is a wildlife ecologist currently pursuing her PhD in Biology in
    the <a href="http://www.coopunits.org/Arkansas/">Arkansas
    Cooperative Fish and Wildlife Research Unit</a> at the University
    of Arkansas. Her work focuses on the migration ecology and habitat
    use of migrating rails during fall migration and evaluating the
    tradeoffs of wetland management for rails and waterfowl. She is
    interested in collaborative and reproducible ecological research
    (typically with a bird focus) and trying to rescue all the data
    hidden away in filing cabinets.
</p>
