<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/fowler.philip.jpg" alt="Philip Fowler" />
  <div id="fowler.philip" class="media-body">
    <a href="http://philipwfowler.wordpress.com/" class="person">Philip Fowler</a>
    uses computer simulation to understand how the proteins that sit
    in the membranes around cells in your body work. He enjoys
    teaching, especially trying out new ways of engaging students. By
    training he is a physicist but his interests have led him to the
    Department of Biochemistry at the University of Oxford, where he
    is currently a postdoc, via a PhD in Chemistry.
  </div>
</div>
