<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/friedline.chris.jpg" alt="Chris Friedline" />
  <div id="friedline.chris" class="media-body">
    <a href="http://chris.friedline.net"><span class="person">Chris Friedline</span></a>
    is an NSF Postdoctoral Research Fellow at Virginia Commonwealth
    University working on uncovering the genetic architecture of a
    fire-adapted phenotype in four Pine species. He has a background
    in Information Technology, a masters in Bioinformatics, a Ph.D. in
    Integrative Life Sciences, and a passion for studying molecular
    evolution at multiple time scales.
  </div>
</div>
