<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/fu.zhuo.jpg" alt="Zhuo (April) Fu" />
  <div id="fu.zhuo" class="media-body">
    <span class="person">Zhuo (April) Fu</span>
    is a Postdoctoral Scholar at University of Virginia, where she
    studies about diabetes and obesity at physiological and cellular
    level. She is passionate for optimizing and popularizing computing
    techniques that can facilitate data summarization and promote
    communication between scientists and the general public,
    especially in data visualization.
  </div>
</div>
