<p id="gan.emilia" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/gan.emilia.jpg' alt='Emilia Gan' />">
    <a href="https://github.com/efran" class="person">Emilia Gan</a>
    is a student in the Pathobiology PhD Program at the University of
    Washington.  She is a graduate of MIT (BS - Materials Science and
    Engineering) and the University of Massachusetts Medical School.
    Before entering grad school, Emilia homeschooled her three
    children and taught part-time at Bellevue College while taking
    math and CS classes.
</p>
