<p id="garcia.julian" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/garcia.julian.png' alt='Julian Garcia' />">
    <a href="http://garciajulian.com" class="person">Juli&aacute;n Garc&iacute;a</a>
    is a computational scientist. He is a Lecturer at the  
    <a href="http://www.infotech.monash.edu.au">Faculty of Information Technology at Monash University</a>, 
    where he uses computers to understand evolution and teaches Computer Programming and Computational Science.
    Before moving to Australia he lived in Colombia, the Netherlands and Germany. 
</p>
