<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/garcia-gutierrez.leonor.jpg" alt="Leonor Garcia-Gutierrez" />
  <div id="garcia-gutierrez.leonor" class="media-body">
    <a href="http://www.gutierrez.me.uk/"><span class="person">Leonor
    Garcia-Gutierrez</span></a> is a PhD student in Interdisciplinary
    Mathematics at the University of Warwick (UK), where she is
    working on a code to simulate blood flow in microvessels. She is
    passionate about public speaking, teaching and learning how to
    write better software.
  </div>
</div>
