<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/garcia.julian.png" alt="Julian Garcia" />
  <div id="garcia.julian" class="media-body">
    <a href="http://garciajulian.com"><span class="person">Juli&eacute;n Garc&iacute;a</span></a>
    is a computational scientist with interested in social and biological systems.
    He works as a postdoctoral fellow at the
    <a href="http://www.evolbio.mpg.de">Max Planck Institute for Evolutionary Biology</a>,
    where he uses computers to understand the evolution of social behavior.
    Before moving to Germany he lived in Colombia and the Netherlands. 
  </div>
</div>
