<p id="garcia-gutierrez.leonor" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/garcia-gutierrez.leonor.jpg' alt='Leonor Garcia-Gutierrez' />">
    <a href="http://www.gutierrez.me.uk/" class="person">Leonor
    Garcia-Gutierrez</a> is a PhD student in Interdisciplinary
    Mathematics at the University of Warwick (UK), where she is
    working on a code to simulate blood flow in microvessels. She is
    passionate about public speaking, teaching and learning how to
    write better software.
</p>
