<p id="garcia-algarra.javier" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/garcia-algarra.javier.jpg' alt='Javier Garcia-Algarra' />">
    <span class="person">Javier Garcia-Algarra</span>
    leads a group of Operations Analysis in
    <a href="http://www.tid.es/">Telef&oacute;nica R&amp;D</a>
    (Madrid, Spain), where he has worked in different innovation areas
    for the telecom industry during the last two decades. He holds a
    degree in Electronic Engineering and M.Sc. in Physics, and with
    the left side of the brain a Ph.D. in Art History. He collaborates
    with the Complex Systems Group of <a href="http://www.upm.es/internacional">UPM</a>,
    working in theoretical models of population biology.
</p>
