<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/gates.chris.jpg" alt="Chris Gates" />
  <div id="gates.chris" class="media-body">
    <span class="person">Chris Gates</span> has worked in software
    engineering including work in startups, consultancies, and
    academia across a range of domains and technologies. Since 2007,
    his focus has been on bioinformatics, mostly analysis and
    application of high-throughput genomics data. He is currently the
    lead software engineer at University of Michigan's Bioinformatics
    Core where he designs, implements, and maintains operational data
    pipelines.
  </div>
</div>
