<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/gatto.laurent.jpg" alt="Laurent Gatto" />
  <div id="gatto.laurent" class="media-body">
    <a href="http://slashhome.be"><span class="person">Laurent Gatto</span></a>
    is a computational biologist at the University of Cambridge, UK,
    an associated member of the
    <a href="http://www.bioconductor.org">Bioconductor</a> project and
    a fellow of the <a href="http://software.ac.uk/">Software
    Sustainability Institute</a>. He works mainly on data analysis and
    method development for quantitative proteomics data using R and
    regularly <a href="http://lgatto.github.io/TeachingMaterial/">teaches</a>
    R and scientific programming in Cambridge and abroad.
  </div>
</div>
