<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ghaffari.noushin.png" alt="Noushin Ghaffari" />
  <div id="ghaffari.noushin" class="media-body">
    <span class="person">Noushin Ghaffari</span>
    received her Ph.D. degree in Electrical and Computer Engineering
    from Texas A&amp;M University, focusing on complexity reduction of
    gene regulatory networks. She is currently a Bioinformatics
    Scientist at AgriLife Genomics and Bioinformatics, where she
    investigates the development of new bioinformatics tools, analyzes
    data from Next Generation Sequencing (NGS) technologies,
    supervises graduate students, and provides
    statistical/bioinformatics trainings for faculty/students across
    TAMU.
  </div>
</div>
