<p id="gibling.heather" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/gibling.heather.jpg' alt='Heather Gibling' />">
    <span class="person">Heather Gibling</span> is a Bioinformatics
    Research Assistant at the University of Guelph interested in human
    health genomics. She holds a master's degree in bioinformatics and
    has a background in molecular biology. Having recently been
    introduced to programming herself, she is aware of how frustrating
    it can be when starting out and hopes to help make this easier for
    others.
</p>
