<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/gibson.molly.jpg" alt="Molly Gibson" />
  <div id="gibson.molly" class="media-body">
    <span class="person">Molly Gibson</span>
    is a Ph.D. candidate in Computational &amp; Systems Biology at Washington University in Saint Louis.
    Her research focuses on the ecological resistance and resiliency of microbial community structures and functions
    to perturbation by antibiotic treatment.
  </div>
</div>
