<p id="goble.c" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/goble.c.jpg' alt='Carole Goble' />">
    <a href="http://www.cs.man.ac.uk/~carole/" class="person">Carole
    Goble</a> is Professor of Computer Science in the
    University of Manchester, and has spent the past twenty years
    developing innovative computing approaches in knowledge
    management, distributed computing and social computing to support
    scientific researchers in a wide variety of areas, including
    Taverna, BioCatalogue, myExperiment, and SEEK.  She is a partner
    in the UK's Software Sustainability Institute.
    <br/>
    <strong>Advisory Council</strong>
</p>
