<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/graham.laura.jpg" alt="Laura Graham" />
  <div id="graham.laura" class="media-body">
    <span class="person">Laura Graham</span>
    has a PhD in Geography from the University of Nottingham. She is a
    spatial/computational ecologist interested in what impacts
    environmental changes have on species' distributions and how we
    can use this information in landscape and conservation planning to
    reduce detrimental effects. Having previously been a mathematician
    and database developer, she applies skills learned there to
    ecological questions.
  </div>
</div>
