<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/gross.jonathan.jpg" alt="Jonathan Gross" />
  <div id="gross.jonathan" class="media-body">
    <span class="person">Jonathan Gross</span>
    is a Ph.D. candidate in quantum information theory at the
    University of New Mexico where he works on quantum control and
    quantum measurement theory. Jonathan also has an undergraduate
    degree in computer engineering from the University of Arizona,
    where he learned the importance of good software engineering
    practices.
  </div>
</div>
