<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/guignard.thomas.jpg" alt="Thomas Guignard" />
  <div id="guignard.thomas" class="media-body">
    <a href="http://about.me/timtom" class="person">Thomas Guignard</a>
    is a technology consultant for the library industry, based in
    Toronto, Ontario. He holds a PhD in Acoustics from the
    &Eacute;cole Polytechnique F&eacute;d&eacute;rale de Lausanne
    (EPFL) and has been working in academic libraries since 2006. He's
    also a maker and hobby programmer. and strongly believes in
    empowering kids and adults through a better understanding of
    technology.
  </div>
</div>
