<p id="guignard.thomas" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/guignard.thomas.jpg' alt='Thomas Guignard' />">
    <a href="http://about.me/timtom" class="person">Thomas Guignard</a>
    is a librarian and consultant based in
    Toronto, Ontario. He holds a PhD in Acoustics from the
    &Eacute;cole Polytechnique F&eacute;d&eacute;rale de Lausanne
    (EPFL) and has been working in academic libraries since 2006. He's
    also a maker and hobby programmer, and strongly believes in
    empowering kids and adults through a better understanding of
    technology.
</p>
