<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/guy.t.jpg" alt="Richard 'Tommy' Guy" />
  <div id="guy.t" class="media-body">
    <a href="http://guyrt.github.com" class="person">Richard
    "Tommy" Guy</a> is a Senior Data Scientist at Microsoft where he works on 
    <a href="http://www.exp-platform.com/Pages/default.aspx">large scale A/B testing.</a> 
    Previously, he was a Ph.D. student at the University of Toronto. He is also active in planning and teaching
    the <a href="http://wiki.communitydata.cc/Community_Data_Science_Workshops">Community Data Science Workshops</a> in Seattle, WA.
  </div>
</div>
