<p id="guyer.jonathan" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/guyer.jonathan.jpg' alt='Jonathan Guyer' />">
    <a href="http://www.nist.gov/mml/msed/mechanical_performance/jonathanguyer.cfm" class="person">Jonathan Guyer</a>
    is leader of the
    <a href="http://www.nist.gov/mml/msed/mechanical_performance">Mechanical Performance Group</a>
    at the
    <a href="http://www.nist.gov">National Institute of Standards and Technology</a>.
    He is co-developer of the
    <a href="http://www.ctcms.nist.gov/fipy">FiPy</a>
    partial differential equation solver framework, which he uses for
    modeling phase transformations in materials. Jon received his PhD
    in Materials Science and Engineering from Northwestern University
    in 1997. Before that, he was a submarine officer.
</p>
