<p id="haddock.s" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/haddock.s.jpg' alt='Steven Haddock' />">
    <a href="http://www.mbari.org/staff/haddock/" class="person">Steven Haddock</a> is a Research Scientist at the
    Monterey Bay Aquarium Research Institute and adjunct Associate
    Professor at U.C. Santa Cruz, studying bioluminescence and
    biodiversity of marine zooplankton. He
    co-authored <a href="http://practicalcomputing.org/"><cite>Practical
    Computing for Biologists</cite></a> with Casey Dunn.
</p>
