<p id="haine.denis" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/haine.denis.jpg' alt='Denis Haine' />">
    <a href="http://denishaine.wordpress.com" class="person">Denis Haine</a>
    is a veterinarian and PhD candidate in veterinary epidemiology at
    the Universit&eacute; de Montr&eacute;al, QC. For the last 10
    years he has held several positions, as epidemiology and biostats
    consultant, director of biostatistics in a CRO and scientific
    assistant in a NSERC research centre.
    <br/>
    <strong>Maintainer: <a href="https://github.com/swcarpentry/r-novice-inflammation">Programming with R</a></strong>
</p>
