<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/haine.denis.jpg" alt="Denis Haine" />
  <div id="haine.denis" class="media-body">
    <span class="person">Denis Haine</span>
    is a veterinarian and PhD candidate in veterinary epidemiology at
    the Universit&eacute; de Montr&eacute;al, QC. For the last 10
    years he has held several positions, as epidemiology and biostats
    consultant, director of biostatistics in a CRO and scientific
    assistant in a NSERC research centre. He (occasionally) blogs at
    <a href="http://denishaine.wordpress.com">http://denishaine.wordpress.com</a>.
  </div>
</div>
