<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hames.sam.jpg" alt="Sam Hames" />
  <div id="hames.sam" class="media-body">
    <span class="person">Sam Hames</span>
    is a PhD student at the University of Queensland. Coming from an
    engineering background, he is working on applying biomedical image
    analysis to understanding human skin. He is particularly
    interested in how software can be used to improve clinical
    understanding of imagery.
  </div>
</div>
