<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hamm.christopher.jpg" alt="Christopher Hamm" />
  <div id="hamm.christopher" class="media-body">
    <a href="http://butterflyology.net/" class="person">Christopher
    Hamm</a> is a postdoc in the Department of Ecology and
    Evolutionary Biology at the University of Kansas. His research
    focuses on the evolution and ecology of insects (mostly
    butterflies). Chris earned his his PhD from Michigan State
    Universty in 2012 and his dog's name is Larry.
  </div>
</div>
