<p id="hamrick.jessica" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/hamrick.jessica.jpg' alt='Jessica Hamrick' />">
    <span class="person">Jessica Hamrick</span>
    is a graduate student in computational cognitive science at the
    University of California, Berkeley. Her research involves building
    formal mathematical models of human behavior using tools from
    psychology, statistics, and machine learning. In her spare time,
    Jessica enjoys contributing to open source projects and teaching
    others about tools like Python and Git.
</p>
