<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/harrison.anthony.jpg" alt="Anthony Harrison" />
  <div id="harrison.anthony" class="media-body">
    <a href="http://about.me/anthony_harrison" class="person">Anthony Harrison</a>
    is currently UK Chief Software Architect for Thales with a
    particular interest in the use of Open Source Software in
    industrial applications. He is a Chartered Engineer, a Fellow of
    the BCS and Chartered IT Professional and a member of the
    Industrial advisory board for Computer Science at York
    University. In his spare time, he teachines computing to children
    using Scratch, Python, and Javascript, often using the Raspberry
    PI.
  </div>
</div>
