<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/harstad.emelie.jpg" alt="Emelie Harstad" />
  <div id="harstad.emelie" class="media-body">
    <span class="person">Emelie Harstad</span>
    received a PhD in Physics from the University of Oregon in 2013,
    and currently works as an Applications Specialist at the UNL
    Holland Computing Center, where she helps campus researchers use
    the local supercomputing resources.  She also works part-time as
    User Support for the Open Science Grid.
  </div>
</div>
