<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hart.t.jpg" alt="Ted Hart" />
  <div id="hart.t" class="media-body">
    <span class="person"> <a href="http://emhart.info">Edmund (Ted) Hart</a></span>
    is the staff scientist in charge of ecoinformatics at the National
    Ecological Observatory Network <a href="http://www.neoninc.org">(NEON)</a>.
    He received his PhD from the University of Vermont and is a member
    of the <a href="http://www.ropensci.org">ROpenSci</a> development
    group.
  </div>
</div>
