<p id="hart.t" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/hart.t.jpg' alt='Ted Hart' />">
     <a href="http://emhart.info" class="person">Edmund (Ted) Hart</a>
     is a senior data scientist in Silicon Valley and adjunct faculty
     in the biology department at the University of Vermont. He
     received his PhD in ecology from the University of Vermont, and
     did his post-doc at the University of British Columbia.  In his
     spare time he develops open source software for ecology.
</p>
