<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hart.t.jpg" alt="Ted Hart" />
  <div id="hart.t" class="media-body">
     <a href="http://emhart.info" class="person">Edmund (Ted) Hart</a> a senior data scientist in silicon valley and adjunct faculty in the biology department at the University of Vermont. He received his PhD in ecology from the University of Vermont, and did his post-doc at the University of British Columbia.  In his spare time he develops open source software for ecology.
  </div>
</div>
