<p id="held.fabian" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/held.fabian.jpg' alt='Fabian Held' />">
    <span class="person">Fabian Held</span>
    is a postdoc at the University of Sydney's Charles Perkins
    Centre. In this interdisciplinary center for research on chronic
    disease, he enjoys working with experts from many fields, and he
    contributes to statistical analyses, computational modelling of
    complex adaptive systems and the analysis of social networks. His
    own research interests are collaborative networks and the way we
    can support, sustain and manage (in) them.
</p>
