<p id="henderson.donna" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/henderson.donna.jpg' alt='Donna Henderson' />">
    <span class="person">Donna Henderson</span> is a PhD student in
    genomic medicine and statistics at the University of Oxford. Her
    research focuses on modeling population histories and migration
    events using genomic data. She uses programming primarily to
    visualize data, write statistical simulation algorithms, and
    process large files.
</p>
