<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/henry.ian.jpg" alt="Ian Henry" />
  <div id="henry.ian" class="media-body">
    <a class="person">Ian Henry</a>
    obtained his undergraduate degree from the University of Edinburgh
    in Molecular Biology and his Ph.D from the University of
    Nottingham in Genetics/Bioinformatics. He current leads the
    Scientific Computing Facility at the Max Planck Institute of
    Molecular Cell Biology and Genetics (MPI-CBG) in Dresden, Germany,
    which provides bioinformatics, scientific software development and
    bioimage informatics services to research groups at the MPI-CBG
    and across the Dresden campus.
  </div>
</div>
