<p id="henry.ian" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/henry.ian.jpg' alt='Ian Henry' />">
    <a href="http://people.mpi-cbg.de/henry" class="person">Ian Henry</a>
    obtained his undergraduate degree from the University of Edinburgh
    in Molecular Biology and his Ph.D from the University of
    Nottingham in Genetics/Bioinformatics. He current leads the
    Scientific Computing Facility at the Max Planck Institute of
    Molecular Cell Biology and Genetics (MPI-CBG) in Dresden, Germany,
    which provides bioinformatics, scientific software development and
    bioimage informatics services to research groups at the MPI-CBG
    and across the Dresden campus.
</p>
