<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/herr.joshua.jpg" alt="Joshua Herr" />
  <div id="herr.joshua" class="media-body">
    <a href="http://joshuaherr.com/" class="person">Josh Herr</a> is an Assistant Professor at 
    the <a href="http://www.unl.edu/">University of Nebraska</a> in the
    <a href="http://www.unl.edu/psi/">Center for Plant Science Innovation</a> and the
    <a href="http://plantpathology.unl.edu/">Plant Pathology Department</a>.  His research interests 
    introduced him to phylogenetics at the command line and he has 
    transitioned from the lab bench (almost entirely) to the 
    computational analysis of microbial genomes and metagenomes.  
    Josh blogs about his research interests at <a href="http://cymeandcystidium.com/">Cyme &amp; Cystidium</a>,
    is a moderator at the bioinformatics help forum <a href="http://www.biostars.org/u/1704/">Biostar</a>.
  </div>
</div>
