<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/herr.joshua.jpg" alt="Joshua Herr" />
  <div id="herr.joshua" class="media-body">
    <a href="http://joshuaherr.com/" class="person">Josh Herr</a> is located at 
    Michigan State University in the Department of
    Microbiology &amp; Molecular Genetics.  His research interests 
    introduced him to phylogenetics at the command line and he has 
    transitioned from the lab bench (almost entirely) to the 
    computational analysis of microbial genomes and metagenomes.  
    Josh blogs about his research interests at <a href="http://cymeandcystidium.com/">Cyme &amp; Cystidium</a>,
    is a moderator at the bioinformatics help forum <a href="http://www.biostars.org/u/1704/">Biostar</a>,
    and instructs for the <a href="http://edamame-course.org">EDAMAME</a> course which 
    teaches computational tools to microbial ecologists.
  </div>
</div>
