<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/herr.joshua.jpg" alt="Joshua Herr" />
  <div id="herr.joshua" class="media-body">
    <span class="person"><a href="http://joshuaherr.com/">Josh Herr</a></span>
    is a post-doctoral researcher at Michigan State University in the
    Department of Microbiology &amp; Molecular Genetics.  He holds a
    B.S. in Biochemistry, M.S. in Plant Biology, and a Ph.D. in
    Integrative Biology.  His research interests introduced him to
    phylogenetics at the command line and he has transitioned from the
    lab bench (almost entirely) to the computational analysis of
    microbial genomes and metagenomes.  Josh blogs about his research
    interests at <a href="http://cymeandcystidium.com/">Cyme &amp;
    Cystidium</a> and is an editor at the bioinformatics help
    forum <a href="http://www.biostars.org/u/1704/">Biostar</a>.
  </div>
</div>
