<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hertweck.kate.jpg" alt="Kate Hertweck" />
  <div id="hertweck.kate" class="media-body">
    <a href="http://k8hert.blogspot.ca/" class="person">Kate Hertweck</a>
    is an assistant professor in the Department of Biology at the
    University of Texas at Tyler. Her general research interests
    include evolutionary biology, phylogenetics, and comparative
    genomics, although she is particularly fond of transposable
    elements, plant systematics, and next-generation sequencing
    analysis. She is an alumna of Western Kentucky University (B.S),
    University of Missouri (Ph.D.), and NESCent/Duke University
    (postdoctoral fellow).
  </div>
</div>
