<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hetherington.james.jpg" alt="James Hetherington" />
  <div id="hetherington.james" class="media-body">
    <a href="http://blogs.ucl.ac.uk/research-software-development/"><span class="person">James
    Hetherington</span></a> leads the Research Software Development
    Team at University College London. The team collaborates with
    research groups to create readable, reliable and efficient
    scientific software. He has experience as a scientific programmer
    in academia and industry on physics, physiology and climate.
  </div>
</div>
