<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hiebert.james.jpg" alt="James Hiebert" />
  <div id="hiebert.james" class="media-body">
    <a href="http://james.hiebert.name/" class="person">James Hiebert</a>
    is computer scientist who has worked extensively in the earth and
    ocean sciences. After earning his Masters in Computer Science from
    the University of Oregon, he helped map the ocean floors with
    NOAA's Office of Coast Survey and since has been working to
    project the impacts of climate change on British Columbia and the
    Pacific Northwest with the Pacific Climate Impacts Consortium. The
    common theme of his career has been writing software to scalably
    analyze massive amounts of spatio-temporal earth and ocean data.
  </div>
</div>
