<p id="hjelm.johan" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/hjelm.johan.jpg' alt='Johan Hjelm' />">
    <span class="person">Johan Hjelm</span> is a Senior Scientist at
    the Department of Energy Conversion and Storage at the Technical
    University of Denmark.  His research interests include
    electrochemical science and technology, physical chemistry, and
    materials science. He is also interested in open and reproducible
    science, and likes Git, Unix shell, and Python in particular.
</p>
