<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hocking.daniel.jpg" alt="Daniel Hocking" />
  <div id="hocking.daniel" class="media-body">
    <a href="http://www.danieljhocking.wordpress.com" class="person">Daniel Hocking</a>
    is a postdoctoral researcher in the Department of Environmental
    Conservation at the UMass-Amherst. He studies the effects of
    land-use and climate change on animal populations. He is currently
    using Hierarchical Bayesian methods to forecast brook trout
    populations in response to climate change throughout their native
    range.
  </div>
</div>
