<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hodge.amy.jpg" alt="Amy Hodge" />
  <div id="hodge.amy" class="media-body">
    Since July 2012, <span class="person">Amy Hodge</span> has served
    as the Science Data Librarian at Stanford University Libraries,
    where she helps Stanford researchers with all aspects of data
    management, including teaching best practices for data
    organization and analysis. Before joining the Libraries, she spent
    nearly ten years in the business world working on science
    databases and learning the beauty of SQL. Amy has a PhD in
    Molecular Biophysics and Biochemistry from Yale University, where
    she studied ubiquitin-mediated regulation of the Saccharomyces
    cerevisiae cell cycle.
  </div>
</div>
