<p id="holdgraf.c" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/holdgraf.c.jpg' alt='Chris Holdgraf' />">
    <a class="person" href="http://chrisholdgraf.com">Chris Holdgraf</a>
    studies cognitive and computational neuroscience at UC Berkeley.
    He is interested in linking higher-level theories of the mind with information processing in the brain,
    currently exploring how we make sense of noisy or incomplete auditory information.
    He's also an editor and manager for
    <a href="http://sciencereview.berkeley.edu/">The Berkeley Science Review</a>
    and serves as an advisor to <a href="http://www.beyondacademia.org/">Beyond Academia</a>.
</p>
