<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hollister.jeff.jpg" alt="Jeff Hollister" />
  <div id="hollister.jeff" class="media-body">
    <a href="http://jwhollister.com" class="person">Jeff Hollister</a>
    is a research ecologist with expertise in landscape ecology, GIS,
    and water quality.  He works for the USEPA at the Office of
    Research and Development's Atlantic Ecology Division in
    Narragansett, RI.  A large part of Jeff's work focuses on
    encouraging both his EPA colleagues and the broader community to
    increase their use of open science, reproducible research, and R.
  </div>
</div>
