<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/huang.daisie.png" alt="Daisie Huang" />
  <div id="huang.daisie" class="media-body">
    <span class="person">Daisie Huang</span>
    is a software engineer turned plant phylogeneticist turned
    software engineer. Currently she is both a postdoctoral researcher
    at the University of British Columbia, working on phylogenomics in
    the genus Populus, and a software developer for the
    <a href="http://www.datadryad.org/">Dryad Digital Repository</a>.
    <br/>
    <strong>Maintainer: <a href="https://github.com/swcarpentry/git-novice">Version Control with Git</a></strong>
  </div>
</div>
