<p id="huff.k" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/huff.k.png' alt='Katy Huff' />">
    <a href="http://katyhuff.github.com" class="person">Katy Huff</a> is a 
    Postdoctoral Scholar and BIDS Data Science Fellow in Nuclear Engineering at 
    the University of California &ndash; Berkeley.  She recently authored <a 
      href="http://physics.codes">"Effective Computation in Physics: Field 
      Guide to Research in Python."</a> She received her Ph.D. from the 
    University of Wisconsin &ndash; Madison, where she helped found <a 
      href="http://thehackerwithin.github.io">The Hacker Within</a>.
    <br/>
    <strong>Steering Committee (Chair)</strong>
    <br/>
    <strong>Maintainer: <a href="https://github.com/katyhuff/python-testing">Testing and Continuous Integration with Python</a></strong>
</p>
