<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/huff.k.png" alt="Katy Huff" />
  <div id="huff.k" class="media-body">
    <a href="http://katyhuff.github.com"><span class="person">Katy 
        Huff</span></a> is a postdoctoral scholar in nuclear engineering at the 
    University of California &ndash; Berkeley. She received her Ph.D. from the 
    University of Wisconsin &ndash; Madison, where she helped found <a 
      href="https://github.com/thehackerwithin">The Hacker Within</a>.
  </div>
</div>
