<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/imamoglu.fatma.jpg" alt="Fatma Imamoglu" />
  <div id="imamoglu.fatma" class="media-body">
    <span class="person">Fatma Imamoglu</span>
    is a postdoctoral researcher at the
    <a href="https://www.icsi.berkeley.edu/icsi/">International Computer Science Institute</a>,
    UC Berkeley's Helen Wills Neuroscience Institute and a
    data science fellow at the
    <a href="http://bids.berkeley.edu/">Berkeley Institute for Data Science</a>.
    She is interested in how sensory information is encoded in the
    brain and uses machine learning approaches to fit computational
    models to brain data acquired by functional magnetic resonance
    imaging. Her current research is on the representation of language
    and music in the human brain.
  </div>
</div>
