<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/irving.d.jpg" alt="Damien Irving" />
  <div id="irving.d" class="media-body">
    <a href="http://drclimate.wordpress.com/" class="person">Damien Irving</a>
    is a PhD candidate in Meteorology at the University of Melbourne,
    where his research focuses on the climate of the high southern latitudes.
    He also works part time with the Information Technology Services (Research) department at the University,
    assisting geoscience researchers with their computing.
    <br/>
    <strong>Board of Directors</strong>
  </div>
</div>
