<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/irving.d.jpg" alt="Damien Irving" />
  <div id="irving.d" class="media-body">
    <a href="https://twitter.com/DrClimate" class="person">Damien Irving</a>
    is a PhD candidate in Meteorology at the University of Melbourne,
    where his research focuses on the climate of the high southern latitudes.
    He also writes a [blog](http://drclimate.wordpress.com/) 
    about research best practice in the weather/climate sciences, 
    teaches software skills to researchers through an innovative new project 
    called the [Research Bazaar](http://melbourne.resbaz.edu.au/about),
    and is the unofficial coordinator of Software Carpentry activities in Australia.
  </div>
</div>
