<p id="irving.d" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/irving.d.jpg' alt='Damien Irving' />">
    <a href="https://twitter.com/DrClimate" class="person">Damien Irving</a>
    is a PhD candidate in Meteorology at the University of Melbourne,
    where his research focuses on the climate of the high southern latitudes.
    He also writes a <a href="http://drclimate.wordpress.com/">blog</a> 
    about research best practice in the weather/climate sciences, 
    teaches software skills to researchers through an innovative new project 
    called the <a href="http://melbourne.resbaz.edu.au/about">Research Bazaar</a>,
    and is the unofficial coordinator of Software Carpentry activities in Australia.
</p>
