<p id="jackson.m" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/jackson.m.jpg' alt='Mike Jackson' />">
    <span class="person">Mike Jackson</span> has a background in
    human-computer interaction and is a software architect at
    the <a href="http://www.epcc.ed.ac.uk">Edinburgh Parallel
    Computing Centre</a>. He is also a consultant with
    the <a href="http://software.ac.uk">Software Sustainability
    Institute</a>.
    <br/>
    <strong>Maintainer: <a href="https://github.com/swcarpentry/make-novice">Automation and Make</a></strong>
</p>
