<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/missing.jpg" alt="Christian Jacobs" />
  <div id="jacobs.christian" class="media-body">
    <a href="http://ctjacobs.github.io" class="person">Christian Jacobs</a>
    is a postdoctoral researcher in the Applied Modelling and
    Computation Group at Imperial College London. His research is in
    the field of computational fluid dynamics, and currently focusses
    on multiphase flow modelling and the automated generation of
    numerical models. In addition to research, he thoroughly enjoys
    teaching and open-source software development, particularly with
    Python.
  </div>
</div>
