<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/jedrzejewski-szmek.jpg" alt="Zbigniew Jędrzejewski-Szmek" />
  <div id="irving.d" class="media-body">
    <span class="person">Zbigniew Jędrzejewski-Szmek</span>
    works in a mixed experimental—computational
    <a href="http://krasnow1.gmu.edu/CENlab/index.html">neuroscience lab</a>
    and writes stochastic simulators and programs for the analysis of
    experimental data. He is active in the
    <a href="https://fedoraproject.org/">Fedora Linux</a> distribution
    where he works on the
    <a href="http://www.freedesktop.org/wiki/Software/systemd/">init system</a>.
    He also helps organize
    the <a href="http://python.g-node.org">Advanced Scientific
    Programming in Python</a> summer school series.
  </div>
</div>
