<p id="johnston.luke" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/johnston.luke.jpg' alt='Luke Johnston' />">
    <span class="person">Luke Johnston</span> is a PhD student at the
    Department of Nutritional Sciences in the University of Toronto.
    His research is in diabetes epidemiology where he uses data to try
    to understand how and why some individuals develop diabetes and
    others don't.  Teaching proper coding skills and fostering
    reproducible research is something he is very interested in, given
    that much of science relies on the results from these codes and
    analyses.
</p>
