<p id="johnson.ben" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/johnson.ben.jpg' alt='Ben Johnson' />">
    <span class="person">Ben Johnson</span>
    is a Ph.D. student at Michigan State University studying
    microbiology and molecular genetics, focusing on drug discovery
    and intracellular adaptation pathways as new targets to treat
    Mycobacterium tuberculosis.  He want to make the computational
    tools used to analyze large sequencing data sets accessible,
    useable, open, and reproducible.
</p>
