<p id="jones.martin" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/jones.martin.jpg' alt='Martin Jones' />">
    <span class="person">Martin Jones</span>
    is a biologist by training who learned to write code during his
    PhD and started teaching others to do the same shortly after. He
    uses Python every day in my own research and regularly teaches
    programming courses to biologists and bioinformaticians. He's
    currently Lecturer in Bioinformatics at Edinburgh University.
</p>
