<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/joyce.blake.jpg" alt="Blake Joyce" />
  <div id="joyce.blake" class="media-body">
    <span class="person">Blake Joyce</span> is a benchtop molecular
    biologist and field agricultural ecologist by training, but has
    collaborated with a broader range of science professionals
    including mechanical engineers, chemists, physical scientists, and
    college educators by choice. He got his start in bioinformatics
    when next-generation DNA/RNA sequencing technologies were
    developed and quickly became a mainstay of academic
    research. Currently, he is a postdoctoral researcher for
    the <a href="https://genomevolution.org/coge/">CoGe bioinformatics
    platform</a> which is a federated website with
    the <a href="http://www.iplantcollaborative.org/">iPlant
    Collaborative</a>.
  </div>
</div>
