<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/kelly.tom.jpg" alt="Tom Kelly" />
  <div id="kelly.tom" class="media-body">
    <span class="person">Tom Kelly</span>
    is a computational geneticist with research experience in
    evolution, epigenetics, and cancer genetics. He is currently
    studying towards a PhD on genetic interactions in breast cancer at
    the University of Otago in New Zealand. With a background in
    Mathematics and Life Sciences, he uses both data analysis and
    modelling approaches to problems. Facing the challenges of modern
    interdisciplinary research, he has become involved in science
    communication, education, and collaboration initiatives.
  </div>
</div>
