<p id="khetani.radhika" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/khetani.radhika.jpg' alt='Radhika Khetani' />">
    <span class="person">Radhika Khetani</span> manages the training
    program at the Harvard Chan Bioinformatics Core, with a focus on
    developing bioinformatics workshops and training modules of
    various lengths for the Harvard community. Her passion is to make
    genomics data and its analysis more accessible to biologists.  She
    has spent the last several years training wet lab researchers to
    independently perform genomic analyses.
</p>
