<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/kiihne.suzanne.jpg" alt="Suzanne Kiihne" />
  <div id="kiihne.suzanne" class="media-body">
    <span class="person">Suzanne Kiihne</span>
    has diverse programming experience ranging from fMRI to bioinformatics and mobile apps.
    She has developed NMR methods for studying DNA and membrane protein structures,
    taught atmospheric science,
    and tested pizza recipes while living with her two kids in Switzerland,
    the Netherlands,
    and London. 
  </div>
</div>
