<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/kim.jt.png" alt="Jan T. Kim" />
  <div id="kim.jt" class="media-body">
    <span class="person">Jan T. Kim</span>
    is head of bioinformatics at
    <a href="http://www.pirbright.ac.uk/">The Pirbright Institute</a>.
    His scientific interests revolve around information in biological
    systems and have led him to acquire principled knowledge in the
    biosciences as well as in computer science and mathematical fields
    relevant to information theory. Jan also has several years of
    experience in programming, scientific computing and machine learning.
    He very much likes interdisciplinary work and enjoys learning and
    teaching, where his favourites include explaining computing to
    bioscientists and illuminating biology to computer scientists.
  </div>
</div>
