<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/kiral-kornek.isabell.jpg" alt="Isabell Kiral-Kornek" />
  <div id="kiral-kornek.isabell" class="media-body">
    <span class="person">Isabell Kiral-Kornek</span>
    is a Ph.D. candidate at The University of Melbourne. As part of
    Bionic Vision Australia, she focuses in her research on how to
    best convey information visually to an implant recipient to help
    in daily tasks, such as reading. She started programming in Basic
    on an Atari 8000XL when she was six years old and enjoys learning
    new languages.
    <br/>
    <span class="maintainer">Isabell is a topic maintainer for MATLAB.</span>
  </div>
</div>
