<p id="kitzes.j" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/kitzes.j.jpg' alt='Justin Kitzes' />">
    <a href="http://justinkitzes.com/" class="person">Justin Kitzes</a>
    is a postdoc in the Energy and Resources Group and a Data Science
    Fellow at the Berkeley Institute for Data Science at the
    University of California, Berkeley. His research centers on the
    intersection of quantitative ecology and conservation biology,
    with a focus on developing general methods to predict patterns of
    biodiversity in human-altered landscapes.
</p>
