<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/koch.christina.jpg" alt="Christina Koch" />
  <div id="koch.christina" class="media-body">
    <span class="person">Christina Koch</span>
    is a recent graduate of the University of British Columbia, with a
    master's degree in mathematics.  She currently lives in Vancouver,
    where she works as a tutor and donates her free time to worthy
    causes in math and computing education.
    <br/>
    <span class="maintainer">Christina is a topic maintainer for the Unix shell.</span>
  </div>
</div>
