<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/koch.christina.jpg" alt="Christina Koch" />
  <div id="koch.christina" class="media-body">
    <span class="person"><a href="http://christinalk.github.io/">Christina Koch</a></span>
    is a mathematician  who loves people, computers and 
    helping people use computers.   She currently works 
    as a research computing facilitator at the University 
    of Wisconsin, Madison, where she serves as a liaison between 
    researchers and campus compute resources.  
    <br/>
    <strong>Maintainer: Unix shell</strong>
  </div>
</div>
