<p id="konrad.b" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/konrad.b.jpg' alt='Bernhard Konrad' />">
    <span class="person">Bernhard Konrad</span> is a PhD student in
    Mathematical Biology at the University of British Columbia. He
    studies how HIV spreads within a single host or a city network.
    Bernhard loves to work on and talk about Data Science and Machine
    Learning, both of which he likes to apply to his open source and
    volunteer-run side project <a href="http://math-education-resources.com">
    Math Education Resources</a>.
</p>
