<p id="kwakwa.kwasi" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/kwakwa.kwasi.jpg' alt='Kwasi Kwakwa' />">
    <span class="person">Kwasi Kwakwa</span>
    was born and raised in Ghana, but now lives in colder, darker
    London working as a postdoctoral researcher at Imperial College
    London. He works in biophotonics, which mainly translates to long
    hours in dark, windowless rooms shining lasers on cells and then
    using computers to analyze the large stacks of pictures that are
    produced.
</p>
