<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/laforest-lapointe.isabelle.jpg" alt="Damien Irving" />
  <div id="laforest-lapointe.isabelle" class="media-body">
    <a href="http://isabellelaforestlapointe.wordpress.com" class="person">Isabelle Laforest-Lapointe</a>
    is a Ph.D. candidate in Biology at Universit&eacute; du
    Qu&eacute;bec &agrave; Montr&eacute;al, where she is studying the
    interactions between plants and microbes. Her project focuses on
    the phyllosphere microbiome of trees across natural and urban
    ecosystems. She holds two master degrees: ecology and
    statistics. She loves sharing knowledge and teaching, especially
    on the use of R and statistics.
  </div>
</div>
