<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/lake.sherry.jpg" alt="Sherry Lake" />
  <div id="lake.sherry" class="media-body">
    <span class="person">Sherry Lake</span> is a digital curation
    librarian at the University of Virginia Library where she has
    <a href="http://slideshare.net/shlake">taught many courses</a> on
    databases and best practices for data collection and
    management. Sherry has been working with and teaching about UNIX
    systems since the late 1980s. Sherry describes herself as being
    the bridge between technology and its users. She has a BS in
    Computer Science from the University of Virginia, and a MS in
    Information Sciences.
  </div>
</div>
