<p id="laufersweiler.mark" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/laufersweiler.mark.jpg' alt='Mark Laufersweiler' />">
    <span class="person">Mark Laufersweiler</span>
    (BS Physics, MS and PhD meteorology) is the Research Data
    Specialist for the University of Oklahoma (OU) Libraries, which is
    now a institutional member of the Software Carpentry
    Foundation. He assists faculty, students, and staff with data
    management, best practices, and is helping to implement a digital
    asset repository for the OU libraries and research
    community. Previously he was the IT specialist and adjunct faculty
    for the OU School of Meteorology where he taught IT and weather
    visualization skills.
</p>
