<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/lebauer.david.jpg" alt="David LeBauer" />
  <div id="lebauer.david" class="media-body">
    <a href="https://sites.google.com/site/dlebauer/" class="person">David LeBauer</a>
    is research scientist at the University of Illinois and a Fellow at
    the National Center for Supercomputing Applications. His research
    objective is to understand, predict, and manage
    ecosystem function. To support the computational and informatics
    demands of ecological prediction and inference, he leads development 
    of the <a href="http://pecanproject.github.io/">Predictive Ecosystem
    Analyzer</a>, a system for model-data synthesis as well as its database
    backend, <a href="https://www.betydb.org/">BETYdb</a>. In addition, he
    contributes to the development and assessment of statistical and
    simulation models.
  </div>
</div>
