<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/lee.kate.png" alt="Kate Lee" />
  <div id="lee.kate" class="media-body">
    <span class="person">Kate Lee</span>
    has a plant science background and more recently has moved into
    bioinformatics. She is currently a research assistant in the
    University of Leicester where she organises training in Next
    Generation Sequencing data analysis and provides bioinformatics
    support on projects from around the college including epigenetics,
    GWAS, transcriptomics, evolution and various bespoke scripting.
  </div>
</div>
