<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/lee.luke.jpg" alt="Luke Lee" />
  <div id="lee.luke" class="media-body">
    Over the last 10 years, 
    <span class="person">Luke Lee</span>
    has written software for everything from Python desktop and web applications
    to embedded C drivers for solid state disks.
    He currently writes scientific Python applications for Blueback Reservoir in Houston, Texas,
    and is an active member of the Houston Django and Python user groups.
  </div>
</div>
