<p id="lee.kwangchun" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/lee.kwangchun.jpg' alt='Victor (Kwangchun) Lee' />">
    <a href="http://www.xwmooc.net" class="person">Victor (Kwangchun) Lee</a> 
    is the founder of XWMOOC, a digital contents startup for
    computational thinking and software engineering in Korea.  He set
    up business and system architecture for Free Trade
    Agreement (FTA) and Origin Management at the Hyundai Motor Company,
    and led automotive semiconductor developement and purchasing at
    Hyundai Autron.
    Victor contributed to the
    <a href="{{page.root}}/blog/2014/11/korean-translation.html">Korean translation of Software Carpentry</a>.
    Victor has master's degrees in software engineering and statistics.
</p>
