<p id="lehtomaki.joona" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/lehtomaki.joona.jpg' alt='Joona Lehtomaki' />">
    <span class="person">Joona Lehtömaki</span>
    is a postdoctoral researcher at the University of Helsinki working
    on spatial conservation planning. Developing and applying software
    tools in supporting decision-making and in knowledge co-production
    are in the core of his work. He is also an active member of the
    open science working group of Open Knowledge Finland.
</p>
