<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/levernier.jacob.jpg" alt="Jacob Levernier" />
  <div id="levernier.jacob" class="media-body">
    <a href="http://adunumdatum.org/" class="person">Jacob
    Levernier</a> is a PhD student in Psychology at the
    University of Oregon, studying moral development, research ethics
    with digital data, and applied statistics. Jacob works between the
    disciplines of Psychology, Philosophy, and Computer Science. His
    interest in scientific computing centers on data management and
    workflow automation, both in the social sciences and related
    disciplines, including library science.
  </div>
</div>
