<p id="levy.michael" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/levy.michael.jpg' alt='Michael Levy' />">
    <a class="person" href="http://michaellevy.name/">Michael Levy</a>
    uses computational tools to study why people act the way they do
    toward the environment and how policy can improve natural resource
    management. His weapons of choice include social network analysis,
    Bayesian statistical models, and agent-based models. He has taught
    from West Virginia to South Korea, pre-K to post-doc, MCAT writing
    to R scripting.
</p>
