<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/leyder.jean-christophe.jpg" alt="Jean-Christophe Leyder" />
  <div id="leyder.jean-christophe" class="media-body">
    <span class="person">Jean-Christophe Leyder</span>
    is a Research Fellow at the European Space Agency (ESA) and works at the European Space Astronomy Centre (ESAC) in Spain,
    where he studies the physical properties of massive stars,
    most often using X-rays and gamma-rays.
  </div>
</div>
