<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/lightman.matthew.jpg" alt="Matthew Lightman" />
  <div id="lightman.matthew" class="media-body">
    <span class="person">Matthew Lightman</span>
    is a Data Scientist at American Express in New York City.  He
    received his PhD in physics from Columbia University, where he
    worked on simulating particle interactions on large computer
    clusters.  Matthew is passionate about education, and believes
    that beginning researchers can learn to use scripting and
    programming tools effectively so that they can get closer to the
    "80% of the work with 20% of the effort" ideal of the Pareto
    Principle.
  </div>
</div>
