<p id="liu.gang" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/liu.gang.jpg' alt='Gang Liu' />">
    <span class="person">Gang Liu</span>
    received BS, MS, and PhD degrees in theoretical physics from Jilin
    University, Changchun, China in 1983-95.  He has been a Scientific
    Computing Specialist at HPCVL at Queen's University in Ontario
    since 2001.  His work has included the double-layer master-slave
    model, the HPCVL working template, and the dynamical equation of
    the period vectors of a periodic system even under external
    stress.
</p>
