<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/lonsdale.andrew.jpg" alt="Andrew Lonsdale" />
  <div id="lonsdale.andrew" class="media-body">
    <span class="person">Andrew Lonsdale</span> is a PhD candidate
     using bioinformatics approaches to study plant cell walls, in the
     <a href="http://plantcellwalls.org.au/">ARC Centre of Excellence
     in Plant Cell Walls</a>. He studied software engineering and
     worked in industry before returning to study. He is also involved
     in community groups including
     <a href="http://combine.org.au/">COMBINE</a>, a group for
     Australian students in bioinformatics and computational biology.
  </div>
</div>
