<p id="lowe.elijah" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/lowe.elijah.jpg' alt='Elijah Lowe' />">
    <span class="person">Elijah Lowe</span> is a Ph.D. candidate in
    Computer Science and Quantitative Biology at Michigan State
    University. His research focus is on tail loss and development of
    invertebrate chordates using RNA-seq data. Originally from
    Atlanta, he received a B.S. in Computer Science from Morehouse
    College, and is currently in the New York City area.
</p>
