<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/macdonell.cam.jpg" alt="Cam Macdonell" />
  <div id="macdonell.cam" class="media-body">
    <a href="http://academic.macewan.ca/macdonellc4/" class="person">Cam Macdonell</a>
    is a faculty instructor at in the Department of Computer Science Grant MacEwan University in Edmonton, Alberta.
    His teaching and research relate to operating systems, software engineering, cloud computing and virtualization.
  </div>
</div>
