<p id="macindoe.gary" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/macindoe.gary.jpg' alt='Gary Macindoe' />">
    <span class="person">Gary Macindoe</span>
    obtained his PhD in Computational Statistics from UCL developing
    hybrid algorithms for linear algebra operations on multicore CPUs
    and GPUs.  He currently works as a Research Software Developer for
    UCL working with researchers and collaborators to produce and
    maintain readable, efficient and reliable research software.
</p>
