<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/madison.cindee.jpg" alt="Cindee Madison" />
  <div id="madison.cindee" class="media-body">
    <span class="person">Cindee Madison</span>
    develops software and research methods in a neuroimaging lab at UC Berkeley.
    She has been working on numerous open source projects in Python for the last eight years.
    Her interests range from image processing and graphics to graph theory and reproducible pipelines.
  </div>
</div>
