<p id="madin.j" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/madin.j.jpg' alt='Joshua Madin' />">
    <a href="acropora.bio.mq.edu.au/people/joshua-madin/" class="person">Joshua Madin</a>
    is a quantitative ecologist at Macquarie University in Sydney,
    Australia.  His research focuses on marine systems, especially
    coral reefs, where he uses biophysics, ecological theory and
    informatics to address questions at a range of ecological scales.
    For example, I explore questions spanning from the ecological
    consequences of tropical cyclones to the biogeographical role of
    functional traits. Joshua, his students and collaborators rely
    heavily on the tools taught by Software Carpentry to address such
    questions.
</p>
