<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/martinez.paula.jpg" alt="Paula Martinez" />
  <div id="martinez.paula" class="media-body">
    <span class="person">Paula Martinez</span>
    is a PhD candidate in Applied Bioinformatics at the University of
    Queensland. She has a background in Computer Science and an MSc in
    Bioinformatics. Her current research interests include
    evolutionary biology, comparative genomics, and analysis of
    large-scale datasets.  She wants to be more involved in research
    communities to empower participative work.
  </div>
</div>
