<p id="marwick.ben" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/marwick.ben.png' alt='Ben Marwick' />">
    <a href="http://faculty.washington.edu/bmarwick/"
    class="person">Ben Marwick</a> is an archaeologist at the
    University of Washington. He works on questions of prehistoric
    human-environment interaction in mainland Southeast Asia,
    Australia, and elsewhere. He enjoys programming in R and is active
    in
    the <a href="http://uwescience.github.io/reproducible/">Reproducible
    Research and Open Science Group</a> at
    the <a href="escience.washington.edu">UW eScience Institute</a>.
</p>
