<p id="marwaha.kunal" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/marwaha.kunal.jpg' alt='Kunal Marwaha' />">
    <span class="person">Kunal Marwaha</span> is an undergraduate
    student in physics and computer science at the University of
    California, Berkeley. He currently thinks about quantum control
    and nonlinear spectroscopy, and gets excited by new computational
    methods in science. Kunal loves to communicate, often via
    teaching, learning, and musical expression.
</p>
