<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/masoud-ansari.sina.jpg" alt="Sina Masoud-Ansari" />
  <div id="masoud-ansari.sina" class="media-body">
    <span class="person">Sina Masoud-Ansari</span>
    works as a high performance computing and eResearch consultant as
    the University of Auckland.  His interests are in parallel and GPU
    computing as well as machine learning.  He works with a range of
    researchers from various domains and helps develop tools and
    workflows to enable research.
  </div>
</div>
