<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mcgough.s.jpg" alt="Stephen McGough" />
  <div id="mcgough.s" class="media-body">
    <a href="https://www.dur.ac.uk/ecs/profiles/?id=11953" class="person">Stephen McGough</a>
    is a Lecturer in Computing Sciences at
    <a href="http://www.dur.ac.uk">Durham University</a> and a member
    of the <a href="https://www.dur.ac.uk/iarc/">Institute of Advanced
    Research Computing (iARC)</a>. His research interests lie in the
    areas of high performance and high throughput computing along with
    their implications for green computing.
  </div>
</div>
