<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mckay.sheldon.png" alt="Sheldon McKay" />
  <div id="mckay.sheldon" class="media-body">
    <span class="person">Sheldon McKay</span>
    is a computational biologist with a background and interests in genetics, phylogenetics and comparative genomics.
    He has participated in a number of biological database projects, including <a href="http://wormbase.org">WormBase</a>,
    <a href="http://gmod.org">GMOD</a>, <a href="http://modencode.org">modENCODE</a>,
    <a href="http://www.iplantcollaborative.org">iPlant</a>,
    and <a href="http://reactome.org">Reactome</a>.
  </div>
</div>
