<p id="mckinley.maria" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/mckinley.maria.jpg' alt='Maria McKinley' />">
    <a href="http://www.mariakathryn.net/" class="person">Maria McKinley</a>
    is a software developer in a neuroscience lab at the University of
    Washington.  She creates video games used to learn more about how
    our memory works, using Python and the 3D game engine, Panda3d.
    She is passionate about the craft of coding, and loves sharing
    what she has learned.
</p>
