<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mclean.cameron.jpg" alt="Cameron Mclean" />
  <div id="mclean.cameron" class="media-body">
    <span class="person">Cameron McLean</span> is a PhD candidate in
    Computer Science at the University of Auckland. Hailing from the
    biological sciences originally, and a keen open science advocate,
    his current research is exploring the use of design patterns as a
    novel knowledge representation framework on the Semantic Web. He
    wants to make it easier to capture and share aspects of laboratory
    practice, and to help researchers find, understand, and
    reuse/reproduce appropriate laboratory methods.
  </div>
</div>
