<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mctavish.ej.jpg" alt="Emily Jane McTavish" />
  <div id="mctavish.ej" class="media-body">
    <a href="https://sites.google.com/site/emilyjanemctavish/" class="person">Emily
    Jane McTavish</a> is a Humboldt Research Fellow working on phylogenetics 
    at the Heidelberg Institute for Theoretical Studies, in Germany.
    She is also a part-time postdoc at University of Kansas developing tools for updating and revising
    the tree of life, as part of 
    the <a href="http://opentreeoflife.org/">Open Tree</a>
    project.
  </div>
</div>
