<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mctavish.ej.jpg" alt="Emily Jane McTavish" />
  <div id="mctavish.ej" class="media-body">
    <a href="https://sites.google.com/site/emilyjanemctavish/" class="person">Emily
    Jane McTavish</a> is a postdoc at University of Kansas developing tools for updating and revising
    the tree of life, as part of
    the <a href="http://opentreeoflife.org/">Open Tree</a>
    project.
    She completed her PhD at the University of Texas in 2013. There she studied the complex evolutionary history of Texas Longhorn
    cattle using genomic data.
    
  </div>
</div>
