<p id="metz.jeremy" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/metz.jeremy.jpg' alt='Jeremy Metz' />">
    <a href="http://www.exeter.ac.uk/biomedicalhub/team/drjeremymetz/" class="person">Jeremy Metz</a>
    is an Experimental Officer for Image Processing in the Biosciences
    at the University of Exeter. He develops tools to address a range
    of scientifically interesting questions using mainly Python,
    Matlab, and ImageJ macros and plugins. Being a physicist by
    training, Jeremy is interested in using quantitative techniques to
    help generate simulations of Biophysical systems.
</p>
