<p id="michael.lauren" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/michael.lauren.png' alt='Lauren Michael' />">
    <span class="person">Lauren Michael</span>
    is a Research Computing Facilitator at the University of Wisconsin - Madison,
    where she helps researchers navigate the world of large-scale computing resources and related training opportunities.
    Lauren's own previous research examined the formation of RNA motifs and RNA-protein interactions using compute-intensive methods.
    She also has interests and experience in science communication, and serves as a member of the NSF-funded 
    <a href="http://aci-ref.org/">ACI-REF program</a>.
</p>
