<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/michnowicz.s.jpg" alt="Simon Michnowicz~" />
  <div id="michnowicz.s" class="media-body">
    <span class="person">Simon Michnowicz</span>
    works at Monash Universtiy's e-Research group, where he helps
    researchers use High Performance Computing facilities to advance
    their work.  He has a background in Computational Proteomics, and
    has a keen interest in educating users to find new ways to solve
    old problems.
  </div>
</div>
