<p id="michonneau.francois" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/michonneau.francois.jpg' alt='Francois Michonneau' />">
    <a href="http://francoismichonneau.net/" class="person">Fran&ccedil;ois Michonneau</a>
    is an evolutionary biologist interested in the origins of
    biodiversity, especially among marine invertebrates. He believes
    that the computing skills taught during Software Carpentry
    workshops are critical for a broad adoption of reproducible
    science, a topic he is passionate about.
</p>
