<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/michael.lauren.png" alt="Lauren Michael" />
  <div id="michael.lauren" class="media-body">
    <span class="person">Lauren Michael</span>
    is a Research Computing Facilitator at the University of Wisconsin - Madison,
    where she helps researchers navigate the world of computing resources and training opportunities.
    Lauren's own previous research examined the formation of RNA motifs and RNA-protein interactions using compute-intensive methods.
    She also has interests and experience in science communication.
  </div>
</div>
