<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/middleton.ryan.jpg" alt="Ryan Middleton" />
  <div id="middleton.ryan" class="media-body">
    <span class="person">Ryan Middleton</span> is a computer science
    instructor at Northern Arizona University and a software engineer.
    In addition to teaching computer science and developing software,
    he also assists scientists and researchers in utilizing cloud
    computing and software engineering principles so as to improve
    efficiency and maximize reproducibility for their own work.
  </div>
</div>
