<p id="miles.brian" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/miles.brian.jpg' alt='Brian Miles' />">
    <span class="person">Brian Miles</span>
    is a research scientist at the Institute for the Environment at
    the University of North Carolina at Chapel Hill.  His research is
    focused on stormwater pollution in urbanized ecosystems,
    environmental modeling, and hydroinformatics.  Brian was
    originally trained as a software developer, and current develops
    ecohydrology modeling tools to improve scientific reproducibility
    and researcher productivity.
</p>
