<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mills.b.jpg" alt="Bill Mills" />
  <div id="mills.b" class="media-body">
    <span class="person">Bill Mills</span> is a physicist and
    community manager for
    the <a href="http://mozillascience.org/">Mozilla Science Lab</a>,
    an open science initiative of the Mozilla Foundation and Software
    Carpentry Foundation partner. Prior to joining Mozilla, Bill
    worked as a software developer at TRIUMF, Canada's national lab
    for nuclear and particle physics, where he focused on overhauling
    software development and use, and worked on UI and UX for
    next-generation many-user experiments.
  </div>
</div>
