<p id="miotto.amanda" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/miotto.amanda.jpg' alt='Amanda Miotto' />">
    <span class="person">Amanda Miotto</span>
    is an eResearch Support Specialist in Griffith University's
    eResearch Services group. She graduated with a Bachelor of Science
    majoring in Bioinformatics before gaining hands-on experience
    developing software systems in support of a range of projects in
    genomics, systems biology and adult stem cell research. She writes
    in php, python and spends a lot of time in Bash.
</p>
