<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/miotto.amanda.jpg" alt="Amanda Miotto" />
  <div id="miotto.amanda" class="media-body">
    <span class="person">Amanda Miotto</span>
    is an eResearch Support Specialist in Griffith University's
    eResearch Services group. She graduated with a Bachelor of Science
    majoring in Bioinformatics before gaining hands-on experience
    developing software systems in support of a range of projects in
    genomics, systems biology and adult stem cell research. She writes
    in php, python and spends a lot of time in Bash.
  </div>
</div>
