<p id="mistry.meeta" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/mistry.meeta.png' alt='Meeta Mistry' />">
    <span class="person">Meeta Mistry</span>
    is a member of the
    <a href="http://hsphbio.ghost.io/">Bionformatics Core</a> at the
    Harvard School of Public Health. Her training began in
    Biochemistry, however postgraduate interests in computational
    approaches fostered the transition to Bioinformatics. Her
    expertise includes complex statistical analysis of large-scale
    datasets, specifically those pertaining to next-generation
    sequencing data. She also has a passion for teaching
    bioinformatics with experience at the high school, graduate and
    postgraduate level. Meeta has a PhD in Bioinformatics from the
    University of British Columbia.
</p>
