<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mokhtarzadeh.hamid.jpg" alt="Hamid Mokhtarzadeh" />
  <div id="mokhtarzadeh.hamid" class="media-body">
    <span class="person">Hamid Mokhtarzadeh</span>
    holds a PhD from the University of Minnesota for his research on
    estimators and sensor fusion systems for cooperative navigation
    applications.  He is also interested in teaching and software tools
    for engineering analysis and design.  During his graduate school
    Hamid designed and taught a 14-week course on Python for
    scientific and engineering applications to aerospace engineering
    undergraduate students.
  </div>
</div>
