<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/morris.b.png" alt="Ben Morris" />
  <div id="morris.b" class="media-body">
    <span class="person">Ben Morris</span>
    is a backend engineer in Silicon Valley interested in distributed
    systems and analytics. He received his B.S. in Computational
    Biology from Utah State University, where he worked with Ethan
    White developing open source software to make scientific data more
    accessible.
  </div>
</div>
