<p id="mudrak.erika" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/mudrak.erika.jpg' alt='Erika Mudrak' />">
    <a href="http://erikamudrak.com/" class="person">Erika Mudrak</a>
    is on the staff at the
    <a href="http://cscu.cornell.edu/">Cornell Statistical Consulting
    Unit</a>, where she consults with researchers across campus on a
    wide range of analytical research.  She has a PhD in Ecology
    (Botany Dept) and an MS in Biometry (Statistics Dept) from the
    University of Wisconsin - Madison.  Her research interests include
    multivariate and spatial analysis, data visualization, data
    management and reproducible research.  She co-hosts a the blog
    <a href="http://accidental-art.tumblr.com/">accidental aRt</a> with
    fellow SWC instructor Kara Woo, where they curate examples of data
    visualizations gone beautifully wrong.
</p>
