<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/munoz.ian.jpg" alt="Ian Munoz" />
  <div id="munoz.ian" class="media-body">
    <span class="person">Ian Mu&ntilde;oz</span>
    is a scientific programmer at <a href="http://sesync.org/">SESYNC</a>,
    where he spends most of his time in R and Postgresql.
    Ian hails from Colorado State University, and has a Bachelors in Economics.
    He enjoys learning how different tools excel at different tasks and has a passion for open source.
  </div>
</div>
