<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/nahum.josh.jpg" alt="Josh Nahum" />
  <div id="nahum.josh" class="media-body">
    <span class="person">Josh Nahum</span> is a scientist interested
    in the intersection of evolutionary biology and computer
    science. During my doctorate, he investigated the nature of
    mutation and adaptive landscapes in microbes. After receiving his
    PhD from the University of Washington, he has been teaching and
    working with the evolution of digital organisms.
  </div>
</div>
