<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/navarro.francisco.jpg" alt="Francisco Navarro" />
  <div id="navarro.francisco" class="media-body">
    <span class="person">Francisco J. Navarro Brull</span> is a
    chemical engineer and a junior researcher focused on the
    mathematical modelling and computer multiphysics simulation of
    microreactors within the European Project MAPSYN at the University
    of Alicante (Spain). During his studies, he worked for a year in
    Germany as a data analyst and co-created CAChemE: a non-profit
    chemical engineering association, which promotes advanced open
    source process engineering software.
  </div>
</div>
