<p id="nenadic.aleksandra" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/nenadic.aleksandra.png' alt='Aleksandra Nenadic' />">
    <a href="http://orcid.org/0000-0002-2269-3894" class="person">Aleksandra Nenadic</a>
    is ELIXIR-UK's Training Coordinator for ICT and Software, based at
    the School of Computer Science, University of Manchester, where
    she also completed a PhD in Internet security. She currently also
    oversees <a href="https://www.biocatalogue.org/">BioCatalogue</a>,
    is involved with the <a href="http://software.ac.uk">Software
    Sustainability Institute</a>, and when she has time still programs
    in Java and Ruby on Rails.
</p>
