<p id="nielsen.jens" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/nielsen.jens.jpg' alt='Jens Nielsen' />">
    <span class="person">Jens Nielsen</span> 
    holds a PhD in experimental physics from Aarhus University, Denmark.
    He is now working as a Research Software Developer at <a href="http://ucl.ac.uk">UCL</a> collaborating 
    with researchers to write and maintain readable and reliable software for 
    their research projects. He has been using git and programming in python 
    for a number of years and is semi-regular contributor to 
    <a href="http://matplotlib.org">Matplotlib</a>.
</p>
