<p id="nielsen.daiva" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/nielsen.daiva.jpg' alt='Daiva Nielsen' />">
    <span class="person">Daiva Nielsen</span>
    is a postdoc at Harvard Medical School and Brigham and Women's
    Hospital. Her research is in translational genomics, which aims to
    develop processes for integrating clinically relevant genomic
    information into medical practice to improve health outcomes. She
    is keen to continue to develop her data skills and promote
    reproducible research in science.
</p>
