<p id="nunez-iglesias.juan" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/nunez-iglesias.juan.jpg' alt='Juan Nunez-Iglesias' />">
    <a href="http://ilovesymposia.com" class="person">Juan Nunez-Iglesias</a>
    is a bioinformatics
    researcher with special interests in neuroscience, image analysis,
    and computer vision. His undergraduate training was in genetics
    and biochemistry, but he gradually became more
    computationally-focused, and now he's a core developer for
    <a href="http://scikit-image.org">scikit-image</a>, a major open-source
    library.
</p>
