<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ocais.alan.jpg" alt="Alan O'Cais" />
  <div id="ocais.alan" class="media-body">
    <span class="person">Alan O'Cais</span>
    is a theoretical physicist by trade (PhD from Trinity College
    Dublin in 2006) who has spent the last number of years working
    within application and user support among some of worlds largest
    supercomputing centers. He is currently helping to develop virtual
    research communities (including remote support and training
    infrastructures) for computational researchers in the Eastern
    Mediterranean.
  </div>
</div>
