<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/olson.r.jpg" alt="Randy Olson" />
  <div id="olson.r" class="media-body">
    <span class="person"><a href="http://www.randalolson.com/">Randy Olson</a></span>
    is a Computer Science graduate research assistant at
    <a href="http://msu.edu/">Michigan State University</a> in
    <a href="http://adamilab.msu.edu/">Dr. Chris Adami's lab</a> specializing in artificial intelligence,
    artificial life,
    and evolutionary computation.
    He runs a
    <a href="http://www.randalolson.com/blog/">research blog</a>
    where he writes about scientific computing,
    data visualization,
    evolution,
    and AI. Randy is an ardent advocate of open science and regularly travels the U.S.
    to teach researchers scientific computing skills at Software Carpentry workshops.
  </div>
</div>
