<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ory.j.png" alt="Jeramia Ory" />
  <div id="ory.j" class="media-body">
    <a href="http://drlabratory.com"><span class="person">Jeramia Ory</span></a>
    is an Associate Professor of Biology at <a href="http://www.kings.edu">King's College</a> in Wilkes-Barre, PA.
    His lab studies the evolution of virulence in fungi.
    His educational interests include the use of metacognition to foster student engagement,
    nontraditional lecture models,
    the roots of student motivation and the role of technology in science education.
  </div>
</div>
