<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ory.j.png" alt="Jeramia Ory" />
  <div id="ory.j" class="media-body">
    <a href="http://drlabratory.com" class="person">Jeramia Ory</a>
    is an Associate Professor of Biology at <a href="http://www.kings.edu">King's College</a> in Wilkes-Barre, PA.
    A self-described "data junkie," he uses the tools Software Carpentry teaches to analyze genomic data sets when
    he is not teaching Biochemistry or Genetics to undergraduates. His educational interests include the use of 
    metacognition to enable student learning, nontraditional lecture models,
    and the role of technology in science education.
  </div>
</div>
