<p id="ory.j" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/ory.j.png' alt='Jeramia Ory' />">
    <a href="http://drlabratory.com" class="person">Jeramia Ory</a>
    is an Associate Professor of Biochemistry at the <a href="http://www.stlcop.edu">St. Louis College of Pharmacy</a> 
    in St. Louis, MO.
    A self-described "data junkie," he uses many of the tools Software Carpentry teaches to analyze genomic data sets when
    he is not teaching Biochemistry to pharmacy students. His educational interests include the use of 
    metacognition to enable student learning, nontraditional lecture models,
    and the role of technology in science education.
</p>
