<p id="palamartchouk.kirill" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/palamartchouk.kirill.jpg' alt='Kirill Palamartchouk' />">
    <span class="person">Kirill Palamartchouk</span>
    is a Researcher in satellite geodesy at Newcastle University,
    UK. His science involves elements of geophysics and
    radioelectronics, meteorology and celestial mechanics, and, of
    course, computing.  Kirill believes that following good computing
    practices is very important, and likes to help fellow researchers
    do things reliably and efficiently. He can teach in English,
    Russian, and Greek.
</p>
