<p id="palm.francisco" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/palm.francisco.jpg' alt='Francisco Palm' />">
    <a href="http://map0logo.github.io/" class="person">Francisco Palm</a>
    is a Systems Engineer with Master in Applied Mathematics to
    Engineering and Diploma of Advanced Studies in Cartography, GIS
    and Remote Sensing. Professor at the University of Los Andes
    (Mérida, Venezuela) in Operations Research and activist of open
    technologies and open knowledge in various collectives. Researcher
    in Management Science and Geospatial Analysis applied to
    Grassroots Organizing.
</p>
