<p id="paulo.martin" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/paulo.martin.jpg' alt='Martin Paulo' />">
    <span class="person">Martin Paulo</span>
    is a software developer who has had a long and varied career: he
    started out writing assembler for embedded systems. From there,
    via grid programming, he made the move to more conventional
    development, as a team lead in the in the financial services
    arena. For the last few years he has been active as a developer
    helping to support the research community. Martin has a particular
    interest in the human side of software development and cloud
    computing.
</p>
