<p id="pawlik.a" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/pawlik.a.jpg' alt='Aleksandra Pawlik' />">
    <span class="person">Aleksandra Pawlik</span> 
    works for the Software Sustainability Institute at the University of Manchester.
    She coordinates the Institute's training activities, including Software Carpentry workshops and
    the Institute's collaboration with the Centers for Doctoral Training in the UK. 
    Aleksandra holds a PhD in Computing from the Open University and her PhD
    research focused on documentation in scientific software. 
    <br/>
    <strong>Steering Committee</strong>
</p>
