<p id="pearson.john" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/pearson.john.jpg' alt='John Pearson' />">
    <a href="http://jmxpearson.com" class="person">John Pearson</a>
    was trained as a physicist but now works as a computational
    neuroscientist at the <a href="http://www.dibs.duke.edu/">Duke
    Institute for Brain Sciences</a>. His research focuses on applying
    machine learning to brain data, with particular interest in the
    cognitive processes underlying decision making. He is passionate
    about equipping undergraduate and graduate students with the
    computational tools needed to make the most of their data.
</p>
