<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/perez-suarez.david.jpg" alt="David P&eacute;rez-Su&aacute;rez" />
  <div id="perez-suarez.david" class="media-body">
    <a href="http://dpshelio.github.io/" class="person">David P&eacute;rez-Su&aacute;rez</a>
    is a post-doc at the Space Weather Team in the South African National Space Agency (SANSA), 
    working as the Solar Physicist of the team. 
    He mainly works doing image processing and time-series analisys of solar data, 
    but he is also active in a couple of projects involving webservices, workflows and grid computing.
    David is one of the developers of <a href="http://sunpy.org">a python library for solar physicist</a> 
    and one of the scientists behind a 
    <a href="http://www.sunspotter.org">citizen science project to classify sunspots</a>.
  </div>
</div>
