<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/perignon.mariela.png" alt="Mariela Perignon" />
  <div id="perignon.mariela" class="media-body">
    <span class="person">Mariela Perignon</span>
    is a fluvial geomorphologist doing a post-doc at the University of
    Colorado at Boulder. She is interested in the movement of sediment
    across river networks and the contribution of individual floods to
    the long-term evolution of landscapes.
  </div>
</div>
