<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/perry.adam.jpg" alt="Adam Perry" />
  <div id="perry.adam" class="media-body">
    <span class="person">Adam Perry</span> writes some code in
    addition to his other responsibilities as a member of staff at
    Northern Arizona University. He focuses primarily on mining and
    analysis in enterprise databases, but is spending lots of time
    these days on a variety of scientific computing projects.
  </div>
</div>
