<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/pfenninger.s.jpg" alt="Stefan Pfenninger" />
  <div id="pfenninger.s" class="media-body">
    <a href="http://www.pfenninger.org" class="person">Stefan Pfenninger</a>
    is a PhD student at Imperial College London. His research is
    focused on energy policy and energy systems modeling, but he is
    also interested in climate policy more generally, including
    resilience and strategies for adapting society and infrastructure
    to a changing climate. His background is in environmental science
    and policy.
  </div>
</div>
