<p id="poisot.t" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/poisot.t.jpg' alt='Timothee Poisot' />">
    <span class="person">Timoth&eacute;e Poisot</span>
    is a computational and quantitative ecologist, working, in no
    particular order, on ecological networks, coevolutionary dynamics,
    complex systems, and the re-use of open ecological data. He serves
    on the editorial board of [re]science, PLOS Computational Biology,
    and Methods in Ecology & Evolution.
</p>
