<p id="pollard.tom" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/pollard.tom.png' alt='Tom Pollard' />">
    <a href="https://twitter.com/tompollard" class="person">Tom Pollard</a>
    is a PhD student at University College London, looking at models
    of acute physiological health in critical care patients. He is a 
    <a href="https://twitter.com/softwaresaved">@SoftwareSaved</a> Fellow, 
    and he'd like academic research to be less competitive and more collaborative.
</p>
