<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/pomorski.pawel.jpg" alt="Pawel Pomorski" />
  <div id="pomorski.pawel" class="media-body">
    <span class="person">Pawel Pomorski</span> works for SHARCNET at
    the University of Waterloo as a High Performance Computing
    Programming Analyst. His interests span many areas of high
    performance computing, including parallel programming in various
    languages, using CUDA, OpenMP and MPI. Pawel has a PhD in physics,
    and presently lives in Waterloo, Ontario.
  </div>
</div>
