<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/preeyanon.likit.jpg" alt="Likit Preeyanon" />
  <div id="preeyanon.likit" class="media-body">
    <span class="person">Likit Preeyanon</span>
    is a Ph.D. candidate in Microbiology and Molecular Genetics at Michigan State University.
    He uses computers to analyze very large genome and transcriptome sequencing data from various kinds of animals and human.
    His interests include bioinformatics, open science, and education.
  </div>
</div>
