<p id="pue.s" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/pue.s.jpg' alt='Sean Pue' />">
    <span class="person">Sean Pue</span>
    a literary historian and digital humanist, is the author
    of <a href="http://ucpress.edu/9780520283107"><em>I Too Have Some Dreams:
    N. M. Rashed and Modernism in Urdu Poetry</em></a>. He is
    eternally grateful to Software Carpentry for teaching him tab
    completion. Sean is an associate professor at Michigan State
    University and blogs
    at <a href="http://seanpue.com">http://seanpue.com</a>.
</p>
