<p id="ramalingam.saravanan" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/ramalingam.saravanan.jpg' alt='R Saravanan' />">
    <a href="http://atmo.tamu.edu/profile/RSaravanan" class="person">R Saravanan</a>
    is a professor in the Department of Atmospheric Sciences at Texas
    A&amp;M University.  His research involves the use of
    supercomputers for numerical modeling and data analysis to study
    past, present, and future climates. He also dabbles in open source
    and teaches courses in meteorology, climate, and introductory
    programming (using Python).
</p>
