<p id="ramos-musalem.ana-karina" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/ramos-musalem.ana-karina.jpg' alt='Karina Ramos-Musalem' />">
    <span class="person">Karina Ramos-Musalem</span>
    is a PhD student in Physical Oceanography at the University of
    British Coulumbia. Her research focuses on modelling, either
    numerically or physically, various aspects of the flow within and
    around coastal submarine canyons and their impact on the exchange
    of nutrients between the continental shelf and the open ocean.
</p>
