<p id="razoumov.alex" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/razoumov.alex.jpg' alt='Alex Razoumov' />">
    <span class="person">Alex Razoumov</span> earned his PhD in
    computational astrophysics from the University of British
    Columbia. He has worked on numerical models ranging from galaxy
    formation to core-collapse supernovae and stellar hydrodynamics,
    and has developed a number of computational fluid dynamics and
    radiative transfer codes and techniques. He spent five years as
    HPC Analyst in SHARCNET helping researchers use large clusters,
    and more recently joined WestGrid as visualization specialist.
    Alex lives in Vancouver, British Columbia.
</p>
