<p id="richie-halford.adam" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/richie-halford.adam.jpg' alt='Adam Richie-Halford' />">
    <span class="person">Adam Richie-Halford</span> is a PhD student
    and Department of Energy Computational Science Graduate Fellow in
    the Physics Department at the University of Washington, where he
    studies the dynamics of superfluid vortices. Before Adam became a
    PhD student, he was a Peace Corps Volunteer in a small Berber
    village in Morocco. He enjoys teaching and learning new things and
    hanging out with his Boston Terrier named Mousse.
</p>
