<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/riley.janet.jpg" alt="Janet Riley" />
  <div id="riley.janet" class="media-body">
    <a href="http://www.janetriley.net" class="person">Janet Riley</a>
    is a programmer at Cantina Consulting, where she writes web
    applications for a variety of clients and industries. Her MS in
    Computer Science from Boston University nicely complements her BA
    in Classical Studies from the University of Massachusetts Amherst.
  </div>
</div>
