<p id="rio.david" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/rio.david.jpg' alt='David Rio' />">
    <span class="person">David Rio</span> is a Software Engineer from
    Barcelona, Catalonia, Spain.  He holds a B.S in Computer Science
    and is currently working at the Human Genome Sequencing Center in
    Baylor College of Medicine as a lead software engineer. He is
    passionate about using technology to help scientists with their
    research, an active contributor to all types of open source
    projects, and believes in the importance of teaching programming
    to non-computational scientists.
</p>
