<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ritchie.scott.png" alt="Scott Ritchie" />
  <div id="ritchie.scott" class="media-body">
    <span class="person">Scott Ritchie</span>
    is a Ph.D. Student in
    the <a href="http://www.inouyelab.org/">Medical Systems
    Biology</a> lab at the University of Melbourne, Australia. He has
    a background in Computer Science and Bioinformatics, and his
    day-to-day research primarily consists of methods development and
    data analysis using R. His research interests include gene
    coexpression networks, and data visualisation.
  </div>
</div>
