<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/robinson.rosario.png" alt="Rosario Robinson" />
  <div id="robinson.rosario" class="media-body">
    <span class="person">Rosario Robinson</span> is working toward a
    more inclusive tech community by introducing women and
    underrepresented minorities to open source. Rose works with Her
    Systers' Keeper, a virtual community of technical women with more
    than 5,000 members from over 54 countries, manages Systers' open
    source projects, and is Systers' Google Summer of Code
    Administrator. She has more than 20 years tech consulting
    experience in various industries including telecommunications,
    geospatial and infrastructure.
  </div>
</div>
