<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/robinson.natalie.jpg" alt="Natalie Robinson" />
  <div id="robinson.natalie" class="media-body">
    <a href="http://www.nataliesrobinson.com" class="person">Natalie Robinson</a>
    earned her PhD at the University of Colorado, Boulder, studying
    the causes of species diversity patterns in urban, fragmented
    ecosystems around the globe.  She is currently a quantitative
    ecologist and biostatistician at
    <a href="http://neoninc.org/">NEON</a>, where she processes and
    analyzes continental-scale ecological and spatial data that will
    be used by scientists worldwide to better understand the responses
    of species and ecosystems to such disturbances as climate and
    land-use change.
  </div>
</div>
