<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/rohl.andrew.jpg" alt="Andrew Rohl" />
  <div id="rohl.andrew" class="media-body">
    <span class="person">Andrew Rohl</span> is a computational
    materials scientist at Curtin University in Western Australia. His
    research focuses on crystal growth using both ab initio and
    forcefield techniques. He has been the director of a
    supercomputing centre and currently is leading an institute
    focussed on computation across all fields of research.
  </div>
</div>
