<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ross.noam.jpg" alt="Noam Ross" />
  <div id="ross.noam" class="media-body">
    <a href="http://www.noamross.net/" class="person">Noam Ross</a>
    is a disease ecologist at <a href="http://www.ecohealthalliance.org/">
    EcoHealth Alliance</a>, where he studies the dynamics of wildlife and plant
    diseases and the process of inter-species disease splillover.  He recieved 
    a Ph.D. from the University of  California-Davis in 2015. Noam is also a
    founder of the <a href="http://www.noamross.net/davis-r-users-group.html">Davis
    R Users' Group</a>, and is on the <a href="http://ropensci.org/">rOpenSci</a>
    review board.
  </div>
</div>
