<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/rowell.bill.jpg" alt="Billy Rowell" />
  <div id="rowell.bill" class="media-body">
    <span class="person">Billy Rowell</span> is a Research Specialist
    at Howard Hughes Medical Institute Janelia Research Campus, where
    he designs, runs, and analyzes data from high-throughput
    behavioral assays, and helps others automate workflow and
    analysis.  He has an MA in Molecular and Cell Biology from the
    University of California, where he studied fruit fly genetics and
    development.
  </div>
</div>
