<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/rugis.john.jpg" alt="John Rugis" />
  <div id="rugis.john" class="media-body">
    <span class="person">John Rugis</span>
    is a Computer Scientist working for the New Zealand eScience
    Infrastructure (NeSI) at the University of Auckland. His primary
    research interests are 3D visualisation of scientific data,
    software design for GPU's in cluster computing and the geometry of
    3D discrete point sets. He also studies the morphology and
    propagation of New Zealand endemic ferns.
  </div>
</div>
