<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ruttley.m.png" alt="Matthew Ruttley" />
  <div id="ruttley.m" class="media-body">
    <span class="person">Matthew Ruttley</span> was born in the UK and
    has lived in Japan and the USA, working on a variety of things
    related to data science and natural language processing.  He is
    currently Manager of Data Science at Mozilla in New York City,
    where he works on interest signals, reporting, and site similarity
    metrics.
  </div>
</div>
