<p id="sarahan.michael" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/sarahan.michael.jpg' alt='Michael Sarahan' />">
    <a href="http://msarahan.github.io/" class="person">Michael
    Sarahan</a> earned a PhD in materials science from UC Davis by
    writing some very scary Python code.  He now does his penance by
    helping other people write better code.  As director of software development
    at <a href="http://www.nion.com/">Nion Co.</a>, he enjoys enabling
    better science with computers.  He moonlights as a tutor, and
    hopes to support his family by teaching one day.
</p>
