<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/schilling.martin.jpg" alt="Martin Schilling" />
  <div id="schilling.martin" class="media-body">
    <span class="person">Martin Schilling</span>
    is a PhD candidate in Biology at Utah State University. He is
    interested in bioinformatic and statistical methods for
    next-generation sequencing in population genetics and evolutionary
    biology. He is working on the evolution and ecology of plant
    reproductive systems in a genomic context.
  </div>
</div>
