<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/schloss.pat.jpg" alt="Pat Schloss" />
  <div id="schloss.pat" class="media-body">
    <span class="person">Pat Schloss</span> is an Associate Professor
     in the Department of Microbiology &amp; Immunology at the
     University of Michigan where he uses bioinformatics to enable his
     research into the role of human microbiota in maintaining
     health. He also develops the <a href="www.mothur.org">mothur</a>
     open source project, which enables others to answer their own
     microbial ecology questions using microbial sequence data.
  </div>
</div>
