<p id="schmidt.marian" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/schmidt.marian.jpg' alt='Marian Schmidt' />">
    <span class="person">Marian Schmidt</span> is a PhD candidate in
    the Department of Ecology and Evolutionary Biology at the
    University of Michigan.  She uses genomics data to study the
    spatial and seasonal distributions and activities of bacteria in
    freshwater lakes.  She loves analyzing and visualizing microbial
    ecology data in R and is a believer in code sharing and
    reproducible research.
</p>
