<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/schwartz.rachel.jpg" alt="Rachel Schwartz" />
  <div id="schwartz.rachel" class="media-body">
    <span class="person">Rachel Schwartz</span>
    is a research scientist at Arizona State University with a
    background in ecology and evolutionary biology. She currently
    develops methods for phylogenomics, including the software SISRS,
    which extracts phylogenetically useful data from raw
    next-generation sequencing reads.
  </div>
</div>
