<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/selik.m.png" alt="Michael Selik" />
  <div id="selik.m" class="media-body">
    <a href="http://selik.org/" class="person">Michael Selik</a> is a data
    scientist at <a href="http://www.infochimps.com/">Infochimps</a>. Over his career, he has
    worked for major enterprises and venture-backed startups delivering sophisticated analysis
    and technology project management services from hyperlocal demographics inference to
    market share forecasting. He received a MS Economics, a BS Computer Science, and a BS
    International Affairs from the Georgia Institute of Technology.
  </div>
</div>
