<p id="shambaugh.brent" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/shambaugh.brent.jpg' alt='Brent Shambaugh' />">
    <a href="http://bshambaugh.org/" class="person">Brent Shambaugh</a>
    has a Masters in Chemical Engineering and has taught undergraduate
    chemistry as a adjunct professor. Today he spends most of his time
    developing a concept for virtual organizations for peer production
    with linked data and semantic web technologies. He also started
    Code Norman.
</p>
