<p id="sharan.malvika" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/sharan.malvika.jpg' alt='Malvika Sharan' />">
    <span class="person">Malvika Sharan</span> is a PhD student in the
    University of Wuezburg, Germany, where she is carrying out
    projects that deal with characterization of RNA-binding proteins
    by means of bio-computational techniques and high-throughput
    sequence analysis. As a part of Doctoral Researchers' council of
    her graduate school, she tries to promote the usage of
    bioinformatics tools and programming skills among the biologists
    in order to increase the efficient exchange of data.
</p>
