<p id="shelton.j" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/shelton.jennifer.jpg' alt='Jennifer M Shelton' />">
    <a href="https://impactstory.org/JenniferShelton" class="person">Jennifer M Shelton</a>
    is a Bioinformatics Analyst at the New York Genome Center. She finds
    the field rich with opportunities, and sees the "open science"
    model as a logical extension of the scientific method because it
    is a way to reduce redundancy and increase reproducibility.
</p>
