<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/shelton.j.jpg" alt="Jeff Shelton" />
  <div id="shelton.j" class="media-body">
    <a href="http://engineeringrevision.com/about/" class="person">Jeff
    Shelton</a> studies control aspects of human motion. Having spent more
    than two decades in industry before returning to Purdue University for his 
    PhD in Mechanical Engineering, he is interested in aligning educational 
    methods with the evolving societal roles performed by engineers.
  </div>
</div>
