<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/shelton.jennifer.jpg" alt="Jennifer Shelton" />
  <div id="shelton.j" class="media-body">
    <a href=" http://bioinformaticskstateperl.blogspot.com/" class="person">Jennifer Shelton</a>
    focuses on bioinformatics analysis and workflow development
    because it is clear that the efficient parsing of large datasets
    is increasingly important to the biological sciences. She finds
    this field rich with opportunities, and sees the "open science"
    model as a logical extension of the scientific method because it
    is a way to reduce redundancy and increase reproducibility.
  </div>
</div>
