<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/sheneman.leigh.jpg" alt="Leigh Sheneman" />
  <div id="sheneman.leigh" class="media-body">
    <a href="http://www.leighsheneman.com" class="person">Leigh Sheneman</a>
    is a computer science Ph.D. student at Michigan State University,
    where she uses digital evolution to study epistasis between body
    and brain.She has spent many years helping non-profit
    organizations develop interactive applications that focus on
    efficiency. She holds degrees from Texas A&amp;M University and
    the University of Texas at Tyler.
  </div>
</div>
