<p id="sheneman.leigh" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/sheneman.leigh.jpg' alt='Leigh Sheneman' />">
    <a href="http://www.leighsheneman.com" class="person">Leigh Sheneman</a>
    is a computer science Ph.D. student at Michigan State University,
    where she uses digital evolution to study epistasis between body
    and brain.She has spent many years helping non-profit
    organizations develop interactive applications that focus on
    efficiency. She holds degrees from Texas A&amp;M University and
    the University of Texas at Tyler.
</p>
