<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/shih.yu-ching.jpg" alt="Yu-Ching Shih" />
  <div id="shih.yu-ching" class="media-body">
    <span class="person">Yu-Ching Shih</span> is a computational
    scientist and engineer. He received his Ph.D in Applied Mechanics
    from National Taiwan University in 2013. He is now interested in
    applying his analytical and computational knowledge to the
    problems in machine learning and data science.
  </div>
</div>
