<p id="silva.raniere" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/silva.raniere.jpg' alt='Raniere Silva' />">
    <span class="person">Raniere Silva</span>
    has a BSc (Applied Mathematics) from the University of Campinas.
    His focus is in free/open software for the collaborative development of robust,
    reproducible, and scalable software tools for computational
    science and open science/access.
    <br/>
    <strong>Steering Committee</strong>
    <br/>
    <strong>Maintainer: tools</strong>
</p>
