<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/silva.raniere.jpg" alt="Raniere Silva" />
  <div id="silva.raniere" class="media-body">
    <span class="person">Raniere Silva</span> is a undergraduate of applied
    mathmatics of University of Campinas working with linear programming.
    His focus is in free/open software for the collaborative
    development of robust, reproducible, and scalable software tools
    for computational science and open science/access.
  </div>
</div>
