<p id="simpson.john" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/simpson.john.jpg' alt='John Simpson' />">
    <span class="person">John Simpson</span> is currently the Digital
    Humanities Specialist for Compute Canada and is leading
    development of a national strategy to bring Arts-based research
    with HPC.  He holds a PhD in philosophy based on research into
    rational behaviour using agent-based simulations that he wrote
    himself.  Outside of academia a manipulator of strings on screens,
    in hands, and on ukulele and banjo fret boards.
</p>
