<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/slaybaugh.rachel.jpg" alt="Rachel Slaybaugh" />
  <div id="slaybaugh.rachel" class="media-body">
    <span class="person">Rachel Slaybaugh</span>
    is an Assistant Professor of Nuclear Engineering at the University of California Berkeley
    where she develops radiation transport methods for application to reactors, shielding, and nuclear security applications.
    Rachel writes in  C++, Python, and Fortran, and has research experience with massively parallel code systems.
  </div>
</div>
