<p id="slaybaugh.rachel" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/slaybaugh.rachel.jpg' alt='Rachel Slaybaugh' />">
    <span class="person">Rachel Slaybaugh</span>
    is an Assistant Professor of Nuclear Engineering at the University of California Berkeley
    where she develops radiation transport methods for application to reactors, shielding, and nuclear security applications.
    Rachel writes in  C++, Python, and Fortran, and has research experience with massively parallel code systems.
</p>
