<p id="sloggett.clare" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/sloggett.clare.jpg' alt='Clare Sloggett' />">
    <span class="person">Clare Sloggett</span>
    is a research fellow and bioinformatician at the Victorian Life
    Sciences Computation Initiative. She works in genomics on a
    variety of projects, principally in cancer genomics, and is
    interested in the application of statistical and machine learning
    methods to bioinformatics. She also teaches a Masters-level
    subject in genomics algorithms at the University of Melbourne.
</p>
