<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/small.luc.jpg" alt="Luc Small" />
  <div id="small.luc" class="media-body">
    <span class="person">Luc Small</span>
    works for Intersect Australia, a not-for-profit organisation
    helping researchers within New South Wales and Australian Capital
    Territory universities to achieve research impact through
    technology. Luc's hobbies include electronics, Arduino, single
    board computers and cycling. He holds a PhD in Philosophy.
  </div>
</div>
