<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/smith.byron.jpg" alt="Byron Smith" />
  <div id="smith.byron" class="media-body">
    <span class="person">Byron Smith</span> Byron Smith is a PhD
    candidate in Ecology and Evolutionary Biology at the University of
    Michigan, where he studies evolutionary processes in microbial
    communities using a combination of culture-based physiology
    experiments and (meta)genomic sequence analysis.  Previously he
    received a B.S. in biology from The College of William &amp; Mary
    in Virginia and spent several years as a graduate student at
    Michigan State University.  Byron is interested in sharing tools
    and best practices for scientific software with his colleagues to
    facilitate effective collaboration.
  </div>
</div>
