<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/smorul.mike.jpg" alt="Mike Smorul" />
  <div id="smorul.mike" class="media-body">
    <span class="person">Mike Smorul</span> is the Associate Director
    for Cyberinfrastructure at <a href="http://sesync.org">SESYNC</a>
    where he oversees development SESYNC’s research computing
    infrastructure. He has a background in professional software
    development, system/network administration, high performance
    computing and digital archiving.
  </div>
</div>
