<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/speer.donald.jpg" alt="Donald Speer" />
  <div id="speer.donald" class="media-body">
    <span class="person">Don Speer</span> supports researchers in
    science and engineering at the three state universities in Arizona
    on a routine and daily basis.  As a sysadmin he works to expand
    the infrastructure for informatics and computing in AZ through
    various projects like Arizona Environmental Grid Infrastructure
    Services. He volunteers his time in groups such as
    Software-Carpentry and hacker meetup groups to develop new
    software and startup ideas.
  </div>
</div>
