<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/srinivasan.karthik.jpg" alt="Karthik Srinivasan" />
  <div id="srinivasan.karthik" class="media-body">
    <span class="person">Karthik Srinivasan</span> is a PhD student at
    the MIS department in University of Arizona, where he applies
    statistical and machine learning approaches to research projects
    in environment and healthcare area. Previously, he was part of the
    data analytics team in the automobile firm Robert Bosch for a year
    after completing his masters from Indian Institute of Science.
  </div>
</div>
