<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/srinath.ashwin.jpg" alt="Ashwin Srinath" />
  <div id="shrinath.ashwin" class="media-body">
    <span class="person">Ashwin Srinath</span>
    is a Master's student in Mechanical Engineering&mdash;passing off
    as a computer scientist&mdash;at Clemson University, where he does
    research in high-performance computational fluid dynamics. He
    works with Python as much as possible, but can be persuaded to
    code in C, C++ or Fortran.
  </div>
</div>
