<p id="st-onge.pier-luc" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/st-onge.pier-luc.jpg' alt='Pier-Luc St-Onge' />">
    <span class="person">Pier-Luc St-Onge</span> earned a B.Eng degree
    in software engineering in 2006 and a M.A.Sc. degree in image
    processing in 2008 at &Eacute;cole Polytechnique de
    Montr&eacute;al. Since 2013, he has been working as a high
    performance computing specialist for Calcul Qu&eacute;bec at
    McGill University. In fact, working for research groups in
    academic institutions has been the definition of his career so
    far.
</p>
