<p id="stacy.mark" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/stacy.mark.png' alt='Mark Stacy' />">
    <span class="person">Mark Stacy</span>
     is a Senior Analyst in the Informatics group at the University of
     Oklahoma. In his career, Mark has worked within the federal
     government, healthcare, and higher education arenas. His
     expertise in the data lifecycle and information management system
     has empowered scientist, researchers, and management personnel
     with the ability to access pertinent information and drive data
     decision support capabilities. He has a MS in Computer Science
     from Oklahoma City University and a BS in Physical Therapy from
     the University of Oklahoma.
</p>
