<p id="stanton-cook.mitchell" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/stanton-cook.mitchell.jpg' alt='Mitchell Stanton-Cook' />">
    <span class="person">Mitchell Stanton-Cook</span>
    is a Software Engineer and Systems Administrator in the Beatson
    Microbial Genomics Group at the University of Queensland,
    Australia. He manages nearing 1000 Next-Generation Sequencing data
    sets. His work involves developing solutions for the efficient
    storage, processing and analysis of ngs data sets.
</p>
