<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/stanton-cook.mitchell.jpg" alt="Mitchell Stanton-Cook" />
  <div id="stanton-cook.mitchell" class="media-body">
    <span class="person">Mitchell Stanton-Cook</span>
    is a Software Engineer and Systems Administrator in the Beatson
    Microbial Genomics Group at the University of Queensland,
    Australia. He manages nearing 1000 Next-Generation Sequencing data
    sets. His work involves developing solutions for the efficient
    storage, processing and analysis of ngs data sets.
  </div>
</div>
