<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/standage.daniel.jpg" alt="Daniel Standage" />
  <div id="standage.daniel" class="media-body">
    <span class="person">Daniel Standage</span>
    is a Ph.D. candidate in the Computational Genome Science Lab at
    Indiana University. His general research interests are in genome
    biology and genome informatics, with a particular focus on genome
    annotation and analysis of high-throughput sequence data. When
    he's not writing research software or cleaning up data, he enjoys
    hiking/camping with his family and cooking breakfast.
  </div>
</div>
