<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/staton.margaret.jpg" alt="Margaret Staton" />
  <div id="staton.margaret" class="media-body">
    <span class="person">Meg Staton</span>
    is an assistant professor at the University of Tennessee Institute
    of Agriculture in the department of Entomology and Plant
    Pathology. Her research interests span bioinformatics, genomics
    and web development with a focus on hardwood trees. She maintains
    the <a href="http://hardwoodgenomics.org">hardwood genomics website</a>
    and <a href="http://agbioinfo.utk.edu">a lab website</a>.
  </div>
</div>
