<p id="steinbach.peter" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/steinbach.peter.jpg' alt='Peter Steinbach' />">
    <span class="person">Peter Steinbach</span>
    is a high-performance computing developer at the Max Planck
    Institute of Molecular Cell Biology and Genetics in Dresden
    (Germany). He has a PhD in Particle Physics and is now responsible
    of accelerating scientific applications in a myriad of languages
    as well as on a zoology of hardware platforms.
</p>
