<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/steinbach.peter.jpg" alt="Peter Steinbach" />
  <div id="steinbach.peter" class="media-body">
    <span class="person">Peter Steinbach</span>
    is a high-performance computing developer at the Max Planck
    Institute of Molecular Cell Biology and Genetics in Dresden
    (Germany). He has a PhD in Particle Physics and is now responsible
    of accelerating scientific applications in a myriad of languages
    as well as on a zoology of hardware platforms.
  </div>
</div>
