<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/stevens.sarah.jpg" alt="Sarah Stevens" />
  <div id="stevens.sarah" class="media-body">
    <a href="https://goo.gl/qeHIjy" class="person">Sarah Stevens</a>
    is a Ph.D candidate in Microbiology at the University of Wisconsin
    - Madison.  She works in the
    <a href="https://mcmahonlab.wisc.edu/">McMahon Lab</a>,
    studying how the whole genomes of freshwater bacterial populations
    change through time.  She also organizes a
    <a href="https://goo.gl/G62AaW">Molecular Microbial Ecology and
    Evolution</a> (MoMiEE) focus group, bringing together scientists
    at UW-Madison to learn computational/bioinformatics methods.
  </div>
</div>
