<p id="sumner.mike" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/sumner.mike.jpg' alt='Mike Sumner' />">
    <span class="person">Mike Sumner</span>
    is a data munger at the Australian Antarctic Division, working in
    partnership with the Antarctic Climate and Ecosystems CRC and the
    Institute of Marine and Antarctic Studies at the University of
    Tasmania in Hobart. He develops and maintains tools to couple
    ecosystem models with remote sensing data and oceanographic model
    output, sailing the dire straits between scientific model data
    formats and geographic information systems. He loves teaching
    programming skills to new users, especially when map projections
    are involved and is excited by new web technologies to bring
    interactive exploratory data analysis out in the open.
</p>
