<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/sundaram.arvind.png" alt="Arvind Sundaram" />
  <div id="sundaram.arvind" class="media-body">
    <span class="person">Arvind Sundaram</span> is a bioinformatician
    at the Norwegian Sequencing Centre, Oslo, Norway. He analyses high
    throughput sequence data from human, fish, plants and microbes and
    likes to provide a helping hand to biologists to learn
    computing. His background is in immunology and comparative
    genomics.
  </div>
</div>
