<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/supp.s.jpg" alt="Sarah Supp" />
  <div id="supp.s" class="media-body">
    <span class="person"><a href="http://weecology.org/people/sarahsupp/Sarah_Supp/">Sarah Supp</a></span>
    is a postdoctoral associate at Stony Brook University where she
    studies the impacts of climate change on hummingbirds throughout
    the western hemisphere. She received her Ph.D. in Ecology from
    Utah State University, where she first learned about Software
    Carpentry.
  </div>
</div>
