<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/swaminathan.gayathri.jpg" alt="Gayathri Swaminathan" />
  <div id="swaminathan.gayathri" class="media-body">
    <span class="person">Gayathri Swaminathan</span>
    is a Linux Senior Systems Engineer and open source community
    advocate at Rackspace. Her team supports Enterprise infrastructure
    for Rackspace customers. She holds a Masters in Computer Science
    from the University of Oklahoma and several professional
    certifications. As an avid enthusiast of Opensource communities,
    Gayathri serves as volunteer for LinuxChix and Fedora
    Documentation project. She is passionate about science, data,
    reverse engineering and involving girls to new coding exercises
    and projects.
  </div>
</div>
