<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/taber-thomas.bradley.jpg" alt="Bradley Taber-Thomas" />
  <div id="taber-thomas.bradley" class="media-body">
    <span class="person">Brad Taber-Thomas</span>
    is a cognitive neuroscientist studying the brain systems involved
    in social-emotional development. He works as a Postdoc at Penn
    State University, obtained his PhD in Neuroscience from the
    University of Iowa, and is a native of Western New York.
  </div>
</div>
