<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/tarkowski.leszek.jpg" alt="Leszek Tarkowski" />
  <div id="tarkowski.leszek" class="media-body">
    <span class="person">Leszek Tarkowski</span>
    runs a small company <a href="http://czterybity.pl">czterybity.pl</a> (Polish for "four bits") focused on teaching C, C++ and Python.
    He has a PhD in materials science, preceded by MSc in physics but after quite long time as scientist in IMIM he has left academia.
    My experience as a programmer is based of my needs for data processing and visualization.
    Leszek lives in Krak&oacute;w, Poland. 
  </div>
</div>
