<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/tatman.rachael.jpg" alt="Rachael Tatman" />
  <div id="tatman.rachael" class="media-body">
    <a href="http://rachaeltatman.com/" class="person">Rachael Tatman</a>
    is a PhD student in linguistics at the University of
    Washington. Her specializations include phonetics, phonology and
    sign linguistics and she's interested in how humans perceived and
    produce sub-lexical linguistics units. She is especially excited
    by computational methods for behavioural science.
  </div>
</div>
