<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/teucher.andrew.jpg" alt="Andrew Teucher" />
  <div id="teucher.andrew" class="media-body">
    <span class="person">Andrew Teucher</span>
    holds an MSc in terrestrial ecology, and currently works on
    analysis and public reporting of environmental status and trend
    indicators for the British Columbia government.  He works with his
    colleagues to promote good data management and programming
    practices, and teaches introductory R courses to other government
    scientists.
  </div>
</div>
