<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/thaney.kaitlin.jpg" alt="Kaitlin Thaney" />
  <div id="thaney.kaitlin" class="media-body">
    <span class="person">Kaitlin Thaney</span>
    is the director of the <a href="http://mozillascience.org/">Mozilla Science Lab</a>,
    an open science initiative of the Mozilla Foundation focused on innovation, best practices, and skills training for research
    that is Software Carpentry's parent organization.
    Prior to Mozilla she worked for Digital Science,
    a technology arm of Macmillan Science and Education,
    as well as <a href="https://creativecommons.org/">Creative Commons</a>,
    where she managed the science program.
    Kaitlin also advises the UK government on infrastructure for data-intensive science and business
    and is a Director for <a href="http://datakind.org.uk/">DataKind UK</a>.
  </div>
</div>
