<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/thomson.samuel.jpg" alt="Samuel Thomson" />
  <div id="thomson.samuel" class="media-body">
    <a href="http://www.roe.ac.uk/~spth/" class="person">Samuel
    Thomson</a> is a PhD student in Computational Astrophysics at the
    University of Edinburgh. He develops software for large-scale
    simulations of the universe's early history, with a focus on the
    period following the birth of the first stars. After attending a
    Software Carpentry course in 2012, Sam now enjoys teaching others
    about Python and Git.
  </div>
</div>
