<p id="thomas.adam" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/thomas.adam.jpg' alt='Adam Thomas' />">
    <span class="person">Adam Thomas</span> is a researcher in
    the <a href="http://fim.nimh.nih.gov">Section on Functional
    Imaging Methods</a> at the
    <a href="https://intramural.nimh.nih.gov/">National Institute
    of Mental Health</a> in Bethesda, Maryland and an honorary
    research fellow in the
    <a href="http://www.ndcn.ox.ac.uk/">Nuffield Department of Clinical Neurosciences</a>
    at the <a href="http://www.ox.ac.uk">University of Oxford</a> where
    he received his D.Phil in 2014. Adam uses neuroimaging techniques
    to study the mechanisms of brain plasticity associated with
    learning, experience, and physical exercise.
</p>
