<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/timbers.tiffany.jpg" alt="Tiffany Timbers" />
  <div id="timbers.tiffany" class="media-body">
    <span class="person">Tiffany Timbers</span>
    obtained her Ph.D. in Neuroscience from the University of British
    Columbia in Vancouver, and is currently a Postdoctoral Fellow at
    Simon Fraser University. Her research uses uses genomics in
    combination with high-throughput automated phenotyping to uncover
    how nervous systems enable animals to sense and respond
    appropriately to the external environment.
  </div>
</div>
