<p id="tomlinson.christopher" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/tomlinson.christopher.jpg' alt='Christopher Tomlinson' />">
    <span class="person">Christopher Tomlinson</span> provides data
    management and software support for high throughput biological
    experiments performed within Imperial College London, and teaches
    software development skills to MSc Bioinformatics students.  He
    has been involved in providing software and hardware support for
    science for over 20 years, during which time he has worked with
    psychologists, economists, physicists, health care professionals,
    computer scientists and biologists.
</p>
