<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/tomsett.richard.jpg" alt="Richard Tomsett" />
  <div id="tomsett.richard" class="media-body">
    <span class="person">Richard Tomsett</span> did his PhD research
    in theoretical neuroscience at Newcastle University, modelling
    electrode measurements of brain activity. After a year's
    postdoctoral research at the Okinawa Institute of Science and
    Technology in Japan, he returned to the UK to seek his fortune
    outside of academia.
  </div>
</div>
