<p id="trimble.will" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/trimble.will.jpg' alt='Will Trimble' />">
    <span class="person">Will Trimble</span> is a postdoc in the
    metagenomic annotation group at Argonne National Laboratory led by
    Folker Meyer, the group which provides and maintains MG-RAST.  He
    was trained in experimental physics and has moved into
    computational biology, using computers and math to analyze bulky
    high-throughput sequence data.  He switched fields out of a desire
    to participate in inderdisciplinary research and teaches Software
    Carpentry because he regrets using computers so much for years
    without learning the tricks.
</p>
