<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/turek.daniel.jpg" alt="Daniel Turek" />
  <div id="turek.daniel" class="media-body">
    <span class="person">Daniel Turek</span> is a postdoc in the
    Department of Statistics at the University of California,
    Berkeley, and also a Fellow with the Berkeley Institute for Data
    Science.  Daniel completed his PhD at the University of Otago
    located in Dunedin, New Zealand, where he studied multi-model
    inference and model averaging.  His current research interests
    include computational statistics, efficient MCMC algorithms, and
    the evolving field of data science.
  </div>
</div>
