<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/turner.s.png" alt="Stephen Turner" />
  <div id="turner.s" class="media-body">
    <a href="http://stephenturner.us/"><span class="person">Stephen Turner</span></a>
    is an assistant professor in public health sciences at the University of Virginia,
    and director of UVA's bioinformatics core.
    He works closely with other life scientists at UVA and abroad
    in the study design and data analysis of experiments involving large, genome-scale biological data. 
  </div>
</div>
