<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/tweedie.fiona.jpg" alt="Fiona Tweedie" />
  <div id="tweedie.fiona" class="media-body">
    <span class="person">Fiona Tweedie</span>
    holds a PhD in Ancient History from the University of Sydney. She
    now leads a program at the University of Melbourne training
    researchers in digital research tools and methods, with a focus on
    capacity-building in the Digital Humanities. She volunteers with
    Open Knowledge Australia and is an unrepentant fabulist.
  </div>
</div>
