<p id="ushizima.daniela" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/ushizima.daniela.jpg' alt='Daniela Ushizima' />">
    <span class="person">Daniela Ushizima</span>
    is the head deputy of the
    <a href="http://vis.lbl.gov/">Data Analytics and Visualization group</a>
    and a staff scientist at the Lawrence Berkeley National Lab. She
    is also a data scientist fellow with the Berkeley Institute for
    Data Sciences, UC Berkeley. Her interests include pattern
    recognition, computer vision, machine learning, signal processing,
    quantitative microscopy, and high-performance computing.
</p>
