<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/vahtras.olav.jpg" alt="Olav Vahtras" />
  <div id="vahtras.olav" class="media-body">
    <a href="http://sese.nu" class="person">Olav Vahtras</a>
    is a professor of theoretical chemistry at the KTH Royal Institute
    of Technology, Stockholm. His research involves development of
    quantum chemical methods for prediction of molecular properties
    and he teaches Python in a national program for computational
    sciences.
  </div>
</div>
