<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/vaidyanathan.ramnath.jpg" alt="Ramnath Vaidyanathan" />
  <div id="vaidyanathan.ramnath" class="media-body">
    <a href="http://people.mcgill.ca/ramnath.vaidyanathan/"><span class="person">Ramnath Vaidyanathan</span></a>
    is an Assistant Professor of Operations Management at McGill
    University. He holds a PhD in Operations Management from the
    Wharton School, and has worked at McKinsey and Company. He is
    addicted to R and has developed two R packages, Slidify and
    rCharts, both aimed at simplifying the creation and sharing of
    interactive web-based content with R.
  </div>
</div>
