<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/valls-guimera.roman.jpg" alt="Roman Valls Guimera" />
  <div id="valls-guimera.roman" class="media-body">
    <span class="person">Roman Valls Guimer&agrave;</span>
    completed his MSc in Computational Biology in KTH, Sweden. He has
    been working on high throughput bioinformatics pipelines and
    distributed computing environments at Science for Life Laboratory
    in Stockholm and taught courses on software engineering best
    practices to scientists, primarily in Python.
  </div>
</div>
