<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/van-der-walt.anelda.jpg" alt="Anelda van der Walt" />
  <div id="van-der-walt.anelda" class="media-body">
    <span class="person">Anelda van der Walt</span>
    obtained a MSc in Bioinformatics from the South African National
    Bioinformatics Institute and have worked as bioinformatics analyst
    at national genomics and next generation sequencing platforms.
    She enjoys working with software developers as well as applied
    researchers and have a passion for training post graduate
    students.
  </div>
</div>
