<p id="vanichkina.darya" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/vanichkina.darya.jpg' alt='Darya Vanichkina' />">
    <span class="person">Darya Vanichkina</span> is a bioinformatics
    PhD student at the University of Queensland. She is passionate
    about understanding how the genome works to underpin the
    complexity of the mammalian nervous system, and what goes wrong at
    the molecular level in human neurological disease. Combining her
    PhD-derived bioinformatics knowledge with that obtained via a
    Specialist Degree in Molecular Biology &amp; Biochemistry from
    Lomonosov Moscow State University, she enjoys initiating her
    (often unsuspecting) students to the magic of data analysis using
    R, python, awk and bash.
</p>
