<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/vargas.horacio.jpg" alt="Horacio Vargas" />
  <div id="vargas.horacio" class="media-body">
    <a href="http://www2.mpip-mainz.mpg.de/~vargas/" class="person">Horacio Vargas Guzm&aacute;n</a>
    is a postdoctoral researcher at the Max Planck Institute of
    Polymer Research in Mainz. He works on the theoretical development
    and implementation of analytical and computational methods for
    modeling materials properties, with special interest on physical
    phenomena of soft matter systems. He is also developing new
    algorithms for high performance computing environments, and
    actively contributing to scientific computing tools, using
    Fortran, C/C++ and Python.
  </div>
</div>
