<p id="vera.b" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/vera.b.png' alt='Bogdan Vera' />">
    <span class="person">Bogdan Vera</span> is a PhD student in the
    Centre for Digital Music, at Queen Mary University of London, and
    previously studied at the University of York and Bournemouth
    University. His research is about distributed music technologies
    that can enable musicians to more effectively perform and compose
    music over great distances using the internet.
</p>
