<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/viana.a.jpg" alt="Alex Viana" />
  <div id="viana.a" class="media-body">
    <a href="http://acviana.github.io" class="person">Alex Viana</a> is a 
    Software Engineer at <a href="https://terbiumlabs.com/">Terbium Labs</a>,
    an Information Security startup based in Baltimore, MD, USA. Previously, he was 
    a Research and Instrument Analyst at the <a href="http://stsci.edu">Space
    Telescope Science Institute</a> where he supported the operations
    of the Hubble Space Telescope. Alex works primarily in Python and has taught
    workshops in the US and Brazil in both English and Portuguese.
  </div>
</div>
