<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/victor-kwangchun-lee.jpg" alt="Victor (Kwangchun) Lee" />
  <div id="victor-kwangchun.lee" class="media-body">
    <a href="http://www.xwmooc.net" class="person">Victor (Kwangchun) Lee</a> 
    is the founder of XWMOOC, a digital contents startup for computational thinking and software engineering in Korea.
    He has around 10 years experience in Academia as well as Industry. He set up not only business architecture but also system architecture for Free Trade Agreement(FTA) and Origin Management at the Hyundai Motor Company. In addition, he led automotive semiconductor developement and purchasing at Hyundai Autron.

    Victor contributed to the full translation of <a href="http://software-carpentry.org/blog/2014/11/korean-translation.html">software carpentry Ver 5.2</a> and organized the <a href="http://statkclee.github.io/2015-02-25-seoul/">first software carpentry workshop in Korea</a>

    Victor have two master degrees(software engineering and statistics) and Ph.D ABD.
  </div>
</div>
