<p id="wallis.mike" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/wallis.mike.jpg' alt='Mike Wallis' />">
    <span class="person">Mike Wallis</span>
    is a sysadmin at the University of Leeds with 16 years of
    experience in the HPC field, with many years of working in
    biosciences alongside that. He is one of a small team who keep the
    <a href="http://n8hpc.org.uk/">tier 2 N8 HPC facilities</a> running, alongside
    several t3 machines used for advanced research computing in
    multiple academic disciplines. He has far too many different
    hobbies.
</p>
