<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/walsh.alistair.jpg" alt="Alistair Walsh" />
  <div id="walsh.alistair" class="media-body">
    <span class="person">Alistair Walsh</span>
    is about to be a PhD candidate at the University of Melbourne in
    Australia. He holds an Honours Degree in Cognitive Neuroscience
    and a BSc in Psychology/Psychophysiology, and has worked at the
    Defence Science Technology Organisation in Adelaide and led a
    research agreement between Swinburne University and the Land
    Operations Division of the DSTO into the use of open source
    biological sensors in human factors research.  Alistair is the
    co-ordinator of NeuralCode at Swinburne University, Hawthorn,
    which is a resource for brain scientists to learn coding.
  </div>
</div>
