<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/wasser.leah.jpg" alt="Leah Wasser" />
  <div id="wasser.leah" class="media-body">
    <span class="person">Leah Wasser</span>
    works as a remote sensing data scientist/senior science educator
    at the <a href="http://www.neoninc.org">National Ecological
    Observatory Network</a> (NEON). She received her PhD in ecology at
    Penn State, and has a passion for ecology, remote sensing, and
    GIS.
  </div>
</div>
