<p id="waugh.b" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/waugh.b.jpg' alt='Ben Waugh' />">
    <a href="http://www.hep.ucl.ac.uk/~waugh/" class="person">Ben Waugh</a>
    writes and maintains software, teaches programming and a bit of
    physics, manages computer systems and drinks lots of coffee in
    the <a href="http://www.phys.ucl.ac.uk/">Department of Physics and
    Astronomy</a> at <a href="http://www.ucl.ac.uk/">University
    College London</a>, mostly in
    the <a href="http://www.hep.ucl.ac.uk/">High-Energy Physics
    Group</a>.
</p>
