<p id="weaver.belinda" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/weaver.belinda.jpg' alt='Belinda Weaver' />">
    <span class="person">Belinda Weaver</span>
    works for the <a href="http://www.qcif.edu.au">Queensland Cyber Infrastructure Foundation</a>,
    which provides eResearch infrastructure, including cloud resources, to Queensland universities.
    Based at <a href="http://www.uq.edu.au/">The University of Queensland</a> in Brisbane, Australia,
    she leads a team of nine eResearch Analysts statewide.
    Belinda tweets as <a href="https://twitter.com/cloudaus">@cloudaus</a>.
</p>
