<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/weinstein.ben.jpg" alt="Ben Weinstein" />
  <div id="weinstein.ben" class="media-body">
    <span class="person">Ben Weinstein</span>
    is a PhD student at Stony Brook University studying tropical
    ecology. His research interests include automated monitoring for
    biodiversity, network analysis and community ecology of plants and
    pollinators. When not working in Ecuador, Ben enjoys climbing and
    birding with his wife and dog.
  </div>
</div>
