<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/white.e.jpg" alt="Ethan White" />
  <div id="white.e" class="media-body">
    <a href="http://ethanwhite.org"><span class="person">Ethan White</span></a>
    is an Associate Professor in the Department of Biology and the Ecology
    Center at Utah State University. He is
    a <a href="http://www.moore.org/programs/science/data-driven-discovery/investigators">Moore
    Investigator in Data-Driven Discovery</a> and a recipient of the National
    Science Foundation CAREER "Young Investigators" Award. He is a proponent of
    open and reproducible science and serves on the the Software Carpentry
    Advisory Council, the <a href="http://datacarpentry.org/">Data Carpentry</a>
    steering committee, the <a href="https://impactstory.org/">Impactstory</a>
    board of directors, and the editorial boards
    of <a href="http://www.plosone.org/">PLOS ONE</a>
    and <a href="https://peerj.com/">PeerJ</a>.
  </div>
</div>
