<p id="whitehead.tyson" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/whitehead.tyson.jpg' alt='Tyson Whitehead' />">
    <span class="person">Tyson Whitehead</span> works at SHARCNET (a
    supercomputing facility in Canada) as a high performance computing
    (HPC) programming specialist.  His official training is in
    Computer Engineering and Applied Mathematics, although he is
    interested in a wide variety of topics including pretty much
    anything computer, science, or math related.  His latest hobby is
    soaring, and his near term ambitions include making it through the
    Feynman Lectures and becoming involved in the maker scene.
</p>
