<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/white.easton.jpg" alt="Easton White" />
  <div id="white.easton" class="media-body">
    <a href="http://eastonwhite.wordpress.com/"><span class="person">Easton White</span></a>
    is a PhD student in Population Biology at the University of
    California, Davis. His research uses mathematical and statistical
    tools to answer questions related to population dynamics,
    evolution of life history traits, and eco-evolutionary dynamics.
  </div>
</div>
