<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/whitefield.shawn.jpg" alt="Shawn Whitefield" />
  <div id="whitefield.shawn" class="media-body">
    <span class="person">Shawn Whitefield</span>
    is a PhD student in Microbiology &amp; Immunology at the University of
    Michigan Medical School.  She received her MPH in hospital and
    molecular epidemiology from the University of Michigan School of
    Public Health in 2014.  Her work focuses on integrating
    epidemiology and genomics to study pathogen evolution and
    transmission of hospital acquired infections.
  </div>
</div>
