<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/wijeratne.asela.jpg" alt="Asela Wijeratne" />
  <div id="wijeratne.asela" class="media-body">
    <span class="person">Asela Wijeratne</span>
    works as a Research Scientist at the Molecular and Cellular
    Imaging Center at the Ohio Agriculture Research and Development
    Center at Ohio State University. His research interest is in
    high-throughput genomics and has keen interest in sharing
    knowledge and expertise to help others. He received his PhD from
    Penn State in 2007.
  </div>
</div>
