<p id="wijeratne.asela" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/wijeratne.asela.jpg' alt='Asela Wijeratne' />">
    <span class="person">Asela Wijeratne</span>
    works as a Research Scientist at the Molecular and Cellular
    Imaging Center at the Ohio Agriculture Research and Development
    Center at Ohio State University. His research interest is in
    high-throughput genomics and has keen interest in sharing
    knowledge and expertise to help others. He received his PhD from
    Penn State in 2007.
</p>
