<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/wilkerson.chandler.jpg" alt="Chandler Wilkerson" />
  <div id="wilkerson.chandler" class="media-body">
    <span class="person">Chandler Wilkerson</span>
    has supported Linux and Unix systems for academic users since
    2001. Since 2007, he has specialized in high-performance computing
    in support of researchers at Rice University. Chandler is also a
    husband, father, juggler, and disc golfer in his spare time.  He
    sometimes blogs
    at <a href="http://chwilk.blogs.rice.edu/">http://chwilk.blogs.rice.edu/</a>
    and helps maintain his group's website
    at <a href="http://www.rcsg.rice.edu/">http://www.rcsg.rice.edu/</a>.
  </div>
</div>
