<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/williams.ryan.png" alt="Ryan Williams" />
  <div id="williams.ryan" class="media-body">
    <a href="http://ryanw.public.iastate.edu/Ryan_J_Williams_Homepage/Home_Page.html"><span class="person">Ryan Williams</span></a>
    is a Ph.D. candidate at Iowa State University in Ecology and
    Evolutionary Biology.  He uses ecological theory to understand
    patterns within microbial communities and metagenomic data that
    relate to nutrient cycling in the environment.  Away from the
    computer, Ryan applies his research findings to educate local
    farmers about microbial ecology and agricultural sustainability.
  </div>
</div>
