<p id="williams.l" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/williams.l.jpg' alt='Lynne Williams' />">
    <span class="person">Lynne Williams</span>
    works at the Rotman-Baycrest Research Institute, where she studies
    the cognitive neuroscience of language development over the
    lifespan and develops statistical techniques to analyze large
    multivariate data sets.  Her most recent work is concerned with
    pattern classifiers in brain imaging and age-associated patterns
    of variability in brain activation.
</p>
