<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/williams.ryan.png" alt="Ryan Williams" />
  <div id="williams.ryan" class="media-body">
    <a href="http://ryanjw.github.io/" class="person">Ryan Williams</a>
    is a postdoctoral researcher at Iowa State University in Agricultural and Biosystems Engineering. 
    He uses ecological theory to understand  complex patterns within microbial communities and metagenomic data that
    relate to changes in the environment.  Away from the
    computer, Ryan applies his research findings to educate local
    farmers about microbial ecology and agricultural sustainability.
  </div>
</div>
