<p id="williams.jason" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/williams.jason.jpg' alt='Jason Williams' />">
    <span class="person">Jason Williams</span>
    is the Education, Outreach, and Training lead for the iPlant Collaborative,
    where he organizes, manages, and instructs more than a dozen annual workshops.
    He has been instructional staff at Cold Spring Harbor Laboratory's DNA Learning Center for the past 5 years,
    and been research staff at Cold Spring Harbor Laboratory for 5 years prior to that.
    Besides his position at iPlant,
    Jason has a faculty position at Yeshiva University in New York,
    where he manages a research program for their Girl's High School,
    and is also a member of the Scientific Training Advisory Board for the Genome Analysis Centre in Norwich, UK.
    <br/>
    <strong>Steering Committee (Treasurer)</strong>
</p>
