<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/winston.Donald.jpg" alt="Donald Winston" />
  <div id="winston.Donald" class="media-body">
    <span class="person">Donny Winston</span>
    studied scanning-charged-particle-beam lithography before shifting
    professional focus to software-as-a-service. He maintains and
    develops open, web-based tools for data-driven discovery of
    advanced materials
    (see <a href="https://materialsproject.org">materialsproject.org</a>)
    at the Lawrence Berkeley National Laboratory. He uses hyphens
    extensively.
  </div>
</div>
