<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/winton.jared.jpg" alt="Jared Winton" />
  <div id="winton.jared" class="media-body">
    <span class="person">Jared Winton</span> is the Application
    Services Manager at V3 Alliance and part of the V3 Alliance
    leadership team. He has had extensive practical experience in
    management and oversight of projects for a wide range of research
    disciplines and organizations. Jared worked at the Victorian
    eResearch Strategic Initiative (VeRSI) for six years in roles from
    software engineer to program manager, and prior to that was a
    research fellow for the Experimental Particle Physics group at the
    University of Melbourne.
  </div>
</div>
