<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/woo.kara.jpg" alt="Kara Woo" />
  <div id="woo.kara" class="media-body">
    <a href="http://karawoo.com/" class="person">Kara Woo</a> is an information
    manager at Washington State University studying plankton ecology in
    lakes. In her free time she collects beautiful examples of data
    visualizations gone awry with Erika Mudrak on their
    blog <a href="http://accidental-art.tumblr.com/">accidental aRt</a>.
  </div>
</div>
