<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/woo.kara.jpg" alt="Kara Woo" />
  <div id="woo.kara" class="media-body">
    <a href="http://karawoo.com/" class="person">Kara Woo</a>
    is an information manager at the National Center for Ecological
    Analysis and Synthesis where she works on
    the <a href="http://baikaldimensions.wordpress.com/">Lake Baikal
    Dimensions of Biodiversity</a> project. In her free time she
    collects beautiful examples of data visualizations gone awry with
    Erika Mudrak on their
    blog <a href="http://accidental-art.tumblr.com/">accidental
    aRt</a>.
  </div>
</div>
