<p id="woods.c" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/woods.c.png' alt='Christopher Woods' />">
    <span class="person">Christopher Woods</span> is a researcher at
    the University of Bristol, where he develops software for
    modelling medicinal drugs and proteins. He obtained his PhD in
    physical chemistry at the University of Southampton, where four
    years hacking through established academic codes gave him a keen
    appreciation of the importance of clean design, good
    documentation, testing and version control.
</p>
