<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/wright.thomas.jpg" alt="Thomas Wright" />
  <div id="wright.thomas" class="media-body">
    <span class="person">Tom Wright</span>
    is researching the effect of disease on the human eye. He creates
    tools to analyse high resolution imaging and electro-physiological
    signals and integrate the results with demographic and phenotypic
    information scrapped from a variety of sources. His love of the
    command line started with <code>10 PRINT "hello" GOTO 10</code>.
    <br/>
    <strong>Maintainer: <a href="https://github.com/swcarpentry/r-novice-gapminder">R for Reproducible Scientific Analysis</a></strong>
  </div>
</div>
