<p id="yang.hsi-kai" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/yang.hsi-kai.jpg' alt='Hsi-Kai Yang' />">
    <span class="person">Hsi-Kai Yang</span> was a software engineer
    at Microsoft and Sony Electronics, and is currently is working on
    data science projects. He wrote his master's thesis on
    specification languages and did post-graduate research on
    mathematical modeling of network switches. He is enthusiastic
    about teaching better software practices and paradigms.
</p>
