<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/yang.fan.jpg" alt="Fan Yang" />
  <div id="yang.fan" class="media-body">
    <a href="http://t00ky.github.io/" class="person">Fan Yang</a>
    is currently a postdoctoral research scientist at Iowa State
    University.  Her research interest is studying soil microbial
    communities and extrapolating their ecological impacts from big
    data. She was greatly benefited by attending a Software Carpentry
    course when she was in graduate school and would like to pass on
    the great experience and learn more through teaching.
  </div>
</div>
