<p id="zahn.ista" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/zahn.ista.jpg' alt='Ista Zahn' />">
    <span class="person">Ista Zahn</span> is a research techology
    consultant at the Institute for Quantitative Social Science at
    Harvard University. He holds a master's degree in social
    psychology from the University of Rochester. He enjoys statistical
    programming, primarily using the R environment for statistical
    computing, and is excited about using technology to turn raw data
    into information useful to human beings.  His areas of expertise
    include data management, graphical displays, and regression
    modeling.
</p>
