<p id="zakkaroff.constantine" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/zakkaroff.constantine.jpg' alt='Constantine Zakkaroff' />">
    <span class="person">Constantine Zakkaroff</span>
    is a Post-doctoral Research Fellow at the BlueFern Supercomputing
    Centre, University of Canterbury, New Zealand. Constantine has a
    BSc and MSc in Computer Science and Software Engineering from the
    University of Canterbury, New Zealand. Constantine's PhD in
    medical image analysis is from the University of Leeds,
    UK. Constantine's current research is focused on large-scale
    physiological simulation and parallel computing. His expertise
    covers object-oriented software design, scientific visualization
    and supercomputing.
</p>
