<p id="zhang.qp" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/zhang.qp.jpg' alt='Qingpeng Zhang' />">
    <a href="http://qingpeng.org" class="person">Qingpeng Zhang</a>
    is a Ph.D. candidate in Computer Science and Quantitative Biology
    at Michigan State University.  Broadly his research interest is
    developing novel computational method to make sense of the big
    data generated in biological research, especially large
    metagenomic data. He obtained a bachelor degree in Physics from
    Nanjing University in China.
</p>
