<p id="zimmerman.naupaka" data-toggle="tooltip" title="<img src='{{page.root}}/img/people/zimmerman.naupaka.jpg' alt='Naupaka Zimmerman' />">
    <a href="http://naupaka.net" class="person">Naupaka Zimmerman</a>
    a postdoctoral fellow in the University of Arizona School of Plant
    Sciences studying the microbial ecology of plants and their
    associated fungi. He has a PhD from Stanford in Ecology and
    Evolutionary Biology. His love of the command line started way
    back with the Commodore 64 and <code>LOAD "*",8,1</code>.
    <br/>
    <strong>Maintainer: <a href="https://github.com/swcarpentry/r-novice-gapminder">R for Reproducible Scientific Analysis</a></strong>
</p>
