<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/irving.d~.jpg" alt="Tiziano Zito" />
  <div id="irving.d" class="media-body">
    <span class="person">Tiziano Zito</span> moved from theoretical
    physics through neuroscience to finally become a full-time system
    administrator. He is now working as a Scientific Computing
    Coordinator at the Jülich Forschungszentrum in Germany. He is the
    main organizer of the <a href="http://python.g-node.org">Advanced
    Scientific Programming in Python</a> summer school series.
  </div>
</div>
