<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/zonca.andrea.jpg" alt="Andrea Zonca" />
  <div id="zonca.andrea" class="media-body">
    <span class="person">Andrea Zonca</span>
    has a background in astrophysics and now works helping other scientists deploy their data analysis software on supercomputers
    as staff at the San Diego Supercomputing Center.
    He <a href="http://zonca.github.io">blogs</a> regularly about Python in high performance computing.
  </div>
</div>
