---
layout: bootcamp_archived
venue: University of Oslo
country: Norway
address: Auditorium 2, Georg Sverdrups hus, Moltke Moes vei 39, Oslo
humandate: July 3-4, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-07-03
enddate: 2013-07-04
registration: open
latlng: 59.9399586,10.7217496
eventbrite: 5398444894
instructor: ["Karin Lagesen", "Lex Nederbragt"]
---
<p>See <a href="http://www.uio.no/om/finn-fram/omrader/blindern/bl27/">this map</a> for directions.  By public transport, take T-bane (subway) lines 3 (towards Storo), 4 (Ringen) or 6 (Sognsvann) from the city central ('Jernbanetorget' close to the central train station), Nationaltheatret or Majorstuen. Exit at Blindern station. It's a 4-5 minute walk from there.</p>
<p>This boot camp will be conducted in English.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
{% include bootcamps/eventbrite.html %}
