---
layout: bootcamp_archived
venue: Space Telescope Science Institute
country: United-States
humandate: Sept 16-17, 2013
startdate: 2013-09-16
enddate: 2013-09-17
latlng: 39.332887,-76.622987
registration: restricted
instructor: ["Greg Wilson", "Azalee Bostroem", "Justin Ely", "Erik Bray"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
