---
layout: bootcamp_archived
contact: philip.fowler@bioch.ox.ac.uk
venue: Oxford University
country: United-Kingdom
address: New Biochemistry
humandate: Oct 30-31, 2012
humantime: 9:00 am - 5:00 pm
startdate: 2012-10-30
enddate: 2012-10-31
latlng: 51.7571373,-1.2569052
registration: open
instructor: ["Stephen Crouch", "Mike Jackson"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p><strong>Content:</strong> The syllabus for this boot camp is:</p>
<p>Tuesday 30th:</p>
<ul>
<li>Introduction and what we know about software development</li>
<li>Bash shell scripting</li>
<li>Version control</li>
<li>Automation and make</li>
</ul>
<p>Wednesday 31st:</p>
<ul>
<li>Simple Python including lists, directories and functions</li>
<li>Numpy, scipy and MDAnalysis</li>
<li>Unit tests in Python</li>
<li>Bioinformatics practical</li>
<li>Putting it all together and feedback from attendees</li>
</ul>
{% include bootcamps/contact.html %}
<p><strong>Registration:</strong> This boot camp is a closed boot camp for biochemistry researchers at The University of Oxford.</p>
