---
layout: bootcamp_archived
venue: University of Iowa
country: United-States
humandate: Sept 5-6, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-09-05
enddate: 2013-09-06
latlng: 41.66293,-91.56203
registration: open
eventbrite: 7583026035
instructor: ["Adina Chuang Howe", "Jory Schossau"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
