---
layout: bootcamp_archived
contact: swc2012@ncl.ac.uk
venue: Newcastle University
country: United-Kingdom
humandate: May 14-15, 2012
humantime: 9:00 am - 5:00 pm
startdate: 2012-05-14
enddate: 2012-05-15
latlng: 54.980095,-1.6146142
registration: open
contact: swc2012@ncl.ac.uk
instructor: ["Chris Cannam", "Neil Chue Hong", "Stephen Crouch", "Mike Jackson", "Steve McGough"]
---
<p><strong>This course is now fully booked and has a long waiting list. If you would like to be informed of similar events in the future, please e-mail us on <a href="mailto:{{page.contact}}">{{page.contact}}</a>.</strong></p>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
<p><strong>Registration:</strong> Please use this form to register your interest by April 6. We will allocate places to individuals and groups we believe will benefit, while aiming for a balance of subjects and geographical areas. We strongly encourage learners to attend with colleagues, so please create or join a team when you sign up. Ideally we would like teams of 3 to 6 members, and we will give preference to teams including one more knowledgeable member who is interested in organizing further training at their own institution. By registering you are stating that you will attend both days of the boot camp and participate in the online exercises and follow-up sessions in the following weeks. We will notify all applicants as to whether they have a spot no later than April 13.</p>
{% include bootcamps/contact.html %}
<p><strong>Material from the boot camp:</strong></p>
<p>Monday May 14th<br />
What we actually know about developing software, and why we believe it's true &mdash; Steve Crouch<br />
The bash shell &mdash; Steve McGough<br />
Version control &mdash; Chris Cannam<br />
Software Carpentry &mdash; Greg Wilson<br />
The basics of Python &mdash; Mike Jackson</p>
<p>Tuesday May 15<br />
Continuing Python programming<br />
- Round 1 (Functions)  &mdash; Steve Crouch<br />
- Round 2 (Testing)  &mdash; Mike Jackson<br />
Using relational databases  &mdash; Steve Crouch<br />
Putting it all together</a> &mdash; Mike Jackson</p>
<p><strong>Event Evaluation:</strong></p>
<p><strong></strong>Evaluation of the event venue and local organisation: <a href="http://forms.ncl.ac.uk/view.php?id=3205">http://forms.ncl.ac.uk/view.php?id=3205</a></p>
