---
layout: bootcamp_archived
venue: Mozilla Foundation
country: Canada
address: Suite 500, 366 Adelaide St West, Toronto, ON
humandate: Jan 24-25, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-01-24
enddate: 2013-01-25
latlng: 43.6471184,-79.3942998
eventbrite: 5086301264
registration: open
instructor: ["Greg Wilson"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
