---
layout: bootcamp_archived
venue: Michigan State University
country: United-States
humandate: Sept 23-26, 2013
humantime: 8:00 am - 11:30 am
startdate: 2013-09-23
enddate: 2013-09-26
latlng: 42.724085,-84.476265
registration: open
eventbrite: 7723648641
instructor: ["Randy Olson", "Jory Schossau", "Tracy Teal", "Jordan Fish", "Michael Crusoe"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
