---
layout: base
root: ..
title: Our Team
---
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/ahmadia.a.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/ainsley.joshua.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/anderson.c.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/aranda.j.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/aruliah.d.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/avestruz.camille.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/barneche.diego.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/bennett.n.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/blischak.j.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/bostroem.a.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/bray.e.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/brown.amy.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/brown.ct.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/bryan.j.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/canino-koning.r.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/cannam.c.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/cholia.s.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/chuang-howe.a.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/chue-hong.n.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/cozzini.s.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/cranston.k.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/crouch.s.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/davenport.e.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/davis.m.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/davis.neal.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/dickson.r.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/duckles.jonah.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/dursi.j.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/ely.j.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/enbody.r.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/falster.daniel.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/figueira.l.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/garcia.julian.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/gibson.molly.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/gonzalez.ivan.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/gustavsen.j.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/guy.t.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/haddock.s.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/hansen.m.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/hart.t.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/herr.joshua.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/hinsen.k.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/holdgraf.c.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/huff.k.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/irving.d.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/ivanov.p.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/jackson.m.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/kerr.j.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/king.w.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/kitzes.j.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/koenig.steven.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/konrad.b.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/lagesen.k.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/langmore.i.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/lasher.c.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/latornell.d.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/lee.luke.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/luo.yuxi.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/mcgough.s.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/mckellar.j.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/mctavish.ej.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/mitchell.i.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/montojo.jason.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/morris.b.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/nederbragt.l.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/olson.r.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/pawlik.a.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/pell.j.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/perez.f.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/petre.m.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/pipitone.j.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/plumbley.m.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/ram.k.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/rokem.a.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/schossau.j.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/scopatz.a.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/selik.m.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/shelton.j.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/silva.raniere.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/slaybaugh.rachel.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/smith.j.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/supp.s.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/teal.t.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/varoquaux.n.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/vera.b.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/viana.a.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/vonderlinden.jens.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/waugh.b.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/white.e.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/williams.l.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/wilson.g.html %}</div>
  <div class="span6" style="padding-bottom:15px">{% include people/wilson.p.html %}</div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px">{% include people/woods.c.html %}</div>
  <div class="span6" style="padding-bottom:15px"></div>
</div>
