---
layout: bootcamp_archived
venue: University of Hawaii
country: United-States
address: Hawaii Institute of Marine Biology
humandate: November 30 - December 1, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-11-30
enddate: 2012-12-01
latlng: 21.3006615,-157.8191655
eventbrite: 4314420548
registration: open
instructor: ["Erik Bray", "Fernando Perez"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
