---
layout: bootcamp_archived
venue: Lawrence Berkeley National Laboratory
country: United-States
address: Building 50A, Room 5132
humandate: Oct 17-18, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-10-17
enddate: 2012-10-18
latlng: 37.8759281,-122.2500418
registration: open
instructor: ["Matt Davis", "Katy Huff", "Justin Kitzes"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
<p><strong>Requirements:</strong> Visit the <a href="http://swcarpentry.github.com/2012-10-lbl/">bootcamp webpage</a> for installation and schedule information.</p>
{% include bootcamps/contact.html %}
