---
layout: bootcamp_archived
venue: University of Waterloo
country: Canada
address: Davis Centre DC 1568, University of Waterloo, 200 University Avenue West, Waterloo, ON
humandate: July 12-13, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-07-12
enddate: 2012-07-13
latlng: 43.4701302,-80.5357712
eventbrite: 3558725243
registration: open
instructor: ["Dhavide Aruliah", "Greg Wilson"]
---
<p>data1.txt</p>
<pre>Date,Species,Count
2012-07-01,squirrel,23
2012-07-01,goose,9
2012-07-01,raccoon,4
2012-07-02,squirrel,14
2012-07-02,skunk,1
2012-07-03,goose,5
2012-07-03,bat,1</pre>
<p>data2.txt</p>
<pre>Date,Species,Count
2012-07-01,squirrel,15
2012-07-01,goose,5
2012-07-01,raccoon,1
2012-07-02,squirrel,10
2012-07-03,goose,5
2012-07-03,raccoon,1</pre>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
