---
layout: bootcamp_archived
contact: host-bath@software-carpentry.org
venue: University of Bath
country: United-Kingdom
humandate: July 15-16, 2013
humantime: 9:00 - 17:00
startdate: 2013-07-15
enddate: 2013-07-16
latlng: 51.3777431,-2.3263779
registration: open
instructor: ["Mike Jackson", "Christopher Woods"]
eventbrite: 6059565323
---
<p><strong>Note: priority will be given to students attending the <a href="http://people.bath.ac.uk/ee3jarr/beaconsatellite2013/">Beacons Satellite Symposium</a> the previous week.</strong></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
<p>
  <strong>More information:</strong>
  For more information, including the timetable, and what software you 
  need to install before you arrive, please visit our
  <a href="https://github.com/swcarpentry/boot-camps/blob/2013-07-bath/README.md">GitHub page</a>.
</p>
{% include bootcamps/contact.html %}
