---
layout: bootcamp_archived
venue: University of Chicago
country: United-States
address: Kent Hall, Room 120, 1020 East 58th Street Chicago, IL 60637
humandate: Jan 12-13, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-01-12
enddate: 2013-01-13
latlng: 41.7901128,-87.6007318
eventbrite: 4044017766
registration: open
instructor: ["Katy Huff", "Anthony Scopatz"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
<p><strong>Requirements:</strong> Visit the <a href="http://swcarpentry.github.com/boot-camps/2013-01-12-chicago/">bootcamp web page</a> for installation instructions and schedule information.</p>
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
