---
layout: bootcamp_archived
venue: University of British Columbia
address: ESB-5108
country: Canada
humandate: Sept 26-27, 2013
startdate: 2013-09-26
enddate: 2013-09-27
latlng: 49.261111,-123.253056
eventbrite: 7405051709
registration: restricted
instructor: ["Julia Gustavsen", "Doug Latornell"]
---
<p><strong>When:</strong> We will start at 9:00 on both days, and end at 4:00 on the 26th, and 4:30 on the 27th.</p>
<p><strong>Note:</strong> Registration for this camp will be restricted to grad students, postdocs and faculty in the UBC EOAS department. <em>Registration for this boot camp has not yet opened.</em></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
