---
layout: bootcamp_archived
venue: University of California Berkeley
country: United-States
address: Goldman School of Public Policy, Room 150
humandate: Oct 20-21, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-10-20
enddate: 2012-10-21
latlng: 37.8695,-122.258949
eventbrite: 3942004642
registration: open
instructor: ["Matt Davis", "Katy Huff", "Justin Kitzes"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p><strong>Requirements:</strong> Visit the <a href="http://swcarpentry.github.com/2012-10-ucb/">bootcamp web page</a> for installation instructions and schedule information.</p>
{% include bootcamps/contact.html %}
