---
layout: bootcamp_archived
contact: james.maning@noaa.gov
venue: Woods Hole Scientific Community
address: Aquarium Conference Room, NOAA National Marine Fisheries Service, Woods Hole
country: United-States
humandate: Nov 14-15, 2013
humantime: 9:00 - 16:30
startdate: 2013-11-14
enddate: 2013-11-15
latlng: 41.526667,-70.663056
registration: open
---
<p><strong>Where:</strong> Aquarium Conference Room, NOAA National Marine Fisheries Service, Woods Hole</p>
<p><strong>When:</strong> November 14-15. We will start at 9:00 and end at 4:30 each day.</p>
<p><strong>Registration</strong> for this boot camp <a href="https://www.eventbrite.ca/event/8427660359">is now open on Eventbrite</a>.</p>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
<p><strong>Helpers:</strong> Members of WHYTHON, the Woods Hole Python Users Group, will be on hand to assist participants.</p>
{% include bootcamps/requirements.html %}
<p>It's important that all participants install the required software. If you
have trouble installing, please attend the WHYTHON meeting on Tuesday Nov 12th
prior to the actual workshop. Email <a href="mailto:james.manning@noaa.gov">James Manning</a>
for more information about the WHYTHON meeting.</p>
{% include bootcamps/python.html %}
