---
layout: bootcamp_archived
venue: Virginia Tech
country: United-States
address: Sustainable Software for Chemistry and Materials Software Summer School
humandate: July 15-16, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-07-15
enddate: 2013-07-16
latlng: 37.2283843,-80.4234167
instructor: ["Tommy Guy", "Ross Dickson"]
registration: restricted
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
