---
layout: bootcamp_archived
venue: Telecom ParisTech
country: France
address: 46 Rue Barrault, 75013 Paris
humandate: April 20-21, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-04-20
enddate: 2013-04-21
latlng: 48.82629,2.34642
registration: open
eventbrite: 5232959924
instructor: ["Sergi Blanco-Cuaresma", "Christophe Cossou", "Alexandre Gramfort", "Konrad Hinsen", "Nicolas Limare", "Gael Varoquaux", "Nelle Varoquaux"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p>
  <strong>Content:</strong> This boot camp will cover the following topics:
</p>
<table>
  <tr>
    <td>day 1</td>
    <td>a.m.</td>
    <td>...</td>
    <td>Introduction to Python</td>
  </tr>
  <tr>
    <td></td>
    <td>p.m.</td>
    <td>...</td>
    <td>NumPy for scientific computing</td>
  </tr>
  <tr>
    <td>day 2</td>
    <td>a.m.</td>
    <td>...</td>
    <td>Version control using Git</td>
  </tr>
  <tr>
    <td></td>
    <td>p.m.</td>
    <td>...</td>
    <td>Testing scientific software</td>
  </tr>
  <tr>
    <td></td>
    <td>.</td>
    <td></td>
    <td>Structuring, documenting, and packaging your project</td>
  </tr>
</table>
{% include bootcamps/contact.html %}
{% include bootcamps/eventbrite.html %}
<hr/>
<p><strong>O&uacute;:</strong> T&eacute;l&eacute;com ParisTech, 46 rue Barrault, 75013 Paris</p>
<p><strong>Quand:</strong> 20 au 21 avril 2013. On commence &aacute; 9:00,
finit &aacute; 4h30 chaque jour.</p>
<p>
  <strong>Quoi:</strong>
  Notre but est d'aider les scientifiques et ing&eacute;nieurs &agrave;
  &ecirc;tre plus productifs en leur enseignant les comp&eacute;tences
  informatiques de base comme le design de programme, le suivi de versions,
  l'art de tester un code et l'automatisation des t&acirc;ches. Lors de cette
  formation de deux jours, des tutoriels courts seront entrecoup&eacute;s
  d'exercices o&ugrave; chacun pourra mettre en pratique imm&eacute;diatement.
  Les participants seront encourag&eacute;s &agrave; s'entraider et &agrave;
  appliquer ce qu'ils ont appris &agrave; leurs propres probl&egrave;mes de
  recherche pendant et en dehors des sessions. Il y aura des sessions de suivi
  en ligne pendant 6 &agrave; 8 semaines afin de compl&eacute;ter et renforcer
  les bases enseign&eacute;es lors de la session d'entra&icirc;nement.
</p>
<table>
  <tr>
    <td>1er jour</td>
    <td>le matin</td>
    <td>...</td>
    <td>Introduction &aacute; Python</td>
  </tr>
  <tr>
    <td></td>
    <td>L'apr&eacute;s-midi</td>
    <td>...</td>
    <td>NumPy pour le calcul scientifique</td>
  </tr>
  <tr>
    <td>2e jour</td>
    <td>le matin</td>
    <td>...</td>
    <td>Gestion de versions avec Git</td>
  </tr>
  <tr>
    <td></td>
    <td>L'apr&eacute;s-midi</td>
    <td>...</td>
    <td>Test de logiciels scientifiques</td>
  </tr>
  <tr>
    <td></td>
    <td>..</td>
    <td></td>
    <td>La structuration, la documentation et la distribution de votre projet</td>
  </tr>
</table>
{% include bootcamps/contact.html %}
