---
layout: bootcamp_archived
venue: University of Arizona
country: United-States
humandate: April 4-5, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-04-04
enddate: 2013-04-05
latlng: 32.2363584,-110.9495396
eventbrite: 5396735782
instructor: ["C. Titus Brown", "Karen Cranston", "Rich Enbody", "David Koop"]
registration: full
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p>
We will cover the following topics:
</p>
<p>
<strong>Day 1: Python and automating data munging (i.e. cleaning) and summarization.</strong></p>
<p>
We'll talk about basic data loading, transformation, and summarization,
as well as good practice for doing reproducible analyses and traps that
await the unwary.  While we will use Python and IPython Notebook, the
lesson will be very applicable to those who use R as well.  We will
also discuss 'git' and github for version control.
</p>

<p><strong>Day 2: Shell, shell scripting, automation, and building data analysis pipelines</strong></p>

<p>
We'll take the approaches from Day 1 and combine them into an analysis pipeline
that can be run on many files in an automated fashion, and show how to
effectively automate data analysis.
</p>

{% include bootcamps/contact.html %}
<p>
Registration will begin soon.
</p>
