---
layout: bootcamp_archived
venue: University of Exeter
country: United-Kingdom
humandate: Nov 12-13, 2013
humantime: 9:00 - 17:00
startdate: 2013-11-12
enddate: 2013-11-13
latlng: 50.735788,-3.535033
registration: restricted
instructor: ["Christopher Woods", "David Jones"]
contact: host-exeter@software-carpentry.org
---
<p><strong>Note: This boot camp is by invite only. Requests for places will not be considered until we know whether spaces will be available, at which point a registration link will be added to this page.</strong></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
