---
layout: bootcamp_archived
venue: Stroud Water Research Center
country: United-States
address: Stroud Water Research Center, Avondale, PA
humandate: Sept 30 - Oct 1, 2013
humantime: 9:00 a.m. - 4:30 p.m.
startdate: 2013-09-30
enddate: 2013-10-01
latlng: 39.8609663,-75.7795073
registration: restricted
instructor: []
---
<p><em>Registration for this boot camp has not yet opened. Registration will be restricted
    to Stroud Center researchers and staff.</em></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
