---
layout: bootcamp_archived
venue: University of Maryland, Baltimore
country: United-States
address: N111, Pharmacy Hall
humandate: April 27-28, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-04-27
enddate: 2013-04-28
latlng: 39.291389,-76.625
instructor: ["Azalee Bostroem", "Alex Viana"]
eventbrite: 5919069095
registration: open
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
