---
layout: bootcamp_archived
venue: University of Texas (Austin)
country: United-States
humandate: December 10-11, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-12-10
enddate: 2012-12-11
latlng: 30.2835989,-97.7344283
eventbrite: 3666777430
registration: open
instructor: ["Rosangela Canino-Koning", "Emily Jane McTavish", "Jason Pell", "Andy Terrel"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
