---
layout: plain
root: ..
title: Software Carpentry Foundation
subtitle: Steering Committee 2015
---
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include people/huff.k.html %}
  </div>
  <div class="col-sm-6">
    {% include people/davis.m.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include people/lagesen.k.html %}
  </div>
  <div class="col-sm-6">
    {% include people/williams.jason.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include people/chuang-howe.a.html %}
  </div>
  <div class="col-sm-6">
    {% include people/pawlik.a.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include people/silva.raniere.html %}
  </div>
  <div class="col-sm-6"></div>
</div>
