---
layout: base
root: ..
title: Our Supporters
nocomments: 1
---
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    <div class="media">
      <img class="media-object pull-left" src="{{page.root}}/img/orgs/numfocus.jpg" alt="NumFOCUS" />
      <div class="media-body">
	We are very grateful to <a href="http://numfocus.org">NumFOCUS</a> for sheltering our work.
	Its aim to promote the use of accessible and reproducible computing in science and technology
	through educational programs,
	the promotion of high-level languages,
	reproducible scientific research,
	and open-code development,
	and an increase in collaborative research tools and documentation.
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="media">
      <img class="media-object pull-left" src="{{page.root}}/img/orgs/data-carpentry.png" alt="Data Carpentry" />
      <div class="media-body">
	<a href="http://datacarpentry.org">Data Carpentry</a>
	is a sibling organization of Software Carpentry
	that teaches basic concepts, skills and tools for working more effectively with data.
	They develop curricula and run workshops that are domain specific,
	target fundamental data analysis and data management challenges,
	and require little or no prior programming experience.
      </div>
    </div>
  </div>
</div>

<hr/>

<h2>Partners</h2>

<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/compute-canada.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/github.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/iplant.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/msl.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/ssi.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/uw-escience.html %}
  </div>
</div>

<hr/>

<h2>Affiliates</h2>

<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/bids.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/elixir-uk.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/lbl.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/michigan-state.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/nesi.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/uc-davis.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/ucl.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/umelbourne.html %}
  </div>
</div>

<hr/>

<h2>Sponsors and Donors</h2>

<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/insight-data-science.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/rstudio.html %}
  </div>
</div>

<hr/>

<h2>Past Supporters</h2>

<p>We are very grateful for the support we have received from:</p>

<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/continuum.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/enthought.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/indiana-u.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/lanl.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/mathworks.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/microsoft.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/mitacs.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/psf.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/qmul.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/scimatic.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/scinet.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/sharcnet.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/sloan.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/ssi.html %}
  </div>
</div>
<div class="row" style="padding-bottom:15px">
  <div class="col-sm-6">
    {% include orgs/utoronto.html %}
  </div>
  <div class="col-sm-6">
    {% include orgs/ukmo.html %}
  </div>
</div>
