---
layout: bootcamp_archived
venue: University of Notre Dame
country: United-States
address: 140 DeBartolo Hall
humandate: July 18-19, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-07-18
enddate: 2013-07-19
registration: open
latlng: 41.70522,-86.23531
instructor: ["Randy Olson", "Michael Hansen"]
eventbrite: 7012698169
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
