---
layout: bootcamp_archived
venue: University of Oslo
country: Norway
address: Room 3213, Kristine Bonnevies hus, Blindernveien 31, University of Oslo
humandate: September 17-18, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-09-17
enddate: 2012-09-18
latlng: 59.9399586,10.7217496
registration: open
instructor: ["Hans Petter Langtangen", "Greg Wilson"]
---
<p>See <a href="http://www.uio.no/om/finn-fram/omrader/blindern/bl18/">this map</a> for directions. If you are using public transport, take T-bane (subway) lines 3 (towards Sognsvann), 4 (Ringen) or 5 (Storo) from the city central ("Jernbanetorget" close to the central train station), Nationaltheatret or Majorstuen, exit at Blindern station. It's a 6-7 minute walk from there.</p>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
