---
layout: bootcamp_archived
contact: host-soton@software-carpentry.org
venue: University of Southampton
country: United-Kingdom
humandate: June 3-4, 2013
humantime: 9:00 am - 5:00 pm
startdate: 2013-06-03
enddate: 2013-06-04
latlng: 50.937716,-1.395599
registration: restricted
instructor: ["Nelle Varoquaux", "James Morrison"]
---
<p><strong>Note: Enrolment is restricted to members of <a href="http://www.icss.soton.ac.uk/">ICSS</a>, The University of Southampton. If space permits, places will be made available to other staff and students within the University of Southampton.</strong></p>
<p>Coffee and lunches will be provided.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
  <li>Using the Linux/Unix shell to do more in less time</li>
  <li>Using version control to manage and share code and information</li>
  <li>How (and how much) to test programs</li>
  <li>Good program design (including Object-Oriented Programming)</li>
  <li>Documentation and debugging</li>
</ul>
{% include bootcamps/contact.html %}
