---
layout: bootcamp_archived
venue: CUAHSI Water Data Center
country: United-States
address: Utah State University Engineering Building (ENGR) Room 302
humandate: July 16-17, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-07-16
enddate: 2013-07-17
latlng: 41.74080,-111.81416
registration: open
instructor: ["Ben Morris", "Ethan White"]
eventbrite: 6309398581
---
<p><em>Please note, the boot camp content listed below is subject to change.</em></p>
<p>See <a href="http://www.usu.edu/map/index.cfm?id=32">the map</a> for directions.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
{% include bootcamps/eventbrite.html %}
