---
layout: base
root: ..
title: Dashboard
nocomments: 1
---
{% for record in site.dashboard.records %}

  <h2>{{record.ident}}</h2>

  <h4><a href="{{record.url}}">{{record.description}}</a></h4>

  {% if record.issues.size > 0 %}
  <table class="table table-striped">
    {% for i in record.issues %}
    <tr>
      <td width="5%"><a href="{{i.url}}">{{i.number}}</a></td>
      <td width="10%">{{i.updated}}</td>
      <td width="85%">{{i.title}}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No issues.</p>
  {% endif %}

{% endfor %}
