---
layout: base
root: ..
title: Our Sponsors
nocomments: 1
---
<p>We are very grateful for the support we have received over the years from:</p>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/continuum.html %}
  </div>
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/enthought.html %}
  </div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/indiana-u.html %}
  </div>
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/michigan-state.html %}
  </div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/microsoft.html %}
  </div>
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/mitacs.html %}
  </div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/mozilla.html %}
  </div>
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/numfocus.html %}
  </div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/psf.html %}
  </div>
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/qmul.html %}
  </div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/rstudio.html %}
  </div>
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/scinet.html %}
  </div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/sharcnet.html %}
  </div>
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/sloan.html %}
  </div>
</div>
<div class="row-fluid">
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/ssi.html %}
  </div>
  <div class="span6" style="padding-bottom:15px" id="sloan">
    {% include orgs/ukmo.html %}
  </div>
</div>

<p>
  We also wish to thank
  <a href="http://www.mathworks.com">The MathWorks</a>,
  the <a href="http://www.utoronto.ca">University of Toronto</a>,
  <a href="http://www.lanl.gov">Los Alamos National Laboratory</a>,
  and <a href="http://www.scimatic.com/">Scimatic Software</a>, whose
  support over the years has allowed us to help thousands of
  scientists use computers more productively, and Brent Gorda, who
  helped create and deliver the first version of this course back in
  1998.
</p>
