---
layout: base
root: ..
title: Our Sponsors
---
<section>
  <h2>Version 5</h2>
  <p>We are very grateful for the ongoing support of our major sponsors:</p>
  <div class="row-fluid">
    <div class="span6" style="padding-bottom:15px" id="sloan">
      {% include orgs/sloan.html %}
    </div>
    <div class="span6" id="mozilla">
      {% include orgs/mozilla.html %}
    </div>
  </div>
  <br/>
  <p>We would also like to thank the following for their generosity:</p>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include orgs/jpmorgan.html %}
    </div>
    <div class="span6">
      {% include orgs/microsoft.html %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include orgs/intel.html %}
    </div>
    <div class="span6">
      {% include orgs/numfocus.html %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include orgs/continuum.html %}
    </div>
    <div class="span6">
      {% include orgs/psf.html %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include orgs/kaust.html %}
    </div>
    <div class="span6">
    </div>
  </div>
</section>

<section>
  <h2>Version 4</h2>
  <p>Work on Version 4 was made possible by the generosity of the following donors:</p>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include orgs/enthought.html %}
    </div>
    <div class="span6">
      {% include orgs/indiana-u.html %}
    </div>
    </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include orgs/michigan-state.html %}
    </div>
    <div class="span6">
      {% include orgs/microsoft.html %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include orgs/mitacs.html %}
    </div>
    <div class="span6">
      {% include orgs/qmul.html %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include orgs/scimatic.html %}
    </div>
    <div class="span6">
      {% include orgs/scinet.html %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include orgs/sharcnet.html %}
    </div>
    <div class="span6">
      {% include orgs/ssi.html %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include orgs/ukmo.html %}
    </div>
    <div class="span6">
    </div>
  </div>
</section>

<section>
  <h2>Earlier Versions</h2>
  <p>
    We would like to thank
    <a href="http://www.mathworks.com">The MathWorks</a>,
    the <a href="http://www.utoronto.ca">University of Toronto</a>,
    the <a href="http://www.python.org/psf/">Python Software Foundation</a>,
    and <a href="http://www.lanl.gov">Los Alamos National Laboratory</a>,
    whose support over the years has allowed us to help
    thousands of scientists use computers more productively.  We would also like
    to thank Brent Gorda, who helped create and deliver the first version of
    this course back in 1998.
  </p>
</section>
