---
layout: base
root: ..
title: Our Team
---
<div id="map_canvas" style="width: 98%; height: 500px; margin-left:auto; margin-right: auto; margin-bottom: 15px"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer.js"></script>
<script type="text/javascript" src="{{page.root}}/js/maps.js"></script>

<body onload="SWC.maps.instructors()">

<div class="row-fluid" style="text-align:center; padding-bottom:15px">
  <img src="{{page.root}}/img/flags/32/Australia.png" alt="Australia" />
  <img src="{{page.root}}/img/flags/32/Brazil.png" alt="Brazil" />
  <img src="{{page.root}}/img/flags/32/Canada.png" alt="Canada" />
  <img src="{{page.root}}/img/flags/32/China.png" alt="China" />
  <img src="{{page.root}}/img/flags/32/France.png" alt="France" />
  <img src="{{page.root}}/img/flags/32/Germany.png" alt="Germany" />
  <img src="{{page.root}}/img/flags/32/Italy.png" alt="Italy" />
  <img src="{{page.root}}/img/flags/32/Japan.png" alt="Japan" />
  <img src="{{page.root}}/img/flags/32/Norway.png" alt="Norway" />
  <img src="{{page.root}}/img/flags/32/Poland.png" alt="Poland" />
  <img src="{{page.root}}/img/flags/32/Singapore.png" alt="Singapore" />
  <img src="{{page.root}}/img/flags/32/South-Africa.png" alt="South Africa" />
  <img src="{{page.root}}/img/flags/32/United-Kingdom.png" alt="United Kingdom" />
  <img src="{{page.root}}/img/flags/32/United-States.png" alt="United States" />
</div>

<div class="row-fluid">
{% for person in site.people %}
  <div class="span6" style="padding-bottom:15px">{% include {{person}} %}</div>
{% cycle '', '</div>' %}
{% cycle '', '<div class="row-fluid">' %}	
{% endfor %}
</div>
	
