---
layout: bootcamp_archived
venue: University of Chicago
country: United-States
humandate: Sept 19-20, 2013
startdate: 2013-09-19
enddate: 2013-09-20
registration: restricted
latlng: 41.7901128,-87.6007318
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
<p>
  <strong>Who:</strong>
  The course is aimed at incoming biology graduate students, and
  aims to help them start their grad career with some tools
  and knowledge to help them work more productively.
</p>
{% include bootcamps/requirements.html %}
{% include bootcamps/content.html %}
{% include bootcamps/contact.html %}
