---
layout: bootcamp_archived
venue: University of Alberta
country: Canada
address: Biological Sciences Building, Central Wing 410 (CW410), University of Alberta
humandate: May 30-31, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-30
enddate: 2013-05-31
latlng: 53.52345,-113.52600
registration: full
eventbrite: 5824534339
instructor: ["Charlene Nielsen", "Greg Wilson"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
{% include bootcamps/eventbrite.html %}
