<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/orgs/lbl.png" alt="Lawrence Berkeley National Laboratory" />
  <div id="lbl" class="media-body">
    <strong>Lawrence Berkeley National Laboratory</strong>
    is a member of the national laboratory system supported by the U.S. Department of Energy through its Office of Science.
    Its scientists have won 13 Nobel Prizes,
    and it hosts national user facilities including the Advanced Light Source,
    the Joint Genomics Institute,
    and the National Energy Research Scientific Computing Center.
  </div>
</div>
