<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/orgs/leeds.png" alt="University of Leeds" />
  <div id="leeds" class="media-body">
    The <a href="http://leeds.ac.uk">University of Leeds</a>
    is one of the UK's leading academic institutions and a member of the prestigious Russell Group.
    It is home to over 31,000 students from 146 countries, drawn by the excellent standards for teaching and research,
    and is one of only 19 UK universities to appear in the top 100 of the QS world rankings in 2014.
  </div>
</div>
