<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/orgs/michigan-state.jpg" alt="Michigan State University" />
  <div id="michigan-state" class="media-body">
    The nation's pioneer land-grant
    university, <a href="http://msu.edu/">Michigan State
    University</a> is one of the top research universities in the
    world. Home to nationally ranked and recognized academic,
    residential college, and service-learning programs, MSU is a
    diverse community of dedicated students and scholars, athletes and
    artists, scientists and leaders.
  </div>
</div>
