<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/orgs/michigan.jpg" alt="University of Michigan" />
  <div id="michigan" class="media-body">
    The <a href="http://umich.edu/">University of Michigan</a>'s
    mission is to serve the people of Michigan and the world through
    preeminence in creating, communicating, preserving and applying
    knowledge, art, and academic values, and in developing leaders and
    citizens who will challenge the present and enrich the future.
  </div>
</div>
