<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/orgs/nlesc.jpg" alt="NLeSC" />
  <div id="nlesc" class="media-body">
    <a href="https://www.esciencecenter.nl/">NLeSC</a> (the
    Netherlands eScience Center) is the national hub for the
    development and application of domain overarching software and
    methods for the scientific community. NLeSC develops crucial
    bridges between increasingly complex modern e-infrastructures and
    the growing demands and ambitions of scientists from across all
    disciplines.
  </div>
</div>
