<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/orgs/rstudio-small.png" alt="RStudio" />
  <div id="rstudio" class="media-body">
    <strong>RStudio</strong>'s
    develops free and open tools for the R community,
    including the <a href="http://www.rstudio.com/products/rstudio/">RStudio development environment</a>,
    <a href="http://shiny.rstudio.com/">shiny</a>,
    <a href="http://ggvis.rstudio.com/">ggvis</a>,
    <a href="https://github.com/hadley/dplyr">dplyr</a>,
    and <a href="http://www.rstudio.com/products/rpackages/">many others</a>.
  </div>
</div>
