<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/orgs/uw-escience.png" alt="eScience Institute, University of Washington" />
  <div id="uw-escience" class="media-body">
  The <a href="http://escience.washington.edu/">eScience Institute at the University of Washington</a>
  is working to create the intellectual and physical infrastructure needed to meet
  the challenges of doing science in a world where new sources of large, complex, and noisy data
  are fundamentally changing the kinds of science questions we can answer.
  </div>
</div>
