---
layout: bootcamp_previous
root: ..
title: Previous Boot Camps
---
<div id="map_canvas" style="width: 98%; height: 500px; margin-left:auto; margin-right: auto; margin-bottom: 15px"></div>

<table class="table table-striped bootcamps">
  {% for bootcamp in site.bootcamps %}
    {% if bootcamp.startdate < site.today %}
      <tr>
        <td><img src="{{page.root}}/img/flags/{{site.flag_size}}/{{bootcamp.country}}.png" alt="{{bootcamp.country}}" /></td>
        <td class="link"><a href="{% if bootcamp.url %}{{bootcamp.url}}{% else %}{{page.root}}/{{bootcamp.path}}{% endif %}">{{bootcamp.venue}}</a></td>
        <td class="date">{{bootcamp.humandate}}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
