---
layout: bootcamp_archived
venue: US Army Engineer Research and Development Center
country: United-States
address: Vicksburg, MS
humandate: Aug 27-29, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-08-27
enddate: 2013-08-29
latlng: 32.3019199,-90.8733522
registration: restricted
instructor: ["Aron Ahmadia", "Andy Terrel"]
---
<p><strong>Note:</strong> This boot camp is restricted to staff of ERDC.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
