---
layout: bootcamp_archived
venue: University College London
country: United-Kingdom
humandate: April 30 - May 1, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-04-30
enddate: 2012-05-01
latlng: 51.5598815,-0.1334579
registration: open
instructor: ["Chris Cannam", "Greg Wilson"]
---
<p><strong>This course is now fully booked and has a long waiting list. If you would like to be informed of similar events in the future, please e-mail us on swc2012@ucl.ac.uk.</strong></p>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
<p><strong>counter.py</strong></p>
<pre># Count data records in file.
# Reads from standard input if no filename given.
# Reads from a single file if filename given.
# Title and comments don't count.
import sys

def count_records(reader):
    number = 0
    expected = None
    for line in reader:
        if line.startswith('#-'):
            junk, expected = line.split()
            expected = int(expected)
        elif line.startswith('#'):
            pass
        elif line.startswith('D'): # FIXME
            pass
        else:
            number = number + 1
    return number, expected

if len(sys.argv) == 2:
    filename = sys.argv[1]
    source = file(filename, 'r')
else:
    source = sys.stdin
number, expected = count_records(source)
source.close()
if expected == None:
    print 'number of records:', number
elif expected == number:
    print 'pass'
else:
    print 'fail'</pre>
<p><strong>fun.py<strong></strong></strong></p>
<pre>def double(x):
    return 2 * x

def add_three(x):
    return x + 3

def sub_one(x):
    return x - 1

def do_for_each(func, values):
    result = []
    for v in values:
        temp = func(v)
        result.append(temp)
    return result

start = [3, 7, 42, 96]

doubled = do_for_each(double, start)
added = do_for_each(add_three, start)
subtracted = do_for_each(sub_one, start)

print 'started with', start
print 'doubled', doubled
print 'incremented', added
print 'subtracted', subtracted</pre>
<p><strong>Databases</strong></p>
<p><strong>Person</strong></p>
<table>
<tbody>
<tr>
<td>Login</td>
<td>LastName</td>
<td>FirstName</td>
</tr>
<tr>
<td>skol</td>
<td>Kovalevskaya</td>
<td>Sofia</td>
</tr>
<tr>
<td>mlom</td>
<td>Lomonosov</td>
<td>Mikhail</td>
</tr>
<tr>
<td>dmitri</td>
<td>Mendeleev</td>
<td>Dmitri</td>
</tr>
<tr>
<td>ivan</td>
<td>Pavlov</td>
<td>Ivan</td>
</tr>
</tbody>
</table>
<p><strong>Project</strong></p>
<table>
<tbody>
<tr>
<td>ProjectId</td>
<td>ProjectName</td>
</tr>
<tr>
<td>1214</td>
<td>Antigravity</td>
</tr>
<tr>
<td>1709</td>
<td>Teleportation</td>
</tr>
<tr>
<td>1737</td>
<td>Time Travel</td>
</tr>
</tbody>
</table>
<p><strong>Experiment</strong></p>
<table>
<tbody>
<tr>
<td>ProjectId</td>
<td>ExperimentId</td>
<td>NumInvolved</td>
<td>ExperimentDate</td>
<td>Hours</td>
</tr>
<tr>
<td>1214</td>
<td>1</td>
<td>1</td>
<td></td>
<td>1.5</td>
</tr>
<tr>
<td>1214</td>
<td>2</td>
<td>1</td>
<td>1889-11-01</td>
<td>14.3</td>
</tr>
<tr>
<td>1709</td>
<td>1</td>
<td>3</td>
<td>1891-01-22</td>
<td>7.0</td>
</tr>
<tr>
<td>1709</td>
<td>2</td>
<td>1</td>
<td>1891-02-23</td>
<td>7.2</td>
</tr>
<tr>
<td>1737</td>
<td>1</td>
<td>1</td>
<td>1900-07-05</td>
<td>-1.0</td>
</tr>
<tr>
<td>1737</td>
<td>2</td>
<td>2</td>
<td>1900-07-05</td>
<td>-1.5</td>
</tr>
</tbody>
</table>
<p><strong>Involved</strong></p>
<table>
<tbody>
<tr>
<td>ProjectId</td>
<td>ExperimentId</td>
<td>InvolvedId</td>
<td>Login</td>
</tr>
<tr>
<td>1214</td>
<td>1</td>
<td>1</td>
<td>mlom</td>
</tr>
<tr>
<td>1214</td>
<td>2</td>
<td>1</td>
<td>mlom</td>
</tr>
<tr>
<td>1709</td>
<td>1</td>
<td>1</td>
<td>dmitri</td>
</tr>
<tr>
<td>1709</td>
<td>1</td>
<td>2</td>
<td>skol</td>
</tr>
<tr>
<td>1709</td>
<td>1</td>
<td>3</td>
<td>ivan</td>
</tr>
<tr>
<td>1709</td>
<td>2</td>
<td>1</td>
<td>mlom</td>
</tr>
<tr>
<td>1737</td>
<td>1</td>
<td>1</td>
<td>skol</td>
</tr>
<tr>
<td>1737</td>
<td>2</td>
<td>1</td>
<td>skol</td>
</tr>
<tr>
<td>1737</td>
<td>2</td>
<td>2</td>
<td>ivan</td>
</tr>
</tbody>
</table>
<p><strong>Sample Query</strong></p>
<pre>-- Get the people who worked on each project.
select distinct Project.ProjectName, Involved.Login
from Project join Involved
where Project.ProjectId = Involved.ProjectId
order by Involved.Login;</pre>
<p><strong>Homework</strong></p>
<p><strong>Homework</strong></p>
<p>Get project name, person's last name, experiment ID, and hours worked in one table.</p>
<pre>select '# $Revision:$';
select '# db version' || VersionId from DatabaseVersion;
select Project.ProjectName,
       Person.LastName,
       Experiment.ExperimentId,
       Experiment.Hours
from Person join Project join Experiment join Involved
where (Project.ProjectId = Experiment.ProjectId)
  and (Involved.ProjectId = Project.ProjectId)
  and (Involved.Login = Person.Login)
  and (Experiment.ExperimentId = Involved.ExperimentId);</pre>
<p><strong>Access from Python</strong></p>
<pre>import sqlite3

connection = sqlite3.connect("experiments.db")
cursor = connection.cursor()
cursor.execute("SELECT FirstName, LastName FROM Person;")
results = cursor.fetchall();
for r in results:
    print r[0], r[1]
cursor.close();
connection.close();</pre>
<p><strong>Nose tests for rectangle overlap</strong></p>
<pre>from overlap import overlap

def test_overlap_on_one_corner():
    assert overlap([0, 2, 0, 2],
                   [1, 3, 1, 3]) == [1, 2, 1, 2]

def test_no_overlap_at_all():
    assert overlap([0, 1, 0, 1],
                   [3, 4, 3, 4]) == None

def test_one_inside_another():
    assert overlap([0, 10, 0, 10],
                   [2, 3, 2, 3]) == [2, 3, 2, 3]

def test_overlap_along_one_edge():
    assert overlap([0, 3, 0, 3],
                   [3, 5, 0, 3]) == None

def test_inside_on_one_axis():
    assert overlap([0, 3, 0, 3],
                   [1, 2, 1, 4]) == [1, 2, 1, 3]</pre>
