---
layout: bootcamp_archived
venue: King Abdullah University of Science and Technology
country: Saudi-Arabia
address: Library Computer Laboratory
humandate: March 24-25, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-03-24
enddate: 2013-03-25
latlng: 22.3101,39.1259
registration: full
eventbrite: 5790053205
instructor: ["Aron Ahmadia", "David Ketcheson", "Enas Yunis"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
<p>
<strong>Requirements:</strong> The course will be delivered on the KAUST library
computers using the Apple OS X operating system.  Students are welcome to bring in
their own laptops or connect to remote workstations during the boot camp.
</p>

<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
  <li>using the shell to do more in less time</li>
  <li>using version control to manage and share information</li>
  <li>basic Python programming and the IPython notebook</li>
  <li>how (and how much) to test programs</li>
  <li>reproducible documents and workflows with make and the IPython notebook
  </li>
  <li>using Python in high performance computing</li>
</ul>
<p>
  <strong>Contact:</strong> Please email
  <a href="mailto:{{site.contact}}">{{site.contact}}</a>
  for general information about Software Carpentry bootcamps,
  local organizer <a href="mailto:david.ketcheson@kaust.edu.sa">Prof. David Ketcheson</a>,
  or instructor <a href="mailto:aron.ahmadia@gmail.com">Dr. Aron Ahmadia</a>.
</p>
