---
layout: bootcamp_archived
venue: Scripps Research Institute
country: United-States
address: La Jolla, CA
humandate: Nov 15-16, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-11-15
enddate: 2012-11-16
latlng: 32.8953297,-117.2421882
eventbrite: 3869222950
registration: open
instructor: ["C. Titus Brown", "Justin Kitzes", "Caitlyn Pickens", "Tracy Teal"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
