---
layout: bootcamp_archived
contact: host-oxford-dtc@software-carpentry.org
venue: University of Oxford
country: United-Kingdom
humandate: May 9-10, 2013
startdate: 2013-05-09
enddate: 2013-05-10
latlng: 51.759865,-1.258648
registration: restricted
eventbrite: 5656292122
instructor: ["Mario Antonioletti", "Shoaib Sufi"]
---
<p><strong>Note: Enrolment is restricted to students of the Doctoral Training Centres at The University of Oxford.</strong></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
<p>
  <strong>Requirements:</strong>
  Participants are strongly recommended to bring a laptop with a few specific software packages installed (see below).
  However there will be Windows desktops available in the teaching room for those without laptops.
</p>
<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
  <li>using version control to manage and share information</li>
  <li>basic Python programming</li>
  <li>how (and how much) to test programs</li>
  <li>documentation and debugging</li>
  <li>managing and querying scientific data with sqlite</li>
  <li>applying Software Carpentry techniques in Matlab</li>
</ul>
<p>
  <strong>More information:</strong>
  For more information, including the timetable, and what software you 
  need to install before you arrive, please visit our
  <a href="http://jonc125.github.com/boot-camps/2013-05-09-oxford-dtc/">GitHub page</a>.
</p>
{% include bootcamps/contact.html %}
{% include bootcamps/eventbrite.html %}
