---
layout: bootcamp_archived
venue: Stanford University
country: United-States
address: Room B005, Li Ka Shing Center for Learning and Knowledge, Stanford University
humandate: May 6-7, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-06
enddate: 2013-05-07
latlng: 37.42949,-122.17186
instructor: ["Paul Ivanov", "Bernhard Konrad", "Ariel Rokem"]
registration: full
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
