---
layout: bootcamp_archived
venue: Lawrence Berkeley National Laboratory
country: United-States
humandate: March 4-5 and March 6-7, 2013
startdate: 2013-03-04
enddate: 2013-03-07
registration: restricted
latlng: 37.8759281,-122.2500418
instructor: ["Geoff Oxberry", "Greg Wilson"]
---
<p><strong>Note:</strong> Participation in these boot camps is restricted to LBL staff.</p>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
