---
layout: bootcamp_archived
venue: NCAR
country: United-States
address: National Center for Atmospheric Research, Boulder, CO
humandate: May 23-24, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-23
enddate: 2013-05-24
latlng: 40.03131,-105.2459
instructor: ["Ted Hart", "Alex Viana"]
registration: restricted
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
