---
layout: bootcamp_archived
venue: University of Edinburgh
country: United-Kingdom
humandate: Dec 4-5, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-12-04
enddate: 2012-12-05
latlng: 55.9453279,-3.1911838
registration: open
contact: michaelj@epcc.ed.ac.uk
instructor: ["Azalee Bostroem", "Mike Jackson"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}

<p><strong>Requirements:</strong> Before coming to the boot camp please ensure you have the following software installed on your laptop: Bash shell, Make, a text editor, Python 2.6+, Mercurial, Python setuptools and nose, sqlite, Firefox and Firefox's SQLite Manager plug-in. You should also register for a free account on <a href="https://bitbucket.org/">BitBucket</a>. For instructions as to how to check if you already have these, and how to install these if you don't, please see our set up page lists the software we expect you to have installed on your laptop before you come to the boot camp. If you have any problems please e-mail the <a href="mailto:{{page.contact}}">boot camp organiser</a>.</p>

<p><strong>Content:</strong></p>
<p>Tuesday 4th:</p>
<ul>
<li>Introduction and what we know about software development</li>
<li>Using the shell to do more in less time</li>
<li>Using version control to manage and share information</li>
<li>Automation and make</li>
</ul>
<p>Wednesday 5th:</p>
<ul>
<li>Basic Python programming</li>
<li>How (and how much) to test programs</li>
<li>Putting it all together and feedback from attendees</li>
</ul>
{% include bootcamps/contact.html %}
<p><strong>Registration:</strong> registration can be done via the PRACE <a href="https://events.prace-ri.eu/conferenceDisplay.py?confId=94">registration form</a>.</p>
