---
layout: bootcamp_archived
venue: Technische Universitat Munchen
country: Germany
address: 1 Maximus-von-Imhof-Forum, 85354 Freising, Germany
humandate: January 22-23, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-01-22
enddate: 2013-01-23
latlng: 48.264934,11.669121
eventbrite: 4602466100
registration: open
instructor: ["Stephen Crouch", "Konrad Hinsen"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
