---
---
<!DOCTYPE html>
<html>
  <head>
    {% include generic-header.html %}
    <title>Software Carpentry{% if page.title %}: {{page.title}}{% endif %}</title>
  </head>
  <body>
    <header class="header">
      {% include navbar.html %}
    </header>
    <section class="content">
      <div class="container">
        {% if page.title %}
          <h1 class="title">{{page.title}}</h1>
        {% endif %}
        {{content}}
        {% include disqus.html %}
      </div>
    </section>
          {% include footer.html %}

    {% include generic-javascript.html %}
    {% include google-analytics.html %}
  </body>
</html>
