---
root: ../../..
---
<!DOCTYPE html>
<html>
  <head>
    {% include generic-header.html %}
    <!-- code highlighting -->
    <link rel="stylesheet" href="{{page.root}}/css/styles/default.css">
    <script src="{{page.root}}/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Software Carpentry: {{page.title}}</title>
  </head>
  <body>
    <header class="header">
      {% include navbar.html %}
    </header>
    <section id="title" class="content">
        <div class="container">
              <h1>{{page.title}}</h1>
        </div>
    </section>
    <section class="content">
      <div class="container">
            <!-- start content -->
            {{content}}
            <p><em>Originally posted {{page.date}} by {{page.author}} in {{page.category|join: ', '}}.</em></p>
            <!-- end content -->
            {% include disqus.html %}

      </div>
    </section>
    {% include footer.html %}

    {% include javascript.html %}
    {% include google-analytics.html %}
  </body>
</html>
