---
root: ../..
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
    <title>Software Carpentry: {{page.venue}} ({{page.humandate}})</title>
  </head>
  <body>
    <header class="header">
      {% include navbar.html %}
    </header>
    <section class="content">
      <div class="container">
          <div class="title">
            <h1>{{page.venue}}: {{page.humandate}}</h1>
          </div>

          {{content}}

          {% include eventbrite.html %}
      </div>
    </section>
    {% include footer.html %}
    {% include javascript.html %}
    {% include google-analytics.html %}
  </body>
</html>
