---
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
    <title>Software Carpentry: {{page.title}}</title>

  </head>
  <body onload="SWC.maps.upcoming()">
    <header class="header">
      {% include navbar.html %}
    </header>
    {% if page.title %}
    <section id="title" class="content">
        <div class="container">
              <h1>{{page.title}}</h1>
        </div>
    </section>
    {% endif %}

    <section class="content">
      <div class="container">
            <!-- start content -->
            {{content}}
            <!-- end content -->
                <section class="content">
      <div class="container">
            {% include disqus.html %}

      </div>
    </section>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer.js"></script>
    <script type="text/javascript" src="{{page.root}}/js/maps.js"></script>
    {% include footer.html %}
    {% include javascript.html %}
    {% include google-analytics.html %}
  </body>
</html>
