---
---
<!DOCTYPE html>
<html>
  <head>
    {% include generic-header.html %}
    <title>Software Carpentry: {{page.title}}</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer.js"></script>
    <script type="text/javascript" src="/js/maps.js"></script>
  </head>
  <body onload="SWC.maps.upcoming()">
    {% include navbar.html %}
    <div class="container">
      <div class="row-fluid">
        <div class="span10 offset1">
          {% if page.title %}
            <h1 class="title">{{page.title}}</h1>
          {% endif %}
          {{content}}
          {% include disqus.html %}
          {% include footer.html %}
        </div>
      </div>
    </div>

    {% include generic-javascript.html %}
    {% include google-analytics.html %}
  </body>
</html>
