---
---
<!DOCTYPE html>
<html>
  <head>
    {% include generic-header.html %}
    <title>Software Carpentry: {{page.title}}</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer.js"></script>
    <script type="text/javascript">
      function MarkerPin(color) {
        var pin = new google.maps.MarkerImage(
          "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + color,
          new google.maps.Size(21, 34),
          new google.maps.Point(0,0),
          new google.maps.Point(10, 34));
        return pin;
      }

      function MarkerPinCluster(url,sizeX,sizeY) {
        var pin = new google.maps.MarkerImage(
        url,
        new google.maps.Size(sizeX,sizeY),
        new google.maps.Point(0,0),
        new google.maps.Point(10,34));
        return pin;
      }

      function set_info_window(map, marker, info_window, content) {
        google.maps.event.addListener(marker, 'click', function () {
          info_window.setContent(content);
          info_window.open(map, marker);
        })
      }

      function toggle_marker_visibility(marker) {
        if (marker.getVisible()) {
          marker.setVisible(false);
        } else {
          marker.setVisible(true);
        };
      }

      function toggle_markers_mc_visibility(markers,mc){
        markers.forEach(toggle_marker_visibility);
        if (markers[0].visible){
          mc.setMap(markers[0].getMap())
        }
        else {
          mc.setMap(null)
        }
      }

      function initialize_map() {
        var mapOptions = {
          zoom: 2,
          center: new google.maps.LatLng(25,8),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var openPin = MarkerPin("{{site.colors.open}}");
        var fullPin = MarkerPin("{{site.colors.full}}");
        var restrictedPin = MarkerPin("{{site.colors.restricted}}");
        var instructorPin = MarkerPinCluster("http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/people35.png",34,34);
        var pastPin = MarkerPinCluster("http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m1.png",52,53);

        var pinShadow = new google.maps.MarkerImage(
          "http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
          new google.maps.Size(40, 37),
          new google.maps.Point(0, 0),
          new google.maps.Point(12, 35));

        var info_window = new google.maps.InfoWindow({});

        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

        var past_markers = [];
        var instructor_markers = [];

        {% for bootcamp in site.bootcamps %}
          {% if bootcamp.latlng %}
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng({{bootcamp.latlng}}),
              map: map,
              title: "{{bootcamp.venue}}, {{bootcamp.humandate}}",
              {% if bootcamp.startdate >= site.today %}
                {% case bootcamp.registration %}
                  {% when 'restricted' %}
                    icon: restrictedPin,
                  {% when 'full' %}
                    icon: fullPin,
                  {% else %}
                    icon: openPin,
                {% endcase %}
                visible: true,
              {% else %}
                icon: pastPin,
                visible: false,
              {% endif %}
              shadow: pinShadow,
            });

            {% if bootcamp.startdate < site.today %}
              past_markers.push(marker);
            {% endif %}

            var info_string = '<div class="info-window">' +
              '<h5><a href="{{page.root}}/{{bootcamp.path}}">{{bootcamp.venue|replace: '\'','\\\''}}</a></h5>' +
              '<h6><a href="{{page.root}}/{{bootcamp.path}}">{{bootcamp.humandate}}</a></h6>' +
              '</div>';

            set_info_window(map, marker, info_window, info_string);
          {% endif %}
        {% endfor %}

        {% for airport in site.airports %}
          {% for i in (1..{{airport.count}}) %}
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng({{airport.latlng}}),
              map: map,
              title: "{{airport.airport}} / {{airport.count}}",
              icon: instructorPin,
              visible: false,
              shadow: pinShadow,
            });

            instructor_markers.push(marker);

            var info_string = '<div class="info-window">' +
              "<h5>{{airport.airport}}</h5>" +
              "<h6>{{airport.count}}</h6>" +
              '</div>';

            set_info_window(map, marker, info_window, info_string);
            {% endfor %}
        {% endfor %}

        // Groups instructor_markers and past_markers into clusters
        var instructor_mcOptions = {
          zoomOnClick: false,
          gridSize: 15,
          minimumClusterSize: 1,
          styles: [{
            url: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/people35.png',
            height: 35,
            width: 35,
            anchor: [16, 0],
            textColor: '#ff00ff',
            textSize: 10,
          }]
        }

        var past_mcOptions = {
          zoomOnClick: false,
          maxZoom: 6,
          gridSize: 15,
          minimumClusterSize: 1,
          styles: [{
            url: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m1.png',
            height: 52,
            width: 53,
            textColor: '#ffffff',
            textSize: 10,
          }]
        }

        var instructor_markersCluster = new MarkerClusterer(null, instructor_markers,instructor_mcOptions);
        var past_markersCluster = new MarkerClusterer(null, past_markers,past_mcOptions);

        // This bit adds a button to the map that toggles the
        // visibility of past boot camps.

        // Create a div to hold the control.
        var pastDiv = document.createElement('div');

        // Set CSS styles for the DIV containing the control
        // Setting padding to 5 px will offset the control
        // from the edge of the map.
        pastDiv.style.padding = '5px';

        // Set CSS for the past bootcamp toggle control border.
        var pastUI = document.createElement('div');
        pastUI.style.backgroundColor = 'white';
        pastUI.style.borderStyle = 'solid';
        pastUI.style.borderWidth = '1px';
        pastUI.style.borderColor = 'rgb(113, 123, 135)';
        pastUI.style.cursor = 'pointer';
        pastUI.style.textAlign = 'center';
        pastUI.style.boxShadow = 'rgba(0, 0, 0, 0.4) 0px 2px 4px'
        pastUI.title = 'Toggle visibility of past boot camps.';
        pastDiv.appendChild(pastUI);

        // Set CSS for the past bootcamp toggle control interior.
        var pastText = document.createElement('div');
        pastText.style.fontFamily = 'Arial,sans-serif';
        pastText.style.fontSize = '12px';
        pastText.style.padding = '1px 4px';
        pastText.innerHTML = '<strong>Past Bootcamps</strong>';
        pastUI.appendChild(pastText);

        // Setup the click event listener
        google.maps.event.addDomListener(pastUI, 'click', function() {
          toggle_markers_mc_visibility(past_markers,past_markersCluster)
        });

        // add control to the map
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(pastDiv);

        // This bit adds a button to the map that toggles the
        // visibility of instructor locations.

        // Create a div to hold the control.
        var instructorDiv = document.createElement('div');

        // Set CSS styles for the DIV containing the control
        // Setting padding to 5 px will offset the control
        // from the edge of the map.
        instructorDiv.style.padding = '5px';

        // Set CSS for the instructor toggle control border.
        var instructorUI = document.createElement('div');
        instructorUI.style.backgroundColor = 'white';
        instructorUI.style.borderStyle = 'solid';
        instructorUI.style.borderWidth = '1px';
        instructorUI.style.borderColor = 'rgb(113, 123, 135)';
        instructorUI.style.cursor = 'pointer';
        instructorUI.style.textAlign = 'center';
        instructorUI.style.boxShadow = 'rgba(0, 0, 0, 0.4) 0px 2px 4px'
        instructorUI.title = 'Toggle visibility of instructor locations.';
        instructorDiv.appendChild(instructorUI);

        // Set CSS for the instructor toggle control interior.
        var instructorText = document.createElement('div');
        instructorText.style.fontFamily = 'Arial,sans-serif';
        instructorText.style.fontSize = '12px';
        instructorText.style.padding = '1px 4px';
        instructorText.innerHTML = '<strong>Instructors</strong>';
        instructorUI.appendChild(instructorText);

        // Setup the click event listener
        google.maps.event.addDomListener(instructorUI, 'click', function() {
          toggle_markers_mc_visibility(instructor_markers,instructor_markersCluster)
        });

        // add control to the map
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(instructorDiv);
      }
    </script>
  </head>
  <body onload="initialize_map()">
    {% include navbar.html %}
    <div class="container">
      <div class="row-fluid">
        <div class="span10 offset1">
          {% if page.title %}
            <h1 class="title">{{page.title}}</h1>
          {% endif %}
          {{content}}
          {% include disqus.html %}
          {% include footer.html %}
        </div>
      </div>
    </div>

    {% include generic-javascript.html %}
    {% include google-analytics.html %}
  </body>
</html>
