---
root: ../..
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
    <title>Software Carpentry: {{page.title}}</title>
  </head>
  <body>
    {% include navbar.html %}
    <div class="container">
      <div class="row-fluid">
        <div class="span10 offset1">
          <h1 class="title">{{page.title}}</h1>
          {{content}}

          <hr/>

          <ul>
          {% for topic in page.children %}
            <li><a href="{{topic.path}}">{{topic.title}}</a></li>
          {% endfor %}
          </ul>

          {% include disqus.html %}
          {% include footer.html %}
        </div>
      </div>
    </div>

    {% include javascript.html %}
    {% include google-analytics.html %}
  </body>
</html>
