---
root: ../..
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
    <title>Software Carpentry: {{page.lesson_title}} / {{page.title}}</title>
    <script type="text/javascript">
      $(function() {
        transform_slides();
      });
    </script>
  </head>
  <body>
    {% include navbar.html %}
    <div class="container">
      <div class="row-fluid">
        <div class="span10 offset1">

          <div class="title">
            {% include prevnext.html %}
            <h1><a href="index.html">{{page.lesson_title}}</a>: {{page.title}}</h1>
          </div>

          {% if page.youtube %}
            <div class="youtube">
              <iframe title="{{page.lesson_title}}/{{page.title}}"
                      src="http://www.youtube.com/embed/{{page.youtube.slug}}"
                      time="{{page.youtube.time}}"
                      width="640" height="506"
                      frameborder="0"
                      allowfullscreen="allowfullscreen"></iframe>
            </div>
          {% endif %}

          <div class="files">
            {% if page.ppt %}
              <a href="{{page.root}}/{{page.ppt}}">slides</a>
            {% endif %}
            {% if page.pdf %}
              <a href="{{page.root}}/{{page.pdf}}">PDF</a>
            {% endif %}
          </div>

          {{content}}
          {% include disqus.html %}
          {% include footer.html %}
        </div>
      </div>
    </div>

    {% include javascript.html %}
    {% include google-analytics.html %}
  </body>
</html>
