---
layout: bootcamp_archived
venue: University of California Berkeley
country: United-States
humandate: April 13-14, 2013
startdate: 2013-04-13
enddate: 2013-04-14
registration: restricted
latlng: 37.8695,-122.258949
instructor: ["Justin Kitzes", "Karthik Ram"]
---
{% include bootcamps/instructors.html %}
<p><strong>Note: Enrollment is restricted to the Energy and Resources Group and Department of Environmental Science, Policy, and Management.</strong></p>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
