---
layout: bootcamp_archived
venue: Lawrence Berkeley National Laboratory
country: United-States
humandate: May 9-10, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-09
enddate: 2013-05-10
registration: restricted
latlng: 37.8759281,-122.2500418
instructor: ["Azalee Bostroem", "Matt Davis", "Tracy Teal"]
---
<p><strong>Note:</strong> Participation in this boot camp is restricted to LBL staff.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
