---
layout: bootcamp_archived
venue: University of Chicago
country: United-States
humandate: June 17-18, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-06-17
enddate: 2013-06-18
latlng: 41.7901128,-87.6007318
registration: restricted
instructor: ["John Blischak", "Will Trimble", "Randy Olson", "Emily Davenport"]
---
<p><strong>Note: Enrollment is restricted to graduate students and postdocs at the University of Chicago.</strong></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
