---
layout: bootcamp_archived
venue: Tufts University
country: United-States
humandate: June 3-4, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-06-03
enddate: 2013-06-04
latlng: 42.35076,-71.06274
instructor: ["Aron Ahmadia", "Jessica Mckellar", "Michael Selik", "Will Trimble"]
registration: restricted
---
<p><em>Registration for this boot camp is restricted to Tufts staff and students.</em></p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
