---
layout: bootcamp_archived
venue: Jagiellonian University
country: Poland
address: Krakow, Poland
humandate: May 18-19, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-18
enddate: 2013-05-19
latlng: 50.060833,19.932778
instructor: ["Aleksandra Pawlik", "Karin Lagesen"]
registration: restricted
---
<p><strong>Note:</strong> This boot camp is restricted to students and staff of Jagiellonian University.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
   <li>using the shell to do more in less time</li>
   <li>using version control to manage and share information</li>
   <li>basic Python programming</li>
   <li>task automation with Make</li>
</ul>
<p>
  <strong>For More Information</strong>:
  For more information, visit the <a href="http://www.doktoranci.uj.edu.pl/start/-/blogs/dobre-praktyki-informatyczne-warsztaty">Jagiellonian University boot camp page</a>.
</p>
