---
layout: bootcamp_archived
venue: DAFx Conference
country: United-Kingdom
address: University of York
humandate: Sept 13-14, 2012
humantime: 9:00 am - 4:30 pm
startdate: 2012-09-13
enddate: 2012-09-14
latlng: 53.9481933,-1.0529144
registration: open
instructor: ["Chris Cannam", "Adam Stark", "Becky Stewart", "Greg Wilson"]
---
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
<p><strong>Requirements:</strong> Please see the Software Setup page for a list of the software you need to install for the boot camp. The final list will also be sent to participants a week before the boot camp.</p>
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
<p><strong>Registration is being handled by the bootcamp organizers. </strong>Please see the following page for further information (accomodation, venue details, etc.): <a title="DAFx Bootcamp" href="http://soundsoftware.ac.uk/york2012-bootcamp">http://soundsoftware.ac.uk/york2012-bootcamp</a></p>
