---
layout: bootcamp_archived
venue: Salk Institute
country: United-States
address: La Jolla, CA
humandate: June 10-11, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-06-10
enddate: 2013-06-11
latlng: 32.887151,-117.246212
instructor: ["Jessica Kerr", "Dhavide Aruliah", "Bill Punch"]
registration: restricted
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
