---
layout: bootcamp_archived
venue: Data Science for Social Good
country: United-States
address: University of Chicago
humandate: June 4-5 and June 17-18, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-06-04
enddate: 2013-06-05
latlng: 41.789722,-87.599722
registration: restricted
instructor: ["Elliott Hauser", "Fernanda Foertter", "John Blischak"]
---
<p>Registration for this boot camp is restricted to fellows of the Data Science for Social Good summer fellowship.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
