---
layout: bootcamp_archived
venue: NESCent
country: United-States
humandate: May 16-17, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-05-16
enddate: 2013-05-17
latlng: 36.00803,-78.92323
instructor: ["Jennifer Bryan", "Karen Cranston", "Ben Morris"]
registration: open
eventbrite: 5899249815
---
<p>See <a href="http://www.nescent.org/about/directions.php">this page</a> for directions.</p>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/r.html %}
{% include bootcamps/contact.html %}
{% include bootcamps/eventbrite.html %}
