---
layout: bootcamp_archived
contact: host-ucl@software-carpentry.org
venue: University College London
country: United-Kingdom
humandate: April 4 and 8, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-04-04
enddate: 2013-04-08
latlng: 51.524789,-0.133578
eventbrite: 5396735782
registration: restricted
instructor: ["Ben Waugh", "James Hetherington", "Miguel Bernabeu", "Andrew Smith"]
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
