---
layout: bootcamp_archived
venue: Carnegie Mellon University
country: United-States
address: Pittsburgh, PA
humandate: July 27-28, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-07-27
enddate: 2013-07-28
latlng: 40.443322,-79.943583
instructor: ["Erik Bray", "Josh Smith"]
registration: open
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}
