---
layout: bootcamp_archived
venue: University of Waterloo
country: Canada
address: Engineering 6 Building, Room 4022
humandate: January 12-13, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-01-12
enddate: 2013-01-13
latlng: 43.4691285,-80.5398649
eventbrite: 4455642948
registration: open
instructor: ["Nasser Mohieddin Abukhdeir", "Greg Wilson"]
---
<p><strong>Where:</strong> [<a href="https://uwaterloo.ca/map/">map</a>]</p>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p><strong>Content:</strong> <strong></strong>The syllabus for this boot camp will include:</p>
<ul>
<li>using the shell to do more in less time</li>
<li>using version control to manage and share information</li>
<li>basic Python programming</li>
<li>how (and how much) to test programs</li>
<li>Scientific Python, manipulation of arrays, matrices, and plotting data</li>
</ul>
{% include bootcamps/contact.html %}
